<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- LevelDb 支持，需安装LevelDb,并将leveldb-sharp.dll拷贝到bin目录
       wget http://leveldb.googlecode.com/files/leveldb-1.15.0.tar.gz
       make 
       cp libleveldb.so.1.15 /usr/local/lib
       echo /usr/local/lib/libleveldb.so.1.15 /etc/ld.so.conf
       ldconfig
  -->
    <dllmap dll="leveldb" target="libleveldb.so.1" />
</configuration>
