:root {
  --banner-bg-color: #000;
  --banner-bg-end-color: #387fff;
  /** 0.8 = 16/20,因基础字体为20px */
  --text-transform-percent: 1;
  /** 引文次要信息,12px */
  --text-xs-size: calc(1.2rem * var(--text-transform-percent));
  /** 正文和正文标题 14px/16px */
  --text-sm-size: calc(1.4rem * var(--text-transform-percent));
  --text-base-size: calc(1.6rem * var(--text-transform-percent));
  /** 标题,使用粗体,18px/20px/24px/30px */
  --text-lg-size: calc(1.8rem * var(--text-transform-percent));
  --text-xl-size: calc(2.4rem * var(--text-transform-percent));
  --text-2xl-size: calc(3.2rem * var(--text-transform-percent));
  --text-3xl-size: calc(4.8rem * var(--text-transform-percent));
}

.header {
  & .header__logo {
    & .header__logo--img {
      max-height: 64px;
    }
  }
}

.section {
  color: #000;

  & .section__sub {
    color: #999;
    font-size: var(--text-sm-size);
  }
}

.arrow {
  i {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
  }
}

.banner {
  color: #fff;
  --animate-delay: 2s;

  .header {
    padding: 2em 0 1em 0;
    height: auto;
    box-shadow: none;
  }
  .text-3xl {
    font-size: 4rem;
  }
  .header__logo--img {
    background-blend-mode: lighten;
  }
  .navigator a {
    color: #fff;
  }
  .banner__main {
    height: 600px;
  }
  .banner__main--title {
    line-height: 1.25em;
  }
  .banner__main--desc {
    color: #eee !important;
    background: #5a6b86 !important;
    border-radius: 15px;
  }
}

.block {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .section__title {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .section__sub {
    max-width: 200px;
  }
}

.section-services {
  background: #fff;

  /*   .block:hover {
    transform: scale(1.25);
    z-index: 999;
    transition: all 0.5s;
    
    .section__sub{
      display: none;
    }
  } */

  .section__icon {
    background: #eee;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }

  .section__icon img {
    height: 76px;
  }
}

.section-teams {
  .block:hover .section__title,
  .block:hover .section__sub {
    transform: scale(1.2);
    z-index: 999;
    transition: all 0.5s;
  }
}

.section-contact {
  background: url(images/footer-bg.jpg);
  background-size: contain;
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2em 0;
  gap: 5px;

  &,
  & a {
    color: #999 !important;
  }
}
