<!DOCTYPE html>
<html>
<head>
    <title>${site.name}</title>
    <link rel="stylesheet" type="text/css" href="/themes/1.1/style.css"/>
</head>
<body>
       ${partial:"inc/header.phtml"}
<div id="main">


    <div id="idxmain">
        <div class="container">
                 
            <p class="center" style="text-align:center;font-size:28px;"><br /><br /><br /><br /><br />
                File not found!
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            </p>


           <div class="clearfix"></div>
        </div>
    </div>
    </div>
    ${partial:"inc/footer.phtml"}
    
</body>
</html>
