$product=>getcategory("产品")
$aboutus="aboutus"
$newsid="news"


<!DOCTYPE HTML>
<html>
<head>
    <title>${page.title}</title>
    <link rel="stylesheet" type="text/css" href="${page.tpath}/images/css/style.css" />
    <script type="text/javascript" src="${page.fpath}/global.js?hover=navi,clist"></script>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    <link rel="EditURI" type="application/rsd xml" title="RSD" href="xmlrpc.ashx?wsd" />
</head>
<body>

    <!--
        @eachcategory('news',10,t,n,u)

        <div class="newslist">
            <div class="title"><b>{n}</b><span class="right"><a href="{u}">更多...</a></span></div>
            <ul>
                $archives('{t}',false,10,'
                <li><a href="{url}">{title2}</a></li>
                ')
            </ul>
        </div>
        @each off

    -->



    ${partial:"inc/header.phtml"}
    ${partial:"inc/banner.phtml"}
    <section>
   <div class="inner clear">
       <div class="Cen--left Fl">
		    <h3 class="Cen--title1 Pr">
			    <span class='Cen--title-name'>产品中心</span>
			    <a href="#" class="Cen--more1" title="产品中心" target='_self'>更多>></a>
		    </h3>		

		    <div class="clear Cen--border Cen--left-box DG1 riconte Pr">
		       <div class="caseimg focus" style="height:150px;width:150px;">
		          <ul class="rslides f426x240" style="height:150px;width:150px;">
                        $archives(${product},15,'
				        <li>
					         <a href="{url}" title="{title}">
						         <img src="{thumbnail}" alt="{title}" title="{title}" width="150" height="150"/>
						     </a>
					    </li>')
				  </ul>
		       </div>
			  <div class="clear"></div>
              <i class="rt"></i>
              <i class="lb"></i>
              <i class="rb"></i>
		   </div>
		   <div class="clear"></div>
	   </div>	   
       <div class="Cen--cen Fl">
		    <h3 class="Cen--title Pr">
			    <span class='Cen--title-name'>公司简介</span>
			    <a href="#" class="Cen--more" title="公司简介" target='_self'>更多>></a>
		    </h3>
		    <div class="clear Cen--border Cen--cen-box DG1">
                $archive(${aboutus},'
                <div class="editor clear">
                    <img src="{thumbnail}" alt="{title}" style="width: 160px; margin: 3px 8px; float: left; height: 136px;" />
                    {outline[120]}
                </div>')
		    </div>
	   </div>
       <div class="Cen--right Fl">
		    <h3 class="Cen--title1 Pr">
			    <span class='Cen--title-name'>公司动态</span>
			    <a href="#" class="Cen--more1" title="公司动态" target='_self'>更多>></a>
		    </h3>
		    <div class="clear Cen--border Cen--right-box DG1">
                <div class="clear Cen--right-list"><ol class='list-none metlist'>
                $self_archives(${newsid},10,'
                <li class="list top"><span class="time">{publishdate}</span><a href="{url}" title="{title}">{title2}</a></li>
                ')
                </ol></div>
		    </div>
	   </div>
	   <div class="clear"></div>
   </div>
   	   <div class="clear"></div>
</section>

<footer>
    ${partial:"inc/footer.phtml"}
	
<div class="F--Bot">
    <div class="inner clear">
    <div class="F--Bot-link Fl">友情链接：</div>
	
	   <div class="TUimg">
       $friend_fink()
	   </div>
	
       <div class="clear"></div>
	</div>
</div>
	</footer>
    
    
</body>
</html>
