body{color:#333;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;}
/*
h1{font-size:1.25em;padding:0;padding-bottom:30px;}
a:link,a:visited{color:#333;}
a:hover{color:#D50000;}
.relative{position: relative;}
.pull{float:left;}
.push{margin-right:3%;float:left;}
.arrow{background:url(img/arrow.gif) no-repeat;width:10px;height:10px;display:inline-block;margin-right:3px;}
table{border:solid 1px #333;}
table td{border:solid 1px #333;padding:0 10px;}
*/

/* 混合图文列表 */
.mod-mix-archive-lists li{position: relative;padding-left:90px;margin-top:15px;border-bottom:dashed 1px #CCC;padding-bottom:15px;}
.mod-mix-archive-lists li:last-child{border:0;}
.mod-mix-archive-lists img.thumbnail{width:75px;position: absolute;left:0;top:0;}
.mod-mix-archive-lists .title{font-weight:400;font-size:1.2em;line-height:1em;display:block;
    padding-bottom:15px;letter-spacing:.5px;}
.mod-mix-archive-lists .dt{position: absolute;right:0;top:0;line-height:1em;}
.mod-mix-archive-lists p{height:3.6em;overflow:hidden;line-height:1.2em;color:#666;font-size:0.9em;}



/* 全局元素样式 */

/* gra-mg5 */
.gra-mg5{margin:5px 0;}

/* mod-top-bar 头部工具栏 */
.mod-top-bar{background:#f5f5f5;line-height:2.5em;}
.mod-top-bar .qr{position:relative;margin-left:1em;}
.mod-top-bar .qr img{display: none;}
.mod-top-bar .qr:hover img{display: block;position:absolute;left:55px;top:20px;max-width:80px;
    border:solid 1px #ddd;padding:2px;background:#FFF;z-index:10;z-index:300;}
.mod-top-bar i.phone{background:url(img/hd-phone.png) 0 6px no-repeat;padding:10px;}
.mod-top-bar ul{margin:0;list-style: none;}
.mod-top-bar ul li{float:left;margin-left:10px;}

/* mod-header 头部 */
.mod-header{background:#FFF;box-shadow:0 2px 6px #EEE;position:relative;z-index:1000;}
.mod-header-logo,.mod-header .logo,header .logo{position:relative;float:left;vertical-align: middle;}
.mod-header-logo a,.mod-header .logo a,header .logo a{position:absolute;top:0;bottom:0;margin:auto;display:block;width:100%;height: 100%;}
.mod-header-logo .mask{position:absolute;left:0;top:0;margin:auto;display:block;background:none;width:100%;height: 100%;}
.mod-header-search{padding:30px 0 0 60px;float:left;}
.search-input{border:solid 1px #CCC;height:28px;line-height:28px;float:left;
    padding:0 5px;width:190px;border-right:none;font-weight: bold;vertical-align: middle;}
.mod-header .search-btn{cursor:pointer;background:#666;padding:0 10px;border:none;height:30px;color:#FFF;vertical-align: middle;}
.mod-header .mod-header-words{color:#666;font-weight: bold;margin:0.5em 0;display:none;}
.mod-header .mod-header-words a{text-decoration:none;color:#666;margin:0 5px;font-weight:normal;}

/* mod-header-riod-header-right */
.mod-header-right{float:right;}

.page-header .ch-lang{position: absolute;right:0;top:0em;/*! background:#575757; */}
.page-header .ch-lang img{width:15px;height:10px;margin:8px;vertical-align: middle;}
.page-header .ch-lang .drop:hover,.page-header .ch-lang .hover{}
.page-header .ch-lang .drop{line-height: 30px;display:inline-block;cursor:pointer;}
.page-header .ch-lang .drop div.menu{top:30px;background:#F0F0F0;padding:10px;min-width:100px;
right:0;left:auto;border:solid 1px #D5D5D5;}
.page-header .ch-lang  a{text-decoration: none;color:#726C6C;/*! padding-left: 15px; */}

.page-header .panel{position:relative}
.page-header .contact{position: absolute;right:0;top:2.2em;font-size:1.4em;/*! width:250px; */}
.page-header .contact .lft{margin-right:1em;font-size:12px;float:left;}


/* mod-navigator 导航 */
.mod-navigator{margin:0 auto; background:#D6000D; height:auto; box-shadow:0 5px 10px #BF0000 inset;line-height:35px;}

/*.mod-navigator .mod-navigator-left{background:url(navigator_lft.gif) left top no-repeat;}
.mod-navigator .mod-navigator-right{background:url(navigator_rgt.gif) right top no-repeat;}
.mod-navigator .mod-navigator-nav{background: url(navigator_navs_bg.gif) 120px top no-repeat;}*/
.mod-navigator-nav ul{}
.mod-navigator-nav li.l1{text-align:center;font-weight:bold;
    border-left: solid 1px #EF4B4B;border-right: solid 1px #B90202;width:12%;text-align:center;}
.mod-navigator-nav li.first{border-left:none;}
.mod-navigator-nav li.last{background-image:none;}
.mod-navigator-nav li.current{background-color:#bc0000;margin:0;}
.mod-navigator-nav li.last,.mod-navigator-nav li.last a{border:none;}
.mod-navigator-nav li a.l1{color:#FFF;text-decoration:none;text-align:center;display:block;}
.mod-navigator-nav li.current a.l1{color:#FFF;border-bottom-color:transparent;}
.mod-navigator-nav li.parent:hover{background:#333 url(nav-curr-up.png) center 40px no-repeat;}
.mod-navigator-nav li.parent a.l1:hover{color:#FFF;}
.mod-navigator-nav li.parent .child a.l2{color:#333;}
.mod-navigator-nav li.parent .child a.l2:hover{color:#FF0000;}

/* 子菜单 */
.mod-navigator-child{top:35px;left:0px;right:0;margin:0 auto;min-width:300px;z-index;600;
    background:#F0F0F0;border:solid 1px #aaa;border-top:5px;text-align:left;;}
.mod-navigator-child .box{border-top:0;padding:3em;}
.mod-navigator-child .menu li{border-bottom:dashed 1px #ddd;margin:0;font-size:80%;width:auto;}
.mod-navigator-child .menu li a.l2{padding:0;line-height:2em;color:#666;border:none;}
.mod-navigator-child .menu li a.l2:hover{color:#000;text-decoration: none;}

/* mod-nav-menu */
.mod-navigator .col{float:left;border-right:dashed 1px #DDD;}
.mod-navigator .last-col{border:none;}
.mod-navigator .col ul{margin:0 5px 0 40px;padding:0;list-style:none;width:110px;}
.mod-navigator .col li{width:100%;border:none;text-align:left;float:left;}
.mod-navigator .col li.tit{font-weight: bold;font-size:1.2em;color:#D50000;margin-bottom:10px;position:relative;}
.mod-navigator .col li.tit a{position:absolute;left:6em;top:0;font-size:12px;background:#d50000;padding:0 5px;line-height:20px;}
.mod-navigator .col li.tit a:hover{background:#333;}
.mod-navigator .col li:hover{background:none;}
.mod-navigator .col li a{line-height:25px;font-weight:normal;border:none;text-align:left;text-decoration:none;}
.mod-navigator .col li a:hover{color:#D50000;background:none;}
.mod-navigator .child3{width:650px;}
.mod-navigator .child10{width:580px;}
.mod-navigator .child13{width:580px;}
.mod-navigator .category-col ul{width:120px;}
.mod-navigator .category-col li{/*width:50%;float:left;*/}
.mod-navigator .category-col li.tit{width:100%;}
.mod-navigator .category-col li.more{padding-left:60px;width:50px;}
.mod-navigator .category-col li.more a{display:block;color:#666;/*background:#666;color:#FFF;*/text-align:center;line-height:1.6em;}
.mod-navigator .category-col .c5,.page-navigator .category-col .c6,.page-navigator .category-col .c7,
.mod-navigator .category-col .c8{display:none;}
.mod-navigator .brands-col .tit{width:100%;}
.mod-navigator .brands-col ul{width:150px;}
.mod-navigator .brands-col li{/*width:33%;*/font-weight:normal;}
.mod-navigator .brands-col li img{border:solid 1px #ddd;margin-right:10px;width:100px;}
.mod-navigator .img{position:absolute;right:2em;top:3em;}
.mod-navigator div.outline{font-weight: normal;padding:0 1em;margin-left:160px;text-indent:2em;
    line-height:1.8em;color:#333;text-shadow:0 1px 0 #EEE;}
.mod-navigator div.outline a{color:#D50000;font-weight:bold;}
.mod-navigator div.outline a:hover{color:#666;}

/* mod-flash-banner */
.mod-flash-banner{position: relative;max-width:1440px;margin:0px auto;}
.mod-flash-banner .flash-pager{position:absolute;right:10px;bottom:2em;width:200px;left: auto;}
.mod-flash-banner .flash-pager a{width:22px;height:22px;margin-right:10px;line-height:22px;font-size:1.2em;}
.mod-flash-banner .top{display:none;position:absolute;left:0;right:0;margin:auto;width:100%;height:100%;
    background:url(flash-cover.png) center no-repeat;;background-size:100% 100%;}
.mod-flash-banner li{position:relative;}
.mod-flash-banner li div.panel{position:absolute;left:0;right:0;margin:auto;}
.mod-flash-banner li div.g,.mod-flash-banner li div.p{position:absolute;width:300px;height:220px;
    padding:20px;left:0;top:5em;}
.mod-flash-banner li div.g{opacity:0.9;background:#EEE;}
.mod-flash-banner li div.p{font-size:1.4em;color:#FFF;top:3.8em;width:320px;}
.mod-flash-banner li div.p h2{font-size:1.2em;border-left:solid 8px #D50000;color:#FFF;padding-left:0.5em;margin:0;line-height:2em;
    background:#333;}
.mod-flash-banner li div.p p{margin:1em 20px 1em 0;text-indent:1em;line-height:1.7em;color:#000;}

/* mod-crumb 面包屑 */
.mod-crumb{line-height:3em;background:#F5F5F5;color:#333;padding-left:1em;
    text-shadow:0px 0px 0 #FFF;position:relative;}
.mod-crumb a{color:#333;text-decoration: none;margin:0 5px;}
.mod-crumb .rgt{position: absolute;right:1em;top:5px;}

/* mod-nav-side 边栏 */
.mod-nav-side {}

/* mod-nav-border */
.mod-nav-border .tit {background: #CCC;line-height: 3em;padding: 0 1em;margin-bottom: 0;color: #FFF; font-weight: bold;}
.mod-nav-border .content{}
.mod-nav-border .archive-list{margin: 1em}
.mod-nav-border .archive-list li { height: 2em;line-height: 2em;overflow: hidden;}

/* mod-cat-list */
.mod-cat-list{padding:0;margin:0;list-style:none;}
.mod-cat-list a{text-decoration:none;color:#666;}
.mod-cat-list li{padding:0 1em;line-height:2.5em;}
.mod-cat-list li.current{background:url(tit-bar-03-no-r.png) no-repeat;background-position:0 -36px;}
.mod-cat-list li.current a{color:#FFF;font-weight:bold;display:block;}

/* mod-footer 底部 */
/*

.mod-footer{margin-top:5em;font-size:1em;line-height:2em;text-align:center;background:#FCFCFC}
.mod-footer-con{padding:1em 0;}
.mod-footer .small {font-size: 12px;}

.mod-quick-link{padding:2em 0;background:#F0F0F0;box-shadow:0 0 20px #EEE inset;margin-bottom:0;}
.mod-quick-link .col{float:left;width:16%;}
.mod-quick-link .col-last{width:36%;}
.mod-quick-link .con-last{border-left:solid 1px #BBB;margin-right:0;padding-left:10%;text-align:left;position:relative;}
.mod-quick-link .col div.con{padding:2px 0 0 0;margin-right:30%;}
.mod-quick-link .col .tit{font-weight:bold;color:#D50000;font-size:1.1em;margin-top:0;}
.mod-quick-link .col-last div.con{border:none;}
.mod-quick-link .col a:link,.page-footer .col a:visited{display: block;margin:10px 0;color:#666;text-decoration: none;}
.mod-quick-link .col a:hover{color:#D50000;text-decoration:underline;}
.mod-quick-link .col p{line-height:2.5em;}

*/
.mod-footer{font-size:1em;line-height:2em;}

/* mod-friend-link : 友情链接 */
.mod-friend-link{font-size:12px;}
.mod-friend-link i{padding-right:10px;color:#CCC;}



/** 反馈 */
.mod-feedback{}
.mod-feedback .container{background-size:cover;padding:30px;}
.mod-feedback-tit,.mod-feedback-sub-tit{color:#FFF;padding-left:15px;}
.mod-feedback-tit{font-size:18px;font-weight: bold;}
.mod-feedback-sub-tit{margin-bottom:30px;}
.mod-feedback-form{padding:15px;box-shadow:0 0 15px rgba(0,0,0,0.1);border-radius:3px;}
.mod-feedback .wx{text-align:center;color:#FFF;font-weight:bold;}
.mod-feedback .wx img{background:#FFF;width:80%;padding:15px;}
.mod-feedback-form label{padding-top:15px;display:block;}
.mod-feedback-button{text-align:right;padding-top:15px;padding-bottom:15px;}

/** 即时聊天 */
.mod-instant-chat{position:fixed;top:70%;right:30px;border:solid 3px #707070;border-radius:50px;
    display:block;width:60px;height:60px;background:#FFF;background-size:50%;cursor:pointer;}
.mod-instant-chat .gra-pop{position:absolute;top:-60px;left:-20px;right:-20px;text-align:center;display:none}
.mod-instant-chat:hover .gra-pop{display:inherit;}





/* UNSORTED */

.auto-fit{position:relative;padding-top:60px;text-align:center;}
.auto-fit img{max-width:100%;max-height:100%;position: absolute;left:0;top:0;right:0;bottom:0;margin:auto;}

.proc{margin:0;padding:0;list-style:none;}
.proc li{border-bottom:dashed 0px #ddd;margin:2px 0em;line-height:2.4em;}
.proc li a:link,.proc li a:visited{color:#333;text-decoration:none;display:block;background:#FFF;padding:0 2em;}
.proc li a:hover{background:#D50000;color:#FFF;}
.box1 .side-title{border-bottom:none;background-position:0 -50px;color:#FFF;background:#333;margin:0;
    line-height:2em;}
.page-main .box1 .content{border:none;background:transparent;}
.side .hot-list{margin:0;list-style:none;padding:1em 1.5em;}
.side .hot-list li{line-height:2em;height:25px;overflow:hidden;border-bottom:dashed 1px #ddd;margin:5px 0;}
.side .hot-list li a:link{text-decoration:none;color:#777;}
.side .hot-list li a:hover{color:#D50000;}
