<!DOCTYPE html>
<html>
	<head>
		<title>编辑模板</title>
    $css()
    <style type="text/css">
      #ifr{width:100%;z-index:0;}
      .tplinfo{position:absolute;right:1px;top:2px;z-index:100;}
    </style>
	</head>
<body style="overflow-y:hidden">
  <div class="tplinfo">
  <!--
    【当前视图目录】:<span class="txt">/templates/${tpl}/</span>&nbsp;&nbsp;<a href="?module=system&action=appconfig">设置</a>-->
     &nbsp;&nbsp;选择文件：<select class="tb_normal" id="files">${tplfiles}</select>
     &nbsp;&nbsp;创建文件：<input type="text" id="tplname" class="tb_normal" style="width:120px"/>
     <select id="tpltype" class="tb_normal" style="width:100px"><option value="0">页面视图</option><option value="1">部分视图</option></select>
     <input type="button" value="创建" class="btn" id="createview" />
     <a href="javascript:;" class="btn fn" fn="download">下载模板</a>
  </div>
  <iframe id="ifr" src="about:blank" frameborder="0" scrolling="no"></iframe>
$js()
  <script type="text/javascript">
    var filelist = document.getElementById('files'),
      ifr = document.getElementById("ifr");

    ifr.style.height = (document.documentElement.clientHeight) + "px";
    var src = '';

    for (var i = 0; i < filelist.options.length; i++) {
        if (filelist.options[i].value.indexOf('/index.html') != -1) {
            src = filelist.options[i].value;
            filelist.options[i].setAttribute('selected', 'selected');
            break;
        }
    }


    if (src == '') {
        src = filelist.options[0].value;
        }
        ifr.src = '?module=template&action=editfile&path=' + src;


        filelist.onchange = function () {
            if (/\.css/g.test(this.value)) {
                ifr.src = '?module=file&action=editfile&path=' + this.value;
            } else {
                ifr.src = '?module=template&action=editfile&path=' + this.value;
            }
        };

        j6.$('createview').onclick = (function (t) {
            return function () {
                var tplname = j6.val('tplname');
                var tpltype = j6.val('tpltype');
                if (tplname != '') {
                    j6.xhr.post('?', 'module=template&action=createview&name=' + tplname + '&type=' + tpltype, function (x) {
                        if (x.indexOf('.') == -1) {
                            parent.M.alert(x);
                        } else {
                            location.replace('?module=template&action=edit&file=' + x);
                        }
                    });
                }
            };
        })(this);

        //下载模板
        window.Fn.download = function () {
            location.href = '?module=template&action=DownloadZip&tpl=${tpl}';
        };
  </script>
</body>
</html>