<!DOCTYPE html>
<html>
<head>
  <title>模板设置</title>
  $css()
</head>
<body>

  <style type="text/css">
    textarea{width:400px;height:60px;}
    dt{width:120px;float:left;}
    .btnarea{border-top:solid 1px #e5e5e5;padding-left:120px;padding-top:10px;}
  </style>


<div class="_tabarea">
    <div class="area" style="margin:20px;">
        <form action="" method="post" id="form">
        		<dl><dt>模板错误:</dt><dd>
	        		<input type="radio" id="show_error"/><label for="show_error">显示</label> 
	        		<input type="radio" id="hidden_error"/><label for="hidden_error">不显示</label></dd>
        		</dl>
                <dl><dt>摘要长度:</dt><dd><input type="text" class="tb_normal ui-validate" isnumber="true" field="tpl_cfg_outlinelength" value="${tpl_CFG_OutlineLength}" style="width:30px"/>&nbsp;字<span style="color:Red">(用于显示在列表中的描述，默认80字)</span></dd></dl>
                <dl><dt>Sitemap分割符:</dt><dd><textarea class="tb_normal singlerow" field="tpl_cfg_sitemapsplit" value="${tpl_cfg_sitemapsplit}">${tpl_cfg_sitemapsplit}</textarea></dd></dl>
                <dl><dt>Tags链接格式:</dt><dd><textarea class="tb_normal singlerow" field="tpl_cfg_archivetagsformat">${tpl_cfg_archivetagsformat}</textarea></dd></dl>
                
                <dl><dt>允许匿名评论：</dt><dd><input type="checkbox" class="tb_normal" style="width:auto;border:none;" field="tpl_cfg_allowamouscomment" ${tpl_CFG_allowAmousComment} /></dd></dl>
                <dl><dt>评论HTML:</dt><dd><textarea class="tb_normal" field="tpl_cfg_commenteditorhtml">${tpl_CFG_CommentEditorHtml}</textarea></dd></dl>
                <dl><dt>友情链接显示条数:</dt><dd><input type="text" class="tb_normal ui-validate" isnumber="true" field="tpl_cfg_friendshownum" value="${tpl_CFG_FriendShowNum}" style="width:30px"/>&nbsp;条</dd></dl>
                <dl><dt>友情链接格式:</dt><dd><textarea class="tb_normal" field="tpl_cfg_friendlinkformat">${tpl_CFG_FriendLinkFormat}</textarea></dd></dl>
                <dl><dt>导航链接格式:</dt><dd><textarea class="tb_normal" field="tpl_cfg_navigatorlinkformat">${tpl_CFG_NavigatorLinkFormat}</textarea></dd></dl>
                <dl><dt>子导航链接格式:</dt><dd><textarea class="tb_normal" field="tpl_cfg_navigatorchildformat">${tpl_CFG_NavigatorChildFormat}</textarea></dd></dl>
                <dl><dt>流量统计格式:<</dt><dd><textarea class="tb_normal" field="tpl_cfg_trafficformat">${tpl_CFG_TrafficFormat}</textarea></dd></dl>
                <div class="btnarea"><a class="btn leftbtn" onclick="return submitForm()" href="javascript:;">提交</a></div>

        </form>
    </div>

</div>

$js()
<script type="text/javascript">
    function submitForm() {
        if (cms.validator.validate()) {
            cms.xhr.jsonPost(location.href, cms.json.toObject(document), function (json) {
                if (json.result) {
                    tip(json.message);
                } else {
                    tip(json.message);
                }
            });
        }
        return false;
    }
    function tip(msg) {
        parent.M.alert(msg);
    }


</script>

</body>
</html>
