*.pdb
*.txt
*.suo
.vs
*.pid
Debug
dist
obj
bin/*
.backup
src/*.dll
/chunk/Source_Code/UIApp/Ops.Cms.WebUI/config/cms.config.mssql
/chunk/Source_Code/Framework/Ops.Cms.Cache/CacheCompoment
bin
tmp
dist
/chunk/dist/atnet.devfw.dll
/chunk/dist/atnet.cms.dll
/chunk/dist/leveldb-sharp.dll
/chunk/dist/Newtonsoft.Json.dll
/chunk/dist/atnet.cms.extend.dll
/chunk/Source_Code/UIApp/Ops.Cms.WebUI/config/cache.pid
/chunk/dist/plugins
packages
.vs
/script/generator/generated_code
output
/cms/core/JR.Cms.Core/*.user
.DS_Store

