*.pdb
*.txt
*.suo
.vs
*.pid
Debug
dist
obj
bin/*
.backup
src/*.dll
/chunk/Source_Code/UIApp/Ops.Cms.WebUI/config/cms.config.mssql
/chunk/Source_Code/Framework/Ops.Cms.Cache/CacheCompoment
bin
tmp
out
dist
/chunk/dist/atnet.devfw.dll
/chunk/dist/atnet.cms.dll
/chunk/dist/leveldb-sharp.dll
/chunk/dist/Newtonsoft.Json.dll
/chunk/dist/atnet.cms.extend.dll
/chunk/Source_Code/UIApp/Ops.Cms.WebUI/config/cache.pid
/chunk/dist/plugins
packages
.vs
/script/generator/generated_code
output
/cms/core/JR.Cms.Core/*.user
.DS_Store
.idea

/src/TestResults
*.user
cms.config
devsofts
txxf
*.tar.gz
src/NetFx/JR.Cms.AspNet.App/config/
src/NetFx/JR.Cms.AspNet.App/public
src/NetFx/JR.Cms.AspNet.App/templates
src/NetFx/JR.Cms.App/templates/fze
src/NetFx/JR.Cms.App/config
src/NetFx/JR.Cms.AspNet.App/public
src/NetFx/JR.Cms.AspNet.App/oem
src/NetFx/JR.Cms.AspNet.App/install
src/NetFx/JR.Cms.AspNet.App/uploads
*.blob

/src/JR.Cms.App/index.html
