<!DOCTYPE html>
<html>
<head>
    <title>${categoryName}${pagetitle}-$site('name')</title>
    <link rel="Stylesheet" href="$domain()$templatepath()/style.css" type="text/css" />
    <script type="text/javascript" src="$domain()/scripts/global.js?hover=navi,clist"></script>
    <meta name="keywords" content="${keywords}"/>
    <meta name="description" content="${description}"/>
</head>
<body>
    ${partial:"inc/header.phtml"}

        <div class="container">
            
            <div class="side">
                 <h2 class="title">${categoryName}</h2>
                <ul class="clist">
                    $categories('${categoryTag}',1,'<li{class}><a href="{url}">{name}</a></li>')
                    
                            $categories('${category.tag}','<li><a href="{url}">{name}</a></li>')
                </ul> 
                
                <div class="border">
                     <div class="title">楠枫交流平台</div>
                     <ul>
                         <li>QQ群:$site('qq')</li>
                         <li>腾讯微博:</li>
                         <li>新浪微博:</li>
                         <li>联系电话:$site('tel')</li>
                     </ul>
                 </div>
                 
                 
                 $archive('sideleft','{content}')
            </div>

            <div class="main">
            		<div class="sitemap"><span class="title">${categoryName}</span>您的位置:<a href="$domain()/">网站首页</a>>$sitemap()</div>
                    <div class="hr"></div>
                    


                 <div class="palist news">

                        $pager_archives(5,'
                                        <p class="item">
                                            <a class="title" href="{url}" target="_blank" title="{title}">{title2}</a><br />
                                            <span class="outline">{outline}</span>
                                            <span class="time">{createtime2}</span>
                                            <span class="count">浏览：{count}次</span>
                                        </p>
                
                        ')

                </div>
                $pager()

                <br /><br />

            </div>

           <div class="clearfix"></div>
        </div>


    ${partial:"inc/footer.phtml"}
    
</body>
</html>
/body>
</html>
