<!DOCTYPE html />
<html>
<head>
    <title>${page.title}</title>
   <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css?v=${page.built}" type="text/css" />
    <link rel="stylesheet" href="${page.tpath}/flowplayer/skin/minimalist.css?v=${page.built}">
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>
${partial:"include/header.phtml"}



<div class="sitemap">
   <div class="panel">当前位置:<a href="/">首页</a> > $sitemap() > ${archive.title}</div>
</div>

<div class="page-main page-video">
    <div class="panel">
        <div class="side pull">
        </div>
        <div class="pull main">
       		<div class="web-player" id="player"></div>
        </div>
    </div>
</div>

${partial:"include/footer.phtml"}

        <script type="text/javascript" src="${page.fpath}/core.js?hover=clist,alist,navi&amp;v=${page.built}"></script>
    <script type="text/javascript" src="${page.tpath}/flowplayer/flowplayer.min.js?v=${page.built}"></script>
        <script type="text/javascript">
            window.onload = function () {
              flowplayer("#player", {
                autoplay: !true,
                keyboard: false,
                fullscreen: false,
                embed: false,
                ratio: 6/8,
                  // logo: "https://flowplayer.org/media/img/mylogo.png",
                  //key: "$130763224349944, $863732616083910",
                clip: {
                  sources: [
                  { type: "video/flv",             src: "${archive.__dict__[视频地址]}"  }
                  ]
                }
            
              }).on("ready", function (e, api) {
                api.disable(true);
            
              }).on("finish", function () {
              });
            
            };
        </script>
</body>
</html>
