<header class="header">
  <div class="container">
    <div class="header__logo mod-header-logo col-lg-4 col-4">
      <img
        class="header__logo--img"
        src="${page.tpath}/images/logo.png"
        alt="${site.name}"
      />
      <!-- <div class="header__logo--text h1 text-3xl">LOL</div> -->
      <a class="header__logo--mask" href="${page.domain}"></a>
    </div>

    <div class="mod-header-nav g-align-right col-lg-8 col-sm-6 hidden-xs">
      $navigator()
    </div>

    <div class="hidden-lg hidden-md hidden-sm nav-toggle g-text-right col-8">
      <i class="fa fa-bars"></i>
    </div>

    <div
      class="toggle-navigator hidden-lg hidden-xl hidden-sm hidden-md col-xs-12"
    >
      $navigator()
    </div>
  </div>
</header>
