<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/css/default/page.css?v=${page.built}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>
    ${partial:"include/header.phtml"}
    
    <div class="mod-crumb">
       <div class="container">$lang(sitemap_location):<a href="/">$lang(home)</a> > $sitemap()</div>
    </div>
    
    <div class="page-branch layout panel">
        <div class="branch-top">
        	$archive('branch-top','{content}')
        </div>


         <div class="l hidden">
                  <div class="where-izq">
                    <div class="title-where">
                    $lang(district)</div>
                    <img width="228" title="China" alt="China" src="${page.tpath}/themes/default/china.png">
                  </div>

                  <div>
                    ${category.description}
                  </div>
                <div class="clearfix"></div>
            </div>


        <div id="tab1">
          <div class="tab">
            <ul>
              <li id="b-factory" class="item current"><span class="icon"></span>
                $lang(factory)
              </li>
               <li id="b-trade" class="item"><span class="icon"></span>
                $lang(trade)
              </li>
               <li id="b-finance" class="item"><span class="icon"></span>
                $lang(finance)
              </li>
              <li id="b-project" class="item"><span class="icon"></span>
                $lang(install-company)
              </li>
            </ul>
          </div>

            <div class="clear"></div>
           

             <div class="frames">
                 @eachcategory(10,t,n,u)
                <div class="frame hidden">
                     $archives('{t}','20','
                 <div class="b-items {class}">
                   <div class="box">
                    <h2 class="title">{title}</h4>
                    <h3 class="subtitle">{分公司_英文}</h5>

                    <div class="col img">
                      <div class="auto-fit">
                        <img src="{thumbnail}" alt="{title}" height="150"/>
                      </div>
                    </div>
                    <div class="col contact">
                      <div class="addr hidden">
                        {分公司_地址}  
                        </div>
                        <b class="tit">联系方式：</b>
                        <ul>
                          <li><b>负责人：</b>{分公司_联系人}</li>                            
                          <li><b>电话:</b>{分公司_电话}</li>
                          <li><b>QQ：</b>{分公司_QQ}</li>
                          <li><b>地址：</b>{分公司_地址}</li>
                        </ul>
                    </div>
                    <div class="col intro">
                        {content}
                    </div>
                    <div class="clear"></div>
                  </div> 
                 </div>
                 ')
              </div>
              @each off
            </div>
          </div>
        </div>
    
    
           ${partial:"include/footer.phtml"}
        <script type="text/javascript" src="${page.fpath}/base.min.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
        <script type="text/javascript">
          tabCard(j6.$('tab1'),'click');
          if(location.hash.length >0){
            var t = location.hash.substring(1);
            j6.$('b-'+t).onclick();
          }else{
            j6.$('b-factory').onclick();
          }
        </script>
       
     </body>
</html>
