<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>${page.title}</title>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}"/>
    <link rel="stylesheet" type="text/css" href="/themes/1.1/style.css"/>
    <script type="text/javascript" src="${page.tpath}/script.js"></script>
</head>

<body>
    ${partial:"inc/header.phtml"}
<div id="main">
	<div id="right">
		<div id="location"><a href="${page.domain}">$lang(home)</a>::$sitemap()</div>
	  	<div>

    <p class="title">${category.name}</p>
		<div class="content" style="height:450px">
			<ul class="view gallery">
   
        $categories(${category.tag},'
                <li style="width:150px"><h4><a href="{url}">
                    <img src="{icon}" alt="{name}" title="{name}"/>
                    <br />{name}
                        </a>
                    </h4>
                </li>')
			</ul>

		</div>


		</div>
		
	</div>
	
	<div id="left">
        ${partial:"inc/welcome.phtml"}
		<div class="subnav">
            <p class="title">$lang(gallery)$lang(space)$lang(category)</p>
            $categories(${category.tag},'
            <h2><a id="a_cert_class_20" href="{url}" title="{name}">{name}</a></h2>
      		')
            
		</div>
      
        ${partial:"inc/filesdownload.phtml"}
      
		<div id="left_btm"></div>
	</div>
	<div class="clear"></div>
</div>
		
        ${partial:"inc/footer.phtml"}

        <script type="text/javascript">
             showBgImage(4);
        </script>
            </body>
</html>


