<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    <link rel="stylesheet" type="text/css" href="${page.fpath}/base.css?${page.built}" />
    <link rel="stylesheet" type="text/css" href="${page.tpath}/2013/v1/style.css" />
    <link rel="stylesheet" href="${page.tpath}/css/page.css?${page.built}" />
    <link rel="stylesheet" href="${page.tpath}/css/product.css?${page.built}" />
    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}"></script>
    <script type="text/javascript" src="${page.tpath}/script.js?v=${page.built}"></script>
</head>

<body>
    ${include:"include/header.html"}
    <div id="main" class="container-fluid">
        <div class="col-md-9 col-sm-9 col-xs-12 push">
            <div id="location" class="mod-sitemap sitemap">
                <a href="${page.domain}">$lang(home)</a>::$sitemap()
                ${include:"include/share.html"}
            </div>
            <div>
                <p class="title">${category.name}
                    <a href="${page.domain}/product/" title="View all LMS's products" style="float:right;font-weight:normal;color:red">>> Click here view all products!</a></p>
                <br />
                @eachcategory(${category.path},100,tag,name,curl)
                <div class="mod-prod-cates clearfix">
                    <h2 class="pull"><a href="{curl}" title="More {name} product">{name}</a></h2>
                    <span class="more push">
                        <a href="{curl}">$lang(more)</a>
                        <i class="arrow arrow-r"></i>
                    </span>
                </div>
                <ul class="mod-prod-list">
                    $archives({tag},4,'
                    <li class="col-md-3 col-sm-3 col-xs-6">
                        <div class="b">
                            <a href="{url}">
                                <div class="g-suited-img g-suited-img-34 gra-suited-img gra-suited-img-34">
                                    <span class="mask"></span>
                                    <img src="{thumbnail}" alt="{raw_title}" />
                                </div>
                            </a>
                            <div class="tit">
                                <a href="{url}">{title}</a>
                            </div>
                            <p>{outline}</p>
                        </div>
                    </li>')
                </ul>
                @each off
            </div>
            <div class="clearfix"><br /><br /></div>
        </div>
        <div class="col-md-3 col-sm-3 hidden-xs pull">
            ${include:"include/welcome.html"}
            ${include:"include/side_product_box.html"}
            ${include:"include/contact.html"}
            ${include:"include/file_down.html"}
        </div>
    </div>
    ${include:"include/footer.html"}
    <script type="text/javascript" src="${page.fpath}/core.js?v=${page.built}"></script>
    <script type="text/javascript">
    showBgImage(2);
    </script>
</body>

</html>