<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    <meta name="google-site-verification" content="DxiqRmri9XiD7PSalu9rFZONBzTyytX2mtlhqzooXM8" />
    <link rel="stylesheet" href="${page.fpath}/base.css?${page.built}" />
    <link rel="stylesheet" href="${page.tpath}/css/page.css?${page.built}" />
    <link rel="stylesheet" href="${page.fpath}/icon-font.css?${page.built}" />
    <link rel="stylesheet" href="${page.tpath}/css/index.css?${page.built}" />
    <link rel="stylesheet" type="text/css" href="${page.tpath}/2013/v1/style.css" />
    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}&hover=navi,cat"></script>
    <link rel="stylesheet" href="${page.fpath}/widget/slick/slick.css" />
    <script type="text/javascript" src="${page.fpath}/widget/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="${page.fpath}/widget/slick/slick.min.js"></script>
</head>

<body>
    ${include:"include/header.html"}

    <div class="container-fluid mod-row-about hidden-xs">
        <div class="rows">
        <div class="col-md-9 col-sm-8 col-xs-12 main">
            <!-- about company -->
            <div id="i_about">
                <p class="title">$lang(company)$lang(space)$lang(profile)</p>
                $archive('service/aboutus','<span style="float:right"><a href="{url}">
                        <img class="about" alt="Roll forming machines manufacturer" src="${page.tpath}/images/intro-profile.jpg" width="300" /></a></span>
                <div class="content">
                    {content}
                </div>
                ')
            </div>
        </div>
        <div class="col-md-3 col-sm-4 hidden-xs left-bar">
            ${include:"include/welcome.html"}
            ${include:"include/file_down.html"}
        </div>
        </div>
    </div>
    <!-- company news -->
    <div class="mod-news-row">
        <div class="mask"></div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="mod-slider auto-slider m-4j-lb">
                    $special_archives('news',4,{
                    <div class="it">
                        <a href="{url}">
                            <div class="g-suited-img" style="padding-bottom:65%">
                            	<img src="{thumbnail}" alt="{raw_title}"/>
                            </div>
                        </a>
                        <p class="mod-slider-tit">
                            <a href="{url}">{title}</a>
                        </p>
                    </div>})
                </div>
            </div>

        <div class="col-lg-8 col-sm-6 col-xs-12">
            <div class="tit g-tit-2 gra-tit-2 hidden-xs">
                <span>$lang(latest)$lang(space)$lang(news)</span><br />
                <i></i>
            </div>
            <ul class="mod-news-row-list">
                $archives('news',3,'
                <li>
                    <i class="dt">{time_fmt[MM/dd]}</i>
                    <p>
                        <a href="{url}" class="tit">{title}</a>
                        <span>{outline}</span>
                    </p>
                </li>
                ')
            </ul>
            <div class="main-more">
                <a href="${page.domain}/news" class="g-circle-fill-button gra-circle-fill-button uppercase more"> $lang(read-more)<i class="arrow arrow-r"></i>
                </a>
            </div>
        </div>
        </div>
        </div>
    </div>
    <!-- mod-latest-prod-->
    <div class="mod-prod-row">
        
        <div class="container-fluid">
        <div class="title g-tit-1 gra-tit-1 tit">
            $lang(new)$lang(space)$lang(products)<br />
            <i></i>
        </div>


        #begin each_category(product,100,path,name,url1)
        <div class="mod-prod-cates hidden-xs">
                <span class="mod-prod-cates-circle">
                    <h3><a href="${url1}" title="More ${name} product">${name}</a></h3>
                </span>
        </div>
        #end
        
        <ul class="mod-prod-list row mod-it-list clearfix">
            $archives('product',8,'
            <li class="col-lg-3 col-sm-3 col-xs-6">
                <div class="b">
                    <a href="{url}">
                        <div class="g-suited-img g-suited-img-34 gra-suited-img gra-suited-img-34">
                            <span class="mask"></span>
                            <img src="{thumbnail}" alt="{raw_title}" />
                        </div>
                    </a>
                    <div class="tit"><a href="{url}">{title}</a></div>
                    <p>{outline}</p>
                </div>
            </li>')
        </ul>
        <div class="mod-prod-all mod-it-all">
            <a class="more g-circle-fill-button gra-circle-fill-button" href="${page.domain}/product/">
                $lang(click-here-list-all-products)
                <i class="arrow arrow-r"></i>
            </a>
        </div>
        </div>
    </div>
    <!-- mod-videos -->
    <div class="mod-video-row">
        <div class="container-fluid">
            <div class="title g-tit-1 gra-tit-1 tit">
                $lang(product)$lang(space)$lang(video)<br />
                <i></i>
            </div>
            <ul class="mod-prod-list row mod-it-list clearfix">
                $archives('video',4,{
                <li class="col-lg-3 col-sm-3 col-xs-6">
                    <div class="b">
                        <a href="{url}">
                            <div class="mod-play-box g-suited-img g-suited-img-34 gra-suited-img gra-suited-img-34">
                                <div class="mask"></div>
                                <div class="play"><i></i></div>
                                <img class="thumbnail" src="{thumbnail}" alt="{raw_title}" />
                            </div>
                        </a>
                        <div class="tit"><a href="{url}">{title}</a></div>
                        <p>{outline}</p>
                    </div>
                </li>})
            </ul>
            <div class="mod-prod-all mod-it-all">
                <a class="more g-circle-fill-button gra-circle-fill-button" href="${page.domain}/product/">
                    $lang(watch-more-videos)
                    <i class="arrow arrow-r"></i>
                </a>
            </div>
            
        </div>   
    </div>
    ${include:"include/footer.html"}
</body>

</html>