<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="${page.fpath}/base.css?v=${page.built}" />
    <link rel="stylesheet" type="text/css" href="${page.tpath}/2013/v1/style.css" />
    <link rel="stylesheet" href="${page.tpath}/css/page.css" />
    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}"></script>
</head>

<body>
    ${include:"include/header.html"}
    <div id="main">
        <div id="idxmain">
            <div class="container">
                <p class="center" style="text-align:center;font-size:28px;"><br /><br /><br /><br /><br />
                    File not found!
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    ${include:"include/footer.html"}
</body>

</html>