<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <meta name="keywords" content="${page.keywords}" />
    <link rel="stylesheet" href="${page.fpath}/base.css?${page.built}" />
    <link rel="stylesheet" href="${page.tpath}/css/page.css?${page.built}" />
    <link rel="stylesheet" href="${page.fpath}/icon-font.css?${page.built}" />
    <link rel="stylesheet" href="${page.tpath}/css/other.css?${page.built}" />
    <link rel="stylesheet" type="text/css" href="${page.tpath}/2013/v1/style.css" />
    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}&hover=navi,cat"></script>
    <style type="text/css">
    .ui-datagrid-header {
        display: none;
    }

    .ui-datagrid-header td {
        color: #333;
        border-left: dotted 1px #fff;
        /*background: linear-gradient(to bottom, #F8F8F8 0px, #EEEEEE 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);*/
        text-align: center;
        line-height: 25px;
        padding: 0;
        background: #edf7fe url(/framework/common/sys_themes/default/bg.gif) -0px 0 repeat-x;
    }

    .ui-datagrid-header td.first {
        border: none;
    }

    .grid {
        border: solid 1px #ddd;
    }

    .ui-datagrid-view .loading {
        padding-left: 0;
        border: solid 1px #d0d0d0;
        background: #f0f0f0;
        color: #006699;
        width: 100px;
        height: 22px;
        text-align: center;
        line-height: 22px;
    }

    #inquire table span.ui-datagrid-header-title {
        text-align: left;
        width: auto;
    }

    .ui-datagrid-view td {
        background: #f0f0f0;
        border: solid 1px #fff;
        border-right: none;
        border-top: none;
        padding: 0 10px;
        line-height: 25px;
    }

    .view {
        display: block;
        padding: 0;
    }
    </style>
</head>

<body>
    ${include:"include/header.html"}
    <div class="container-fluid mod-row-feedback">
        <div class="row">
        <div class="col-md-3 col-sm-3 hidden-xs pull">
            ${include:"include/welcome.html"}
            ${include:"include/side_product_box.html"}

            ${include:"include/file_down.html"}
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 push">
            <div id="setup1">
                <div id="location" class="mod-sitemap sitemap">
                    <a href="/">$lang(home)</a> :: <a href="${page.domain}/service/feedback.html" title="Feedback">$lang(feedback)</a> :: New Post
                </div>
                <form name="form1" method="post" action="/com.lms.sh.aspx/SubmitFeedBack" target="ifr" enctype="multipart/form-data">
                    <div id="company">
                        <p class="title">$lang(feedback)</p>
                       <!--  <span class="post"><a href="javascript:showList();"><img src="/images/btn_f_list.png" /></a></span> -->
                        <div class="content">
                            <ul id="leave">
                                <li>
                                    <span>$lang(title) :</span>
                                    <input name="title" type="text" maxlength="40" id="title" />
                                    <font color="red">*</font>
                                </li>
                                <li>
                                    <span>$lang(name) :</span>
                                    <input name="name" type="text" maxlength="40" id="name" />
                                    <font color="red">*</font>
                                </li>
                                <li>
                                    <span>$lang(company)$lang(space)$lang(name) :</span>
                                    <input name="company" type="text" maxlength="40" id="company" />
                                </li>
                                <li>
                                    <span>$lang(address) :</span>
                                    <input name="address" type="text" maxlength="100" id="address" />
                                </li>
                                <li>
                                    <span>$lang(email) :</span>
                                    <input name="email" type="text" maxlength="40" id="email" />
                                </li>
                                <li>
                                    <span>$lang(fax) :</span>
                                    <input name="fax" type="text" maxlength="40" id="fax" />
                                </li>
                                <li>
                                    <span>$lang(phone) :</span>
                                    <input name="phone" type="text" maxlength="40" id="phone" />
                                </li>
                                <li>
                                    <span>$lang(contents):</span>
                                    <textarea name="content" rows="10" cols="20" id="content"></textarea>
                                </li>
                                <li>
                                    <span>$lang(upload) :</span><input type="file" name="file" id="file" style="width:240px;" />
                                </li>
                                <li>
                                    <span></span>Supporting all document format except for .exe,The document should be within 1MB
                                </li>
                            </ul>
                            <div class="submit-control clearfix">
                                <input type="button" name="ImageButton1" id="img_submit" value="$lang(submit)" class="g-btn g-btn-second gra-btn gra-btn-primary"/>
                                &nbsp;&nbsp; &nbsp;
                                <input type="button" name="ImageButton2" id="ImageButton2"  class="g-btn g-btn-second gra-btn gra-btn-second" value="$lang(rewrite)" onclick="return clearTxt();"/>
                                <script type="text/javascript">
                                function clearTxt() {
                                    var txts = "txtTitle,txtName,txtemail,txtphone,txtCompany,txtFax,txtAddress,TxtContent";
                                    for (var i = 0; i < txts.split(",").length; i++) {
                                        try {
                                            var ele = document.getElementById(txts.split(",")[i]);
                                            ele.value = "";
                                        } catch (e) {}
                                    }
                                    return false;
                                }

                                function returnMsg(msg) {
                                    alert("please input ") + msg;
                                    return false;
                                }
                                </script>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- setup 1 over -->
            <div id="setup2" style="display:none">
                <div id="location">
                    <a href="${page.domain}">$lang(home)</a> ::
                    <a href="${page.domain}/feedback.html" title="Feedback">$lang(feedback)</a> :: <a href="#">$lang(feedback)$lang(space)$lang(list)</a></div>
                <div id="company">
                    <div id="feedlist"></div>
                    <div id="pages"></div>
                </div>
            </div>
            <!-- setup2 over -->
        </div>
        </div>
    </div>
    ${include:"include/footer.html"}
    <script type="text/javascript">
    showBgImage(6);
    chgH3_Style('a_h3_feedback');

    function tip(msg) {
        alert(msg);
        showList();
    }

    var _dg = null;

    function showList() {
        $b.$('setup1').style.display = 'none';
        $b.$('setup2').style.display = '';
        l2p(1);
    }

    function l2p(i) {
        if (_dg == null) {
            _dg = $b.datagrid('feedlist', {
                url: '/com.lms.sh.aspx/GetPagedFeedBackJson',
                data: { page: 1 },
                idField: 'id',
                columns: [{
                    field: 'title',
                    title: 'Title',
                    width: 200,
                    formatter: function(val, row) {
                        return row.createdate.replace('T', ' ') + '：<b>' + val + '</b><br />' + row.content;
                    }
                }],
                loaded: function(data) {
                    cms.$('pages').innerHTML = "【" + data.pager + "】";
                }
            });
        } else {
            _dg.reload({ page: i });
        }
    }
    </script>
</body>

</html>