<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>${page.title}</title>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="As one of China’s top suppliers of CNC roll forming machines, LMS has rich experience in the development and production of CNC roll forming machines. For more information about our CNC roll forming machines, please just let us know!" />
    <link rel="stylesheet" type="text/css" href="${page.fpath}/base.css?v=${page.built}" />
    <link rel="stylesheet" type="text/css" href="${page.tpath}/2013/v1/style.css" />
    <link rel="stylesheet" href="${page.tpath}/css/page.css" />
    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}"></script>
    <script type="text/javascript" src="${page.tpath}/script.js?v=${page.built}"></script>
</head>

<body>
    ${include:"include/header.html"}
    <div id="main">
        <div id="left">
            ${include:"include/welcome.html"}
            ${include:"include/files_down.html"}
            <div id="left_btm"></div>
        </div>
        <div id="right">
            <div id="location"><a href="${page.domain}">$lang(home)</a>::$sitemap()</div>
            <div id="company">
                <p class="title">${archive.title}</p>
                <div class="content">
                    <ul id="sitemap">
                        <li>
                            ${include:"include/about.html"}
                        </li>
                        <li>
                            <div class="subnav">
                                <p class="title">$lang(product)$lang(space)$lang(category)</p>
                                $categories(product,'
                                <h2><a id="a_cert_class_20" href="{url}" title="{name}">{name}</a></h2>
                                ')
                            </div>
                        </li>
                        <li>
                            <div class="subnav">
                                <p class="title">$lang(news)$lang(space)$lang(category)</p>
                                $categories(news,'
                                <h2><a id="a_cert_class_20" href="{url}" title="{name}">{name}</a></h2>
                                ')
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    ${include:"include/footer.html"}
    <script type="text/javascript">
    $("a_h3_sitemap").className = "here";
    showBgImage(1);
    </script>
</body>

</html>