.mod-side-contact{background:#FFF;box-shadow:0 0 5px rgba(206, 203, 203, 0.2);}
.mod-side-contact .title{padding-left:15px;}
.mod-side-contact ul{padding:15px 15px 30px 15px;}


.mod-slider{}
.mod-slider .it{position: relative;}
.mod-slider .it img{width:100%;}
.mod-slider-tit{position: absolute;bottom:15px;left:15px;}
.mod-slider-tit a{color:#FFF !important;font-weight:360;}
.mod-slider .slick-prev,.mod-slider .slick-next{display:none !important;}

.prod-intro{font-size:1.2em;line-height:1.6em;padding:15px 90px;}


.mod-row-about .main .content img{display:none;}

/** news */
.mod-news-row{background:url(../images/factory1.jpg) no-repeat;background-size:cover;padding:45px;position: relative;}
.mod-news-row .mask{opacity:0.9;background:#FFF;}
.mod-news-row ul.mod-news-row-list{margin:15px 0;}
.mod-news-row-list li{padding:15px 0;border-bottom:solid 1px #DDD;padding-left:80px;position:relative;}
.mod-news-row-list li:last-child{border:0;}
.mod-news-row-list .dt{display:inline-block;position: absolute;left:0;top:30%;font-size:1.8em;color:#AAA;}
.mod-news-row-list li .tit{font-weight:bold;display:block;padding:5px 0 10px 0;color:#000;font-size:1.3em;}
.mod-news-row-list li p{color:#777;font-size:0.9em;}

/* mod-prod */
.mod-prod-row,.mod-video-row{text-align:center;padding-top:30px;padding-bottom:30px;background:#F5F5F5;}
.mod-prod-cates{margin:30px auto;width:800px;text-align: center;}
.mod-prod-row .mod-prod-cates-circle{float:left;display:block;background:#06C;border:solid 1px #06C;border-radius:30px;float:left;margin:0 7px 10px 7px;}
.mod-prod-row .mod-prod-cates-circle:hover{background:#FFF;transition:all 0.3s ease 0s;}
.mod-prod-cates a{color:#FFF !important;padding:10px 15px;display:block;}
.mod-prod-row .mod-prod-cates-circle:hover a{color:#06C !important;text-decoration:none;}

.mod-it-all{margin:30px 0;}
.mod-it-all .more{float:inherit;}
.mod-it-all .gra-circle-fill-button{line-height:3em;padding:0 30px;}

/* videos */
.mod-video-row{background:#FFF;}

@media(max-width:767px){
    .mod-news-row{padding:15px 0;}
    .mod-news-row .pull{padding:30px 15px}
}
