body {
}

.mod-prod-cates h2{padding-top:30px;line-height: 40px;font-weight:bold;}
.mod-prod-cates h2 a{color:#0168b7;}
.mod-prod-cates .more{background:#06C;padding:0 15px;margin-top:40px;
  border-radius:30px;line-height:22px;display:inline-block;}
.mod-prod-cates .more a:link,.mod-prod-cates .more a:visited{color:#FFF;font-size:12px;}
.mod-prod-list{padding-top:0;}

.mod-inquire-basket{padding-top:15px;}
.mod-inquire-basket button{font-size:14px !important;}

@media(max-width:767px){
  .mod-prod-thumbs{width:100% !important;height:auto !important;}
  .mod-prod-thumbs ul{width:calc(100% + 5px) !important;margin:15px 0 15px -2px}
  .mod-prod-thumbs li{float:left;width:auto;margin-left:2px;}
}