.mainnav{ width:100%; margin:0 auto; background:#E3E3E3; padding-top:10px; padding-bottom:210px;}
.mainnav .cen{ width:999px; margin:0 auto;}
.mainnav .cen .ulnav{ float:left; width:100px; font:12px/24px "??━?"; color:#333333; margin-left:10px;}
.mainnav .cen .ulnav h5{ font:bold 14px/28px "??━?"; color:#666666;}
.mainnav .cen .ulnav li{ width:100px; font:12px/24px "??━?"; color:#646464; text-decoration:none;}
.mainnav .cen .ulnav li a{ width:100px; font:12px/24px "??━?"; color:#646464; text-decoration:none;}
.mainnav .cen .ulnav li a:hover{ width:100px; font:12px/24px "??━?"; color:#646464; text-decoration:underline;}
.mainnav .cen .contacti{ float:left; font:12px/24px "??━?"; color:#333333; margin-left:30px;}
.mainnav .cen .contacti p{ font:12px/24px "??━?"; color:#333333;}
.mainnav .cen .weibo{ float:right;}


.bot{ width:100%; margin:0 auto;background:#4B4B4B;}
.bot .cop{ width:999px; margin:0 auto; text-align:center;}
.bot .cop p{font:12px/38px "??━?"; color:#fff;}
.bot .cop p a{font:12px/38px "??━?"; color:#fff; text-decoration:none;}
