<div class="mod-feedback">
	<div class="container">
		<div class="mod-feedback-container clearfix">
			<div class="mod-feedback-tit">也许您还只有一个想法，请提交给我们</div>
			<div class="mod-feedback-sub-tit">我们将为您解答疑问，并免费提供专业的建议和帮助</div>
			<div class="col-md-9">
				<form action="" method="post">
					<div class="mod-feedback-form clearfix">
						<div class="col-md-6">
							<label>您的称呼：</label>
							<input class="g-text-box" type="text" name="name"/>

							<label>如何联系您（手机号/QQ/微信）</label>
							<input class="g-text-box" type="text" name="phone"/><br/>
						</div>
						<div class="col-md-6">
							<label>您的需求是：</label>
							<textarea class="g-text-box" name="note" rows="3"></textarea>
						</div>
						<div class="col-md-12 mod-feedback-button">
							<input type="submit" class="g-circle-fill-button" value="提交需求"/>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3 wx">
				<img src="${page.tpath}/images/wx-code@2x.png" alt="微信联系" />
				<br />微信扫码在线咨询
			</div>
		</div>
	</div>
</div>