 <!-- 业务范围 -->
<div class="mod-service-items g-tab-card">
    <div class="mod-service-tab clearfix">
        <div class="col-md-2 col-sm-2 col-xs-2 tab actived">
            <div class="mask"></div>
            <div class="it">
                <a href="/service/custom-software.html">
                    <img src="${page.tpath}/css/images/self-softs@2x.png" title="软件定制开发" />
                    <h2 class="hidden-xs">软件定制开发</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm">定制开发</h2>
                    <i>电商、ERP、行业软件等定制开发</i>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 tab">
            <div class="mask"></div>
            <div class="it">
                <a href="/service/commerce-software.html">
                    <img src="${page.tpath}/css/images/mall-dev@2x.png" title="电商系统开发" />
                    <h2 class="hidden-xs">电商系统开发</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm">电商系统</h2>
                    <i>多商户、零售商城、批发商城</i>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 tab">
            <div class="mask"></div>
            <div class="it">
                <a href="/service/app-development.html">
                    <img src="${page.tpath}/css/images/app-dev@2x.png" title="APP开发" />
                    <h2 class="hidden-xs">APP开发</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm">APP开发</h2>
                    <i>安卓、IOS、混合Hybird开发</i>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 tab">
            <div class="mask"></div>
            <div class="it">
                <a href="/service/website.html">
                    <img src="${page.tpath}/css/images/micro-softs@2x.png" title="微信应用开发" />
                    <h2 class="hidden-xs">微信应用开发</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm">微信开发</h2>
                    <i>企业、品牌网站、网站设计、网站优化</i>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 tab">
            <div class="mask"></div>
            <div class="it">
                <a href="/service/website.html">
                    <img src="${page.tpath}/css/images/site-dev@2x.png" title="企业网站建设" />
                    <h2 class="hidden-xs">企业网站建设</h2>
                    <h2 class="hidden-lg hidden-md hidden-sm">企业网站</h2>
                    <i>企业、品牌网站、网站设计、网站优化</i>
                </a>
            </div>
        </div>
    </div>
    <!--
    <div class="container mod-service-details">
        <div class="container-fluid g-body-wrap">
            <i class="arrow service-items-arrow"></i>
            <!-- 定制开发 -->
            <div class="frame actived mod-service-deve">
                <div class="g-big-tit">
                    提供完全自定义的定制开发服务
                    <p class="sub">
                        100%定制开发、100%符合您的需求；稳定可靠，可扩展。
                    </p>
                </div>
                <div class="mod-service-deve-s clearfix">
                    <div class="mod-service-dev-tit">
                        适合包括并不限于以下需求的客户
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs"></div>
                    <div class="col-md-8 col-xs-12">
                        <ul class="clearfix">
                            <li class="col-md-3 col-sm-3 col-xs-3">
                                <img src="${page.tpath}/css/images/index-deve-s@2x.png" />
                                <span class="txt">拓展渠道</span>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-3">
                                <img src="${page.tpath}/css/images/index-deve-s-1@2x.png" />
                                <span class="txt">降低成本</span>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-3">
                                <img src="${page.tpath}/css/images/index-deve-s-2@2x.png" />
                                <span class="txt">产品分销</span>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-3">
                                <img src="${page.tpath}/css/images/index-deve-s-3@2x.png" />
                                <span class="txt">互联网+</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs"></div>
                </div>
                <div class="mod-service-instant">
                    <a class="g-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
            <div class="frame">
                <div class="g-big-tit">
                    提供B2C/B2C/O2O、多商户+零售+批发商城定制
                    <p class="sub">
                        自主研发商城系统，支持与第三方应用集成，为您构建全渠道电商解决方案
                    </p>
                </div>
                <div class="mod-service-instant">
                    <a class="g-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
            <div class="frame">
                <div class="g-big-tit">
                    安卓/苹果/智能PDA应用定制开发
                    <p class="sub">
                        提供安卓和苹果原生/混合开发，手持设备/工控系统开发
                    </p>
                </div>
                <div class="mod-service-instant">
                    <a class="g-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
            <div class="frame">
                <div class="g-big-tit">
                    提供微信公众号和小程序的定制开发
                    <p class="sub">
                        同时还可支持支付宝小程序和服务号。
                    </p>
                </div>
                <div class="mod-service-instant">
                    <a class="g-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
            <div class="frame">
                <div class="g-big-tit">
                    为企业提供电脑/移动网站建设、网络营销服务
                    <p class="sub">
                        免费提供网站运营咨询和排名优化服务。
                    </p>
                </div>
                <div class="mod-service-instant">
                    <a class="g-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->

 <script type="text/javascript">
     $jr.$fn(window).load(function(){
        var saw = $b.$fn(".service-items-arrow");
        var mathSAWLeft = function(tab) {
            return tab.attr("offsetLeft") + (tab.attr("clientWidth") - saw.attr("offsetWidth")) / 2;
        };
        $b.$fn(".mod-service-items .tab").click(function(event) {
            saw.animate({ "left": mathSAWLeft(this) + "px" }, "fast");
            event.preventDefault();
        });
        saw.css({ "left": mathSAWLeft($b.$fn(".mod-service-items .tab").first()) + "px" });
     });
    </script>