<!DOCTYPE html>
<html>
<head>
    <title>${site.name}</title>
    <link rel="Stylesheet" href="/style/css/style.css" type="text/css" />
    <link rel="EditURI" type="application/rsd xml" title="RSD" href="xmlrpc.ashx?wsd" />
</head>
<body>
    ${partial:"inc/header.phtml"}


    <!-- @首页主要部分 -->
    <div id="idxmain">
        <div class="container">
           

           <!-- Content BEGIN -->
                 <div class="center">${message}</div>

           <!-- Content END -->

           <div class="clearfix"></div>
        </div>
    </div>

    ${partial:"inc/footer.phtml"}
    
</body>
</html>
