<!DOCTYPE html />
<html>
<head>
    <title>${page.title}</title>
    <link rel="Stylesheet" href="/style/default/style.css" type="text/css" />
</head>
<body>

${partial:"inc/header.phtml"}
	
<div id="wrap">
<div id="sidebar" class="left" style="border-right:dotted 1px #e5e5e5">
    <ul class="page-items">
        <li><h2>${category.Name}</h2></li>
        $archives2('10','<li><a href="{url}">{title}</a></li>')
    </ul>
</div>
<div id="mainbody" class="right">
<div class="archive">
    <p class="path">当前位置:<a href="/">主页</a> > $sitemap() > ${archive.title}
		</p>

        <h2>${archive.title}</h2>
        <div class="content">${archive.content}</div>
</div>
</div></div>

${partial:"inc/footer.phtml"}

        <script type="text/javascript" src="${page.fpath}/global.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
</body>
</html>
