<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
   <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/css/default/page.css?v=${page.built}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>
    ${partial:"../include/header.phtml"}



<div class="mod-crumb">
   <div class="container"> $lang(sitemap_location):<a href="/">$lang(home)</a>
    > $sitemap() > ${archive.title}</div>
</div>

<div class="mod-layout mod-archive-${category.tag}">
    <div class="container">
         <div class="l mod-nav-side">
            <div class="mod-nav-border">
                <div class="tit">${category.name}</div>
                <div class="content">
                    <ul class="mod-cat-list clist">
                        $self_archives('10','<li class="{class}"><a href="{url}">{title}</a></li>')
                    </ul>
                </div>
            </div>
        </div>

        <div class="m">
            <div class="archive">
                <div class="content">${archive.content}</div>
            </div>
        </div>

    </div>
</div>

    ${partial:"../include/footer.phtml"}

        <script type="text/javascript" src="${page.fpath}/base.min.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
</body>
</html>
