<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
   <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/css/default/page.css?v=${page.built}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>

${partial:"include/header.phtml"}


<div class="mod-crumb">
   <div class="container">
       $lang(sitemap_location):<a href="/">$lang(home)</a> > $sitemap()
   </div>
</div>

    
<div class="page-main">
    <div class="container">


      <div class="main push">
        <div class="panel-archives">
            <ul>
                $paging_archives(15,0,'
                <li>{img}
                    <h3><a href="{url}" target="_blank">{special_title}</a></h3>
                    <div class="meta">日期：{create_date}
                        &nbsp;&nbsp;&nbsp;点击：{count} </div>
                    <p class="desc">
                        {outline}
                    </p>
                </li>')
            </ul>
        </div>

        <div class="clearfix">
            $pager()
        </div>
        
    </div>
    
    <div class="side pull">
        <div class="col">
            <div class="box">
                <div class="side-title">$lang(side-navigator)</div>
                <div class="content">
                    <ul class="clist">
                        $categories(${category.tag},'<li><a href="{url}">▪&nbsp;{name}</a></li>')
                    </ul>
                </div>
            </div>
            <br />
           <!-- ${partial:"include/side_bar.phtml"}-->
        </div>
    </div>
    <div class="clear-fix"></div>
    </div>
</div>

  ${partial:"include/footer.phtml"}

  <script type="text/javascript" src="${page.fpath}/base.min.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
</body>
</html>
