<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
   <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/css/default/page.css?v=${page.built}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>

${partial:"include/header.phtml"}


<div class="mod-crumb">
   <div class="container">
       $lang(sitemap_location):<a href="/">$lang(home)</a> > $sitemap()
   </div>
</div>

    
<div class="page-main page-case">
    <div class="container">
    
    
        
    <div class="main-pull_">
        <div class="tab">
            <ul class="clist">
                <li><a href="${page.domain}/case/">$lang(partial)$lang(space)$lang(project)$lang(space)$lang(case)</a></li>
                $categories('case','<li><a href="{url}">{name}</a></li>')
            </ul>
        </div>
        <div class="case-top">
        $archive('case-top','{content}')
    </div>
        <div class="clear-fix"></div>

        <div class="archives">
            <ul>
                $paging_archives(12,0,'
                <li class="{class}">  
                    <a href="{url}">                
                        <div class="auto-fit">
                            <img src="{thumbnail}" height="150" alt="{title}">
                        </div>
                        <span>
                            {special_title}
                        </span>
                	</a>
                </li>')
            </ul>
            <div class="clear-fix"></div>
        </div>

        <div class="clear-fix">
            $pager()
        </div>
    </div>
    <div class="side-push hidden">
        <div class="col">
           ${partial:"include/side_bar.phtml"}
        </div>
    </div>
  </div>
</div>

  ${partial:"include/footer.phtml"}

  <script type="text/javascript" src="${page.fpath}/base.min.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
</body>
</html>
