<!DOCTYPE html>
<html>
  <head>
    <title>${page.title}</title>
    <link
      rel="Stylesheet"
      href="${page.fpath}/base.min.css?v=${page.built}"
      type="text/css"
    />
    <link
      rel="Stylesheet"
      href="${page.tpath}/css/page.css?v=${page.built}"
      type="text/css"
    />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
  </head>
  <body>
    ${include:"include/topbar.html"} ${include:"include/header.html"}

    <div class="course-page">
      <div class="course-page__banner">
        <img src="${page.tpath}/images/course-banner.png" alt="课程" />
      </div>

      ${include:"include/sitemap.html"}

      <!-- 推荐课程 -->
      $special_archives(course,1,'
      <div class="primary-course section bg-white">
        <div class="container flex">
          <div class="primary-course__image flex1">
            <div class="img-fit img-fit-65">
              <img src="${page.tpath}/images/course-item.png" alt="课程" />
            </div>
          </div>
          <div class="primary-course__info flex1 padding-lx-8">
            <div class="padding-bx-4"></div>
            <div class="primary-course__title padding-bx-4 text-2xl font-bold">
              {title}
            </div>
            <div class="primary-course__desc padding-bx-4">{summary}</div>
            <div
              class="primary-course__group gap-x-2 flex align-start padding-bx-2"
            >
              <div>适合人群:</div>
              <div class="flex1">{适合群体}</div>
            </div>
            <div
              class="primary-course__effect flex gap-x-2 align-start text-green padding-bx-8"
            >
              <div>课程目的:</div>
              <div>{课程目的}</div>
            </div>
            <div class="primary-course__booking flex">
              ${include "include/wechat_booking.html"}
            </div>
          </div>
        </div>
      </div>
      ')
      <!-- 学员见证-->
      <div class="student-witness section">
        <div class="container block">
          <div class="section__title center">
            <div class="section__title--text section__title--line">
              学员前后对比
            </div>
          </div>
          <div class="padding-x-4"></div>
          <div class="student-witness__list flex gap-x-4">
            $archives(case,3,'
            <div class="student-witness__item flex1">
              <div class="student-witness__item--image img-fit img-fit-65">
                <a href="{url}">
                  <img src="{thumbnail}" alt="学员见证" />
                </a>
              </div>
              <div class="padding-x-2"></div>
              <div
                class="student-witness__item--title text-center padding-x-2 text-lg"
              >
                <a href="{url}">{title}</a>
              </div>
              <div class="student-witness__item--summary text-gray text-sm">
                {summary}
              </div>
            </div>
            ')'
          </div>
        </div>
        <div class="padding-x-2"></div>
      </div>
      <!-- 课程列表-->
      <div class="course-list section bg-white block">
        <div class="container">
          <div class="section__title section-title1 margin-bx-4">
            <div class="section__title--inner">
              <div class="section__title--text">Course List</div>
              <div class="section__title--secondnary">课程列表</div>
            </div>
          </div>
          <div class="line padding-bx-8"></div>
          <div class="course-list__list flex flex-col gap-x-8">
            $archives(course,10,'
            <div class="course-list__item flex gap-x-8">
              <div class="course-list__image img-fit img-fit-65 col-md-2">
                <img src="{thumbnail}" alt="{title}" />
              </div>
              <div class="course-list__info col-md-10">
                <div class="course-list__info--title font-bold padding-bx-4">
                  <a href="{url}">{title}</a>
                </div>
                <div class="course-list__info--summary text-gray padding-bx-8">
                  {summary}
                </div>
                <div class="couse--list__booking flex">
                  ${include "include/wechat_booking.html"}
                </div>
              </div>
            </div>
            ')
          </div>
        </div>
      </div>
    </div>

    ${include:"include/footer.html"} ${include "include/assistant.html"}
  </body>
</html>
