<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" type="text/css" href="${page.fpath}/template.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/themes/default/style.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/themes/default/index.css?v=${page.built}"  />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />

</head>
<body>


  ${partial:"include/header.phtml"}

<div class="page-index">


<div class="page-bnn">
	<div class="gate"></div>
	<div class="mask"></div>
	<div class="main">
		<div class="con">
				<span class="slogan">
                   
                    
					让大众资源共享 抱团创业 互惠共赢

                    <div class="tel">全国热线: $site(tel)</div>
                     
                    <br />
                    <div class="qr hidden">
                        <img src="${page.tpath}/images/qr.png" 
                           width="200" height="200"  style="border:solid 1px #ddd;padding:1px;background:#FFF"/>
                    </div>
				</span>
                
                


				<div class="join">
					<a href="http://zs.gcy.zx166.com/main/change_device?device=3&return_url=/main/t%2f%3freturn_url%3d%2fmain%2fapp" target="_blank" class="btn btn-red">注册</a>
                    <a href="${page.domain}/download/app.html" target="_blank" class="btn btn-red">下载APP</a>
				</div>


				<div class="knownus hidden">
					敢为人先的创业者，您准备好了吗？<br />
                    即刻拨打全国免费电话<em>$site(tel)</em>了解。
				</div>
		</div>

		<div class="clear-fix"></div>
	</div>
</div>



<div class="col3 col" id="col3">
		<div class="panel">
			<div class="tit1">
				参与共创业<br />
                <span>
                    JOIN VENTURE TOGETHER</span>
			</div>

			<div class="con">
				<div class="labels">
					<div class="summary">
                        <strong><b>您可以得到</b> —— 一站式的创业服务与支持。</strong>
                        <!-- <br />
                        中高端财富人脉资源，软件研发及技术支持服务。-->
					</div>

                    <ul>
                        <li><span class="label">创业实战培训</span></li>
                        <li class="hidden"><span class="label">网销O<br />2<br />O</span></li>
                        <li><span class="label">天使投资平台</span></li>
                        <li><span class="label">财富精英俱乐部</span></li>
                        <li><span class="label">软件研发团队</span></li>
                        <li><span class="label">售后服务团队</span></li>
                    </ul>
                    <div class="clear-fix"></div>
				</div>
				<div class="knownus">
						<b>敢为人先的创业者，您准备好了吗？</b>
                    	<div class="phone">
							即刻拨打全国免费电话<em>4006-2666-21</em>了解。
                    	</div>
					</div>
			</div> 
		</div>
</div>

    
   <div class="col4 col">
       <div class="panel">
       <div class="col4_1 col">
           <div class="tit">
               <a href="${page.domain}/article/news/">新闻动态</a>
               <span class="more">
                   <a href="">更多</a>
               </span>
           </div>
           <div class="con">
               <ul>
                   $archives('news',10,0,5,0,'<li{class}><a href="{url}">{special_title}</a></li>')
               </ul>
           </div>
       </div>

 	   <div class="col4_2 col">
           <div class="tit">
               <a href="${page.domain}/article/zx/">创业资讯</a>
               <span class="more">
                   <a href="">更多</a>
               </span>
           </div>
           <div class="con">
               <ul>
                   $archives('zx',10,0,5,0,'<li{class}><a href="{url}">{special_title}</a></li>')
               </ul>
           </div>
       </div>

 		<div class="col4_3 col">
           <div class="tit">
               <a href="${page.domain}/article/bd/">创业故事</a>
               <span class="more">
                   <a href="">更多</a>
               </span>
           </div>
           <div class="con">
               <ul>
                   $archives('store',10,0,5,0,'<li class="{class}"><a href="{url}">{special_title}</a></li>')
               </ul>
           </div>
       </div>   
           
       </div>
    </div>


</div>


  ${partial:"include/footer.phtml"}
    <script type="text/javascript" src="${page.fpath}/core.js?v=${page.built}&hover=navi"></script>
    
    <a href="http://www.olrelax.com/" target="_blank" title="分类目录">分类目录</a>
    <span style="display:none">
    	<a href="http://webscan.360.cn/index/checkwebsite/url/gcy8.com" name="5cf83b9c24ab2daf3c6df1d062aa9fb8" >360网站安全检测平台</a>
    </span>
</body>
</html>