<div class="page-top mod-top-bar hidden">
  <div class="container">
    <i class="phone"></i>
    $lang(service)$lang(space)$lang(tel)：<b>${site.tel}</b>&nbsp;
    <!--
    <span class="qr" style="color:#0a0;"><b>关注微信</b>
       <img src="${page.tpath}/images/qr_02.jpg" width="80" height="80" style="left:45px" />
    </span>

     <span class="qr">扫描下载
       <img src="${page.tpath}/images/qr_01.jpg" width="80" height="80"/>
    </span>
      -->

    <span class="right"> ${site.slogan} </span>
  </div>
</div>

<header class="header scroll-link">
  <div class="container header__main">
    <div class="header__logo mod-header-logo col-lg-4 col-4">
      <img
        class="header__logo--img"
        src="${page.tpath}/images/lol-logo.png"
        alt="${site.name}"
      />
      <!-- <div class="header__logo--text h1 text-3xl">LOL</div> -->
      <a class="header__logo--mask" href="/"></a>
    </div>

    <div class="mod-header-nav g-align-right col-lg-8 col-sm-6 hidden-xs">
      $navigator()
    </div>

    <div class="hidden-lg hidden-md hidden-sm nav-toggle g-text-right col-8">
      <i class="fa fa-bars"></i>
    </div>

    <div
      class="toggle-navigator hidden-lg hidden-xl hidden-sm hidden-md col-xs-12"
    >
      $navigator()
    </div>
  </div>
</header>
