<div class="page-top mod-top-bar">
    <div class="container">
    <i class="phone"></i>
        $lang(service)$lang(space)$lang(tel)：<b>$site(tel)</b>&nbsp;
        <!--
    <span class="qr" style="color:#0a0;"><b>关注微信</b>
       <img src="${page.tpath}/images/qr_02.jpg" width="80" height="80" style="left:45px" />
    </span>

     <span class="qr">扫描下载
       <img src="${page.tpath}/images/qr_01.jpg" width="80" height="80"/>
    </span>
      -->

    <span class="right">
        $site(slogan)
    </span>
    </div>
</div>

<header class="mod-header clearfix">
    <div class="container">
        <div class="mod-header-logo">
            <img src="${page.tpath}/images/logo_r.png" width="320" alt="logo"/>
            <a class="mask" href="/"></a>
        </div>
        <div class="mod-header-search">
            <div class="box">
               <form action="${page.domain}/search" method="get">
                	<input class="search-input" placeholder="$lang(typing_keyword)" type="text" name="w">
                   <input class="search-btn" type="submit" value="$lang(search)" />
                </form>
            </div>
            <div class="mod-header-words hot-words">
                $lang(hot-keyword):
            </div>
        </div>
        
        <div class="mod-header-right">
            <div class="ch-lang hidden">
                <img alt="${page.lang}" src="${page.tpath}/images/lang-${page.lang}.gif" />$lang(${page.lang})&nbsp;
                <span class="drop">
                    $lang(change)
                    <div class="menu">
                        <a href="${page.domain}/../en" rel="nofollow"><img alt="En-us" src="${page.tpath}/images/lang-en.gif" />English</a>
                        <a href="${page.domain}/../cn" rel="nofollow"><img alt="Zh-cn" src="${page.tpath}/images/lang-ZH_CN.gif" />中文简体</a>
                    </div>
                </span>
            </div>
            
            <div class="contact">
                   <img src="${page.tpath}/images/hd-phone.png" height="70"/>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</header>
$navigator()

<div class="clearfix"></div>


<div class="hidden" id="cc1">
    <div class="img hidden">
        <img src="${page.tpath}/themes/default/c_brand-types.png" width="160"/>
    </div>
    <div class="col last-col">
        <img src="${page.tpath}/themes/default/c_co_img.jpg" alt="$lang(company)" width="160" height="120"/>
    </div>
    <!--
    <div class="col">
        <ul>
            <li class="tit">集团概况</li>
            <li><a href="${page.domain}/about/intro.html">公司介绍</a></li>
            <li><a href="${page.domain}/about/culture.html">企业文化</a></li>
            <li><a href="${page.domain}/about/qualification.html">资质荣誉</a></li>
            <li><a href="${page.domain}/about/contact-us.html">联系我们</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li class="tit">下属公司</li>
            <li><a href="${page.domain}/branch/#sg">沈高阀门</a></li>
            <li><a href="${page.domain}/branch/#xs">信穗投资</a></li>
            <li><a href="${page.domain}/branch/#nz">南庄消防设备厂</a></li>
            <li><a href="${page.domain}/branch/">$lang(all)...</a></li>
        </ul>
    </div>
    <div class="col hidden">
        <ul>
            <li class="tit">工程案例</li>
            $categories('case','<li><a href="{url}">{name}</a></li>')
        </ul>
    </div>
    <div class="col last-col">
        <ul>
            <li class="tit">联系方式</li>
            <li><a href="${page.domain}/about/contact-us.html">$lang(contact)$lang(space)$lang(us)</a></li>
            <li><img src="${page.tpath}/themes/cms-qr.png" width="80" height="80"/></li>
        </ul>
    </div>
-->
   <div class="outline">
    $archive('intro',' {outline[200]}')
        <p style="text-align:right">[ <a href="${page.domain}/about/intro.html">$lang(details)...</a> ]</p>
    </div>
    <div class="clear"></div>
</div>

<div class="hidden" id="cc2">
    <div class="col last-col">
        <img src="${page.tpath}/themes/default/c_co_img2.jpg" alt="$lang(company)" width="160" height="120"/>
    </div>
    <div class="col category-col">
        <ul>
            <li class="tit">$lang(product-category)
                </li>                    
            $categories('product','<li class="{class}"><a href="{url}">{name}</a></li>')
            <li class="more"><a href="${page.domain}/product/">$lang(more)...</a></li>
        </ul>
    </div>
    <div class="col brands-col_ category-col last-col">
        <ul>
            <li class="tit">$lang(brand-proxy)</li>
            $special_archives('brand',4,'<li class="{class}"><a href="${page.domain}/brand/">{title}</a><!--<img src="{thumbnail}" width="120" height="40" alt="{title}"/>--></li>')
            <li class="more"><a href="${page.domain}/brand/">$lang(more)...</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<!--
<script type="text/javascript">
    function insertMenu(from,to){
        var htm = document.getElementById(from).innerHTML;
        var mn = document.getElementById(to).getElementsByTagName('DIV')[1];
        mn.innerHTML=htm;
    }
    insertMenu('cc1','navigation_child3');
    insertMenu('cc2','navigation_child10');
</script>
-->



