<div id="swiper" class="swiper">
  <div id="swiper-indicator" class="swiper__indicator"></div>
  <ul>
    <li>
      <div class="swiper__item">
        <img src="${page.tpath}/images/banner/banner1.jpg" alt="" />
      </div>
    </li>
    <li>
      <div class="swiper__item">
        <img src="${page.tpath}/images/banner/banner2.jpg" alt="" />
      </div>
    </li>
    <li>
      <div class="swiper__item">
        <img src="${page.tpath}/images/banner/banner3.jpg" alt="" />
      </div>
    </li>
  </ul>
</div>
