<!DOCTYPE html>
<html>
<head>
    <title>网页不存在</title>
    <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/css/default/page.css?v=${page.built}" type="text/css" />
</head>
<body>
    ${partial:"include/header.phtml"}
    
        <div class="container">
           

           <!-- Content BEGIN -->
                 
                 <p class="center" style="font-size:24px;margin:5em 0 8em 0;color:#B00;">
                     <b>您访问的网页不存在或地址已经更改！</b><br /><br />
                     
                     <span style="color:#666">您可以&nbsp;【<a href="${page.domain}/">回到首页</a>】</span>
            
            	</p>

           <!-- Content END -->

           <div class="clearfix"></div>
        </div>

    ${partial:"include/footer.phtml"}
    
</body>
</html>
