<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" type="text/css" href="${page.fpath}/base.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/css/default/page.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/css/default/services.css?v=${page.built}" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
    <script type="text/javascript" src="${page.fpath}/base.min.js?s=${page.built}&amp;hover=navi"></script>

</head>
<body>
${partial:"../include/header.phtml"}



<div class="mod-our-adv gra-body-wrap row" id="adv">
        <div class="container-fluid">
            ${partial:"our_adv.phtml"}
        </div>
    </div>

   <br /><br />
   
<div class="gra-body-wrap row mod-deve-chat">
    <div class="container-fluid">
        <center>
              <a class="gra-circle-button" href="javascript:popFeedback()">我有需求，立即咨询</a>
        </center>     
        <br />
    </div>
</div>


<br /><br />

  ${partial:"../include/components/feedback_pop.phtml"}
  ${partial:"../include/components/site_instant.phtml"}
  ${partial:"../include/footer.phtml"}

</body>
</html>