<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- ### 系统配置 ###
       ****************************
       sys_name:                系统名称
       site_alias:                  系统别名
       sys_key:                    序列号
       sys_domain:              域名
  -->
  <add key="sys_name"><![CDATA[OPSite.CMS]]></add>
  <add key="sys_alias"><![CDATA[OPSite.CMS]]></add>
  <add key="sys_key"><![CDATA[YmIyNDAwMGI3YmEyZGMwZTgxZWI2OGQxYzk3MWU4NWI=]]></add>
  <add key="sys_domain"><![CDATA[http://localhost:60]]></add>
  <!-- ### 模板设置 ###
       ********************************
       tpl_name:                   模板名称
       tpl_outlinelength:       大纲长度
       tpl_usecompress:       模板使用压缩
       tpl_usefullpath:          模板使用完整路径
  -->
  <add key="tpl_name"><![CDATA[local]]></add>
  <add key="tpl_outlinelength"><![CDATA[120]]></add>
  <add key="tpl_usecompress"><![CDATA[false]]></add>
  <add key="tpl_usefullpath"><![CDATA[true]]></add>
  <!-- ### 数据库配置 ###
      **************************************************

      db_type:  数据库类型, 可选值: oledb(Access数据库),
                    sqlite,mssql(SQL Server),mysql
                    
      db_conn:  连接字符串,可用$ROOT代替数据库文件根目录
      db_prefix:数据表前缀,默认为"O"
      *************************************************
   -->
  <!--
  <add key="db_type">sqlite</add>
  <add key="db_conn">Data Source=$ROOT/data/#db.db3</add>
   -->
  <add key="db_type">mysql</add>
  <add key="db_conn">server=199.119.203.199;database=mydb;uid=root;pwd=$Newmin;charset=utf8</add>
  <add key="db_prefix"><![CDATA[cnshuangyi_]]></add>
  <!--- ### 资料配置 ###
        ***********************
        pro_notice:   网站公告
        pro_slogan:   标语
        pro_tel:      电话
        pro_fax:      传真
        pro_phone:    手机
        pro_address:  地址
        pro_email:    电子邮箱
        pro_qq:       QQ号码
        pro_msn:      MSN账号
        ***********************
  -->
  <add key="pro_notice"><![CDATA[网站公告]]></add>
  <add key="pro_slogan"><![CDATA[网站标语]]></add>
  <add key="pro_tel"><![CDATA[021-66666666]]></add>
  <add key="pro_fax"><![CDATA[021-66666666]]></add>
  <add key="pro_phone"><![CDATA[1861699999]]></add>
  <add key="pro_address"><![CDATA[上海市]]></add>
  <add key="pro_email"><![CDATA[ops@163.com]]></add>
  <add key="pro_qq"><![CDATA[188867734]]></add>
  <add key="pro_msn"><![CDATA[188867734]]></add>
  <!-- ### 会员配置 ###
       ***********************************
       mm_avatar_path:    会员头像存储路径
       ***********************************
  -->
  <add key="mm_avatar_path">/uploads/avatar/</add>
  <!-- ### 首页设置 ###
       *******************************
       idx_title:       首页标题
       idx_keywords:    首页关键字
       idx_description: 首页描述
  -->
  <add key="idx_title"><![CDATA[OPSite.CMS]]></add>
  <add key="idx_keywords"><![CDATA[]]></add>
  <add key="idx_description"><![CDATA[]]></add>
  <add key="sys_autowww"><![CDATA[true]]></add>
  <add key="sys_virthpath"><![CDATA[]]></add>
</settings>