<div class="mod-box mod-side-box">
    <div class="title">$lang(aboutus)</div>
    <div class="item">
        <a href="${page.domain}/service/aboutus.html" title="About Us">$lang(aboutus)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/service/contactus.html" title="Contact Us">$lang(contactus)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/product/" title="Catalogues">$lang(products)$lang(space)$lang(catalogues)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/gallery/" title="Certificate">$lang(galleries)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/gallery/project/" title="Certificate">$lang(projects)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/video/" title="Video">$lang(video)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/service/sitemap.html" title="mod-sitemap sitemap">$lang(sitemap)</a>
    </div>
    <div class="item">
        <a href="${page.domain}/service/feedback.html" title="Feedback">$lang(feedback)</a>
    </div>
</div>