<div class="mod-side-contact">
    <div class="title">$lang(contactus)</div>
    <ul class="left_inner">
        <li><label>Tel:</label>${site.tel}</li>
        <li><label>Fax:</label>${site.fax}</li>
        <li><label>E-mail:</label>
            <a onclick="ga('send','event','link','click','${site.email}');" href="mailto:${site.email}">${site.email}</a>
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <a href="mailto:zhuyongdong@gmail.com" onclick="ga('send','event','link','click','zhuyongdong@gmail.com');">zhuyongdong@gmail.com</a></li>
        <li> <label>Addr:</label>${site.address}</li>
    </ul>
</div>