<div id="footer" class="mod-footer">
    <div class="container">
        <div class="row">
        <div class="col-lg-3 col-sm-4 hidden-xs">
            <section class="fot_title">
                <div class="tit">
                    <strong>$lang(company)</strong><i class="fa fa-chevron-down"></i>
                </div>
                <ul>
                    <li><a href="${page.domain}">$lang(home)</a></li>
                    <li><a href="${page.domain}/service/aboutus.html">
                            $lang(aboutus)</a></li>
                    <li><a href="${page.domain}/service/contactus.html">
                            $lang(contactus)</a></li>
                    <li><a href="${page.domain}/service/sitemap.html">$lang(sitemap)</a></li>
                    <li><a href="${page.domain}/service/feedback.html">$lang(feedback)</a></li>
                </ul>
            </section>
        </div>
        <div class="col-lg-3 col-sm-4 hidden-xs">
            <section class="fot_title">
                <div class="tit">
                    <strong>$lang(hot)$lang(space)$lang(tag)</strong><i class="fa fa-chevron-down"></i>
                </div>
                <ul>
                    <li><a href="${page.domain}/product">All Products</a></li>
                    <li><a href="${page.domain}/product/light-steel-frame-machine/">Light Steel Frame Machine</a></li>
                    <li><a href="${page.domain}/product/roll-forming-machine/">Roll Forming Machine</a></li>
                    <li><a href="${page.domain}/product/ceiling-machine/">Metal Ceiling Machine</a></li>
               </ul>
            </section>
        </div>
        <div class="col-lg-6 col-sm-4 col-xs-12">
            <div class="tit">
                <strong><a href="http://www.LNZmachinery.com">LMS International Limited </a> </strong>
            </div>
            <strong>Add:</strong>${site.address}<strong>Post Code: </strong>${site.post}<br />
            <strong>Tel:</strong>${site.tel}<strong> &nbsp;Fax: </strong>${site.fax}<br />
            <strong>E-mail:</strong> <a href="mailto:${site.email}" onclick="ga('send','event','link','click','${site.email}');"  >${site.email}</a>&nbsp;
            <a href="mailto:zhuyongdong@gmail.com" onclick="ga('send','event','link','click','zhuyongdong@gmail.com');"  >zhuyongdong@gmail.com</a><br />
            <a href="https://www.facebook.com/rollformingmachine.com.cn" target="_blank">
                <img src="${page.tpath}/images/20140515094138_1436.jpg" style="border:0;width:20px" /> Facbook</a>&nbsp;
            <a href="https://www.youtube.com/user/machinerylms" target="_blank">
                <img src="${page.tpath}/images/20140515094942_5897.gif" style="border:0;width:20px" />
                YouTube</a>
            <!--
    &nbsp;
    <a href="http://lnzmachinery.en.alibaba.com/" target="_blank">
        <img src="/resources/s2/image/201405/20140520043132_3662.gif" style="border:0;width:20px"/>
        Alibaba</a>-->
            <br />
            Contact:
            <a href="mailto:service@lmsmachinery.com" onclick="ga('send','event','link','click','service@lmsmachinery.com');">service@lmsmachinery.com</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.beian.miit.gov.cn" rel="nofollow"  target="_blank">蜀ICP备17022790号</a> &nbsp;
            <span>Power by <a href="http://fze.net" target="_blank">JRCms4.0</a></span>
        </div>
    </div>
        </div>
</div>

 <script type="text/javascript" src="${page.tpath}/script.js"></script>