<!-- <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-661455-2', 'auto');
  ga('send', 'pageview');
</script> -->
<div class="mod-top-bar clearfix  hidden-xs">
    <div id="languages">
        <ul class="site-lang">
            <li class="lang-a">
                <a href="/en" rel="nofollow"><img alt="LMS-EN" src="${page.tpath}/country/en.gif" />English</a>
            </li>
            <li class="lang-a">
                <a href="/es" rel="nofollow"><img alt="LMS-ES" src="${page.tpath}/country/es.gif" />Espa&ntilde;ol</a>
            </li>
            <li class="lang-a">
                <a href="/ru" rel="nofollow"><img alt="LMS-RU" src="${page.tpath}/country/ru.gif" />Россия</a>
            </li>
            <li class="lang-a">
                <a href="/thai" rel="nofollow"><img alt="LMS-TH" src="${page.tpath}/country/thai.gif" />ภาษาไทย</a>
            </li>
            <li class="lang-a">
                <a href="/ar" rel="nofollow"><img alt="LMS-AR" src="${page.tpath}/country/ar.gif" />عربي</a>
            </li>
            <li class="lang-a">
                <a href="/fr/" rel="nofollow"><img alt="LMS-FR" src="${page.tpath}/country/fr.gif" />Français</a>
            </li>
            <li class="lang-a">
                <a href="/cn/" rel="nofollow"><img alt="LMS-ZH" src="${page.tpath}/country/cn.gif" />chinese[中文]</a>
            </li>
        </ul>
    </div>
</div>
<header id="header" class="mod-header">
    <div class="mod-top-search">
        <div class="mod-top-search-b">
            <div class="mod-top-search-tit">
                $lang(what-are-you-look-for)?</div>
            <input class="mod-top-search-box" id="SearchStr" type="text" />
            <button class="mod-top-search-btn btn-search-close" onclick="searchClick()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="mod-top-search-close btn-search-close">X</div>
    </div>
    <div class="container-fluid mod-header-wrap">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2 col-xs-5">
                <div class="row">
                <div class="col-lg-6 col-sm-12 logo">
                    <img alt="LMS Roll Forming Machines" src="${page.tpath}/images/lms-logo.png" width="180" />
                    <a href="${page.domain}"></a>
                </div>
                <div class="col-lg-6 hidden-md hidden-sm hidden-xs">
                    <div id="keywords" class="mod-header-slogan">
                        <p><b>LMS INTERNATIONAL LIMITED</b></p>
                        <p><span>MACHINERY MANUFACTURER</span></p>
                    </div>
                </div>
                    
                    
                </div>
            </div>
            <div class="hidden-lg hidden-md hidden-sm xs-header">
                <div class="mod-header-lang mod-lang-drop">
                   <i class="fa fa-flag"></i>
                    <div class="mod-lang-drop-list list clearfix">
                        <i class="arrow arrow-t"></i>
                    </div>
                </div>
                <div class="btn-search-collage">
                    <i class="fa fa-search"></i>
                </div>
                <div class="mod-header-nav-toggle g-text-right gra-text-right">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
                $navigator()
                <div class="btn-search-collage hidden-xs">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
$b.$fn(".mod-header-nav-toggle").click(function() {
    var nav = $b.$fn(".mod-navigator");
    var expand = this.hasClass("expanded");
    if (expand) {
        this.removeClass("expanded");
        nav.slideUp("fast", function() {
            nav.css({ "display": "none" });
        });
    } else {
        this.addClass("expanded");
        nav.css({ "display": "inherit" });
        nav.slideDown("fast");
    }
    this.find("i").attr("class", expand ? "fa fa-bars" : "fa fa-close");

});

var ldr = $b.$fn(".mod-lang-drop-list");
ldr.html(ldr.html()+"<ul>"+$b.$fn(".site-lang").html()+"</ul>");
</script>