<div class="subnav mod-box mod-side-box prod-nav">
    <div class="title">$lang(product)$lang(space)$lang(category)</div>
    $categories(product,'
    <div class="item" tag="{tag}">
        <a id="a_cert_class_20" href="{url}" title="{name}">{name}</a>
        <div class="child clearfix"></div>
    </div>
    ')
</div>
<div id="pro-nav-childs" class="hidden">
    <div tag="ceiling-machine1">
        <ul>
            $special_archives('product/ceiling-machine',20,'<li class="{class}"><a href="{url}">{title}</a></li>')
        </ul>
    </div>
    <div tag="roll-forming-machine">
        <ul>
            $categories('product/roll-forming-machine','<li class="{class}"><a href="{url}">{name}</a></li>')
        </ul>
    </div>
    <div tag="metal-sheet-machine1">
        <ul>
            $special_archives('product/metal-sheet-machine',20,'<li class="{class}"><a href="{url}">{title}</a></li>')
        </ul>
    </div>
</div>
<script type="text/javascript">
    var proChilds = $b.$fn('#pro-nav-childs DIV');
    $b.$fn(".prod-nav .item").each(function(i,e){
        var tag = e.attr("tag");
        proChilds.each(function(_,p){
            if(p.attr("tag") == tag){
                var d= e.find("DIV");
                d.html(p.html()).addClass("child-fill");
                d.css({"left":(e.attr("scrollWidth"))+"px","top":(e.attr("offsetTop"))+"px"});
            }
        });
    });
    /*
    for (var i = 0; i < proNavs.length; i++) {
        for (var j = 0; j < proChilds.length; j++) {
            if (proNavs[i].getAttribute('tag') == proChilds[j].getAttribute('tag')) {
                var cl = proNavs[i].getElementsByTagName('DIV')[0];
                cl.style.cssText = 'top:' + (proNavs[i].offsetTop - 2) + 'px;left:' +
                    (proNavs[i].offsetLeft + proNavs[i].offsetWidth - 4) + 'px';
                cl.innerHTML = proChilds[j].innerHTML;
                cl.className += ' child-fill';
                //$b.hover(proNavs[i],function(e){e.className='item current';},function(e){e.className='item';});
                break;
            }
        }
    }
};*/
</script>