
<div class="mod-side-contact mod-subscribe">
    <div class="title">Subscribe us:</div>
    <div class="content">
      
        <a href="https://www.youtube.com/user/machinerylms" target="_blank">
            <img src="${page.tpath}/images/20140725133914_4072.gif" style="border:0;width:180px" /></a>
&nbsp;
              <a href="https://www.facebook.com/rollformingmachine.com.cn" target="_blank">
            <img src="${page.tpath}/images/20140725133846_3135.gif" style="border:0;width:180px" /></a>
        <!--<br />
        <a href="http://lnzmachinery.en.alibaba.com/" target="_blank">
        <img src="${page-tpath}/image/20140520043132_3662.gif" style="border:0;width:20px"/>
        Alibaba</a>-->
    </div>
</div>