<!DOCTYPE html />
<html>
<head>
    <title>${name}培训网_七天教育连锁${name}教学分部</title>
    <link href="/style/fx/master/css/master.css" rel="stylesheet" type="text/css" />
    <link href="/style/fx/first/v1/css/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>


<div id='shortcut'>
<div class='sc_txt'>
<ul class='left'>
<li id="loginform"></li>
</ul>	
		<ul class="right">
		 <li class="city">欢迎来到${name}七天教育连锁<span id="cityid" style="display: none;">30</span>
		 </li>
<li class="indexart">
<form method="post" action="#"><span><input type="text" class="ipt1" name="keyword" id="sitesearch" onblur="if(this.value == '') this.value = '请输入关键字..';" onfocus="if(this.value == '请输入关键字..') this.value = '';" value="请输入关键字.." /><input type="submit" value="站内搜索" class="ipt2" onclick="return search();" /></span></form>

</li>
		</ul> 
</div>	
</div>
<div id='header'>
<div id="beta_markup"><h2><a href="http://www.0345.cc" alt="${name}" class="logos"></a></h2>
    <h1 class="logo"><a href='http://www.0345.cc/sd/' title='七天教育连锁-${name}分校'>${name}</a></h1></div>
<div class='nav'>
<div class='navall'>
<ul class='navtxt'>	
<li><a href="http://www.0345.cc/${area}/">首页</a></li>
<li><a href="http://www.0345.cc/${area}/#list/news/">新闻动态</a></li>
<li><a href="http://www.0345.cc/${area}/#course/">最新课程</a></li>
<li><a href="http://www.0345.cc/${area}/#about/teacher/">师资力量</a></li>
<li><a href="http://www.0345.cc/${area}/#about/details/">分校介绍</a></li>
<li><a href="http://www.0345.cc/${area}/#list/activity/" target="_self">学校活动</a></li>
<li><a href="http://www.0345.cc/${area}/#bbs">互动社区</a></li>
</ul>		
<ul class='engver' style="display:none">
</ul>		
<div class="jg_layer" style="display: none;"></div>
<div class="fx_layer" style="display: none;"></div>

</div>		
</div>		
<div id='search'>
    <ul class="left">
        <li></li>
    </ul>
    <ul class='middle'>
        <li>
            <select id="selSchool">
                
                    <option value="cc"> 禅城 </option>
                
                    <option value="nh"> 南海 </option>
                
                    <option value="sd" selected="selected"> 顺德 </option>
                
                    <option value="gm"> 高明 </option>
                
                    <option value="ss"> 三水 </option>
                
                    <option value="gz"> 广州 </option>
                
                    <option value="sz"> 深圳 </option>
                
                    <option value="zh"> 珠海 </option>
                
                    <option value="dg"> 东莞 </option>
                
                    <option value="zs"> 中山 </option>
                
                    <option value="mm"> 茂名 </option>
                
                    <option value="jm"> 江门 </option>
                
                    <option value="mz"> 梅州 </option>
                
                    <option value="st"> 汕头 </option>
                
                    <option value="zj"> 湛江 </option>
                
                    <option value="hz"> 惠州 </option>
                
            </select>
            <input id="txtKeyWord" class="searchbar_text" type="text" autocomplete="off" />
            <input id="btnSearbar" class="searchbtn" type="button" value='搜索' />
            <label><a href="#">高级搜索>></a></label></li>
        <li class="f_list" style="padding-left:50px;"><a href="#" class="ico2">网上报名</a><a href="http://www.0345.cc/about/contactus.html" class="ico3">在线咨询</a></li>
    </ul>
    <ul class="right">

       <li></li>
    </ul>
</div>
</div>




<div class="clear"></div>

<div class="channel_path">
	您的位置：<a href="http://www.0345.cc/">网站首页</a> > <a href="http://www.0345.cc/${area}/">${name}分校</a>

</div>
<div class="clear"></div>

<div class="channel_main">

	<div class="channel_content">

		<div class="ch_conbox">

			<div class="ch_listtit">
			<h6><em>分校介绍</em></h6>
            <div class="schooldetails"><p>     佛山市七天教育培训中心是在全国商务人员职业技能考评会有关领导的大力倡导下于成立的，是佛山大型综合性办学机构，是佛山市师资力量最强、办学规模最大、教学质量最好的品牌教育机构之一。<br />      教学中心位于莲花路23号四楼，二十余个教学网点遍布全国各地。自创办以来，一直秉承“以人为本，服务社会”的办学理念，始终坚持“质量第一，信誉至上”的办学方针，以向佛山经济和社会发展培养人才为己任，为社会输送了一大批各类优秀人才，深受广大学员、用人单位好评，赢得了社会各界的广泛赞誉。   办学多年来，在各级政府和主管部门的热心指导和社会各界的大力支持下，爱华培训先后与全国多所知名高校合作，开展了多层次各类型的成人教育培训，如高等教育自学考试、成人高考、MBA考前辅导，成人中专学历教育、电脑、外语、会计、职业资格、企业内训等，是教育部、劳动部、人事部、建设部、文化部指定的培训及报考点。</p></div>
			<h6><em>课程推荐</em></h6>
			</div>

			<ul class="ch_msktlist">

                   $searchlist('${name}','15','<li><span>{createtime}</span><a href="{url}" target="_blank">{title2}</a></li>','/${area}/')
      
        
            </ul>
		</div>
	</div>

	<div class="channel_rightside">
		<dl class="ch_rtit">
			<dt>分校动态</dt>
            
        
			<dt>联系方式</dt>
            <p class="side">电话:0757-86356515<br /></p>

			<dt>中心老师</dt>
            <p class="side"><ul class="teacher"><li><img alt="" src="http://www.0345.cc/uploadfiles/day_110517/201105170544483749.jpg" /><br />姓名：小小老师   职务：行政、出纳<br />电话： 15363053448<br />0757-22171735<br />QQ：1907434268</li><li><img alt="七天佛山培训中心-刘老师" src="http://www.0345.cc/uploadfiles/day_110517/201105170935346590.jpg" /><br />姓名：刘老师   职务：教学、教务<br />电话：13539315664<br />0757－63303397<br />QQ：1515546813 </li><li><img alt="七天佛山培训中心-彭老师" src="http://www.0345.cc/uploadfiles/day_110517/201105170543146166.jpg" /><br />姓名：彭老师   职务：招生、考试<br />电话： 15815957914<br />0757－63303385<br />QQ：1360098332</li></ul><br /> </p>
		</dl>


	</div>

	<div class="clear"></div>

</div>


<div class="channel_main_line"></div>

<div class='mainbox'>
<div class='fnav'>
<p><a href='http://www.0345.cc/about/aboutus.html'>关于我们</a>|<a href="http://www.0345.cc/about/job.html">加入我们</a>|<a href="http://www.0345.cc/about/contactus.html">联系我们</a>|<a href="http://www.0345.cc">法律声明</a>|<a href="http://www.0345.cc#/sitemap.html">站点地图</a>|<a href="http://www.0345.cc/about/contactus.html">留言反馈</a>|<a href="http://www.0345.cc/">友情链接</a></p>

</div>
<div class='friendlink'>
    <a href="http://www.j6.cc" target="">佛山网站建设</a><a href="http://www.j6.cc" target="">奥博科技</a>
</div>
<div class='ftxt'>
<p>佛山七天教育服务有限公司<br />
网站备案/许可证编号：<a href="http://www.miibeian.gov.cn/">粤ICP备05067637</a> | 广东省互联网安全协会会员单位<br />
(C) 2011 七天教育连锁 版权所有
</p>
</div>
</div>

        <script type="text/javascript" src="${page.fpath}/global.js?hover=clist,alist,navi&amp;version=${page.version}"></script>


</body>
</html>