<!-- footer area start  -->
<footer>
  <section class="footer__area p-relative">
    <div class="footer-copyright pt-20 pb-20">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="copyright-text text-center">
              <p>© ${page.year} All Rights Reserved by ${site.name}</p>
              <p>
                <a
                  class="text-xs"
                  href="https://www.beian.miit.gov.cn/"
                  target="_blank"
                  >${site.beianNo}</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
<!-- footer area end  -->
