<!--[if lte IE 9]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve your
    experience and security.
  </p>
<![endif]-->

<!-- side toggle start -->
<div class="fix">
  <div class="side-info">
    <div class="side-info-content">
      <div class="mobile-menu2 fix">
        <nav id="mobile-menu2" class="d-none">
          <ul>
            <li class="menu-item-has-children">
              <a href="${page.domain}">$lang(home)</a>
            </li>
            <li class="menu-item-has-children">
              <a href="documentation.html">产品介绍</a>
            </li>
            <li class="menu-item-has-children">
              <a href="forum.html">成功案例</a>
            </li>
            <li class="menu-item-has-children">
              <a href="#!">操作流程</a>
            </li>
            <li class="menu-item-has-children">
              <a href="blog.html">病理分析</a>
            </li>
            <li class="menu-item-has-children">
              <a href="blog.html">联系我们</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="offset-widget offset_menu-top mb-20">
        <div class="header-menu-top-icon mb-20">
          <p class="font-bold text-sm">电话联系</p>
          <a href="tel:${site.tel}"><i class="fas fa-phone"></i>${site.tel}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas-overlay"></div>
<div class="offcanvas-overlay-white"></div>
<!-- side toggle end -->

<!-- header area start  -->
<header class="header1 header-transparent pt-25 pb-25 du-sticky-header">
  <div class="container header-container">
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-3 col-md-6 col-6">
        <div class="header-main-left">
          <div class="header-logo header1-logo">
            <a href="${page.domain}" class="logo-bl font-bold text-3xl"
              >${site.name}</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-6 col-6">
        <div class="header-main-right f-right">
          <div class="menu-bar">
            <a class="side-toggle" href="javascript:void(0)">
              <div class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
