<!doctype html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="baidu-site-verification" content="dQKo2ii1tg" />
    <meta name="360-site-verification" content="e49eb2a7fad4538bde0b0b45c10f19d0" />
    <link rel="Stylesheet" type="text/css" href="${page.fpath}/template.css?v=${page.built}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc?wsd" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="${page.tpath}/js/jquery.min.js"></script>
<script src="${page.tpath}/js/jquery-migrate.min.js"></script>
<script src="${page.tpath}/js/bootstrap.min.js"></script>
<script src="${page.tpath}/js/suopu2017.min.js"></script>
    <link rel="stylesheet" href="${page.tpath}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="${page.tpath}/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="${page.tpath}/css/animate.css"/>
    <link rel="stylesheet" href="${page.tpath}/css/global.css"/>
    <link rel="stylesheet" href="${page.tpath}/css/style.css"/>
    <link rel="stylesheet" href="${page.fpath}/widget/vjs/video-js.min.css"/>

</head>

<body>
    <!--
    <div class="hidden1 mod-top-notice">
        尊敬的用户，因5月6日推送新版本时产生故障导致无法正常升级，
        请<span class="btn-a"><a href="https://dl.meizhuli.net/new" target="_blank">点击下载客户端</a></span>
        后安装即可正常使用。给您带来不便，非常抱歉。有任何问题请致电：王中洋(手机:15538173837)
    </div>-->
    
    ${partial:"include/header.phtml"}
<!--home-banner start-->
<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="section-content text-center" tpl-tag="SP-001">
          $archive('video_res/SP-001','
        <h1 class="fadeIn wow headline" data-wow-duration="2s" data-wow-delay="1.5s">美助理店铺管理系统</h1>
        <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="0.8s">
            {outline[300]}</h2>
          
          
           <div class="fadeIn wow computer-img"  data-wow-duration="1.5s" data-wow-delay="0s">
               <img src="${page.tpath}/images/computer-img.png">
          <div class="fadeIn wow watch-video" data-wow-duration="1.5s" data-wow-delay="0.3s">
              <a href="javascript:;" class="btn-play-video" video-url="{视频地址}">观看影片</a></div>
        </div>
          ')
      </div>
    </div>
  </div>
</div>
<!--home-banner end--> 
<!--nav start-->
<div class="home-system-nav">
  <div class="system-nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h3 class="title">美助理智能管理系统</h3>
        </div>
        <div class="col-sm-8 col-xs-12">
          <ul class="system-nav-right text-right">
            <li>收银</li>
            <li>会员</li>
            <li>营销</li>
            <li>库存</li>
            <li class="hidden" id="download-trial">
                <a class="sub-btn" data-toggle="collapse" data-parent="#download-trial" href="#collapsedownload">下载试用</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="collapsedownload" class="panel-collapse collapse sub-collapse in">
    <div class="container">
      <div class="row download-info">
        <div class="col-md-9 col-sm-8 col-xs-12 text-center">
          <ul class="down-left">
              <li class="hidden"><a href="https://dl.meizhuli.net/new"><img src="${page.tpath}/images/down-icon01.png" width="50" height="50"/>
              <p>Windows</p>
              </a></li>
              <li><a href="https://dl.meizhuli.net/netfx45"><img src="${page.tpath}/images/dl_net.png" width="50" height="50"/>
              <p>.NET框架下载</p>
              </a></li>
              <li><a href="${page.domain}/resources/apps/anydesk.exe"><img src="${page.tpath}/images/dl_xz.png" width="50" height="50"/>
              <p>远程协助软件</p>
              </a></li>
            <li class="hidden"><a href="https://dl.meizhuli.net/new"><img src="${page.tpath}/images/down-icon02.png" width="50" height="50"/>
              <p>mac</p>
              </a></li>
            <li class="hidden"><a href="https://dl.meizhuli.net/new"><img src="${page.tpath}/images/down-icon03.png" width="50" height="50"/>
              <p>ipad</p>
              </a></li>
            <li class="hidden"><a href="https://dl.meizhuli.net/new"><img src="${page.tpath}/images/down-icon04.png" width="50" height="50"/>
              <p>phone</p>
              </a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-center hidden">
          <ul class="down-right pull-right">
              <!--<li><a href="tencent://message?uin=$site(im)"><img src="${page.tpath}/images/down-icon05.png">
              <p>QQ客服</p>
              </a></li>-->
              <li><a href="/about/contact-us.html#phone" title="$site(tel)"><img src="${page.tpath}/images/down-icon06.png">
              <p>联系电话</p>
              </a></li>
              <li style="margin-left:2em"><a href="javascript:void(0)" id="btn_udesk_im"><img src="${page.tpath}/images/down-icon07.png">
              <p>在线客服</p>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--nav end-->
<div class="sub-section section-01 text-center">
  <div class="container">
    <div class="row" tpl-tag="SP-002">
        $archive('SP-002','
      <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="0s">生意不太好<span class="mar-40">我想使用</span></h2>
      <h1 class="fadeIn wow headline" data-wow-duration="2s" data-wow-delay="0.5s">“美助理联盟分红”</h1>
      <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="1s">增加店铺客流用</h2>
        
      <div class="fadeIn wow watch-video white-watch-video" data-wow-duration="2s"  data-wow-delay="1.5s">
		<a href="javascript:;" class="btn-play-video" video-url="{视频地址}">观看影片</a>          
         </div>
      <div class="fadeIn wow img"  data-wow-duration="2s" data-wow-delay="1.6s"><img src="${page.tpath}/images/home-img01.jpg"></div>
        ')
    </div>
  </div>
</div>
<div class="grey-bg home-mid-title text-center"><span class="fadeInDown wow" data-wow-duration="2s" data-wow-delay="1s">拓客<b>留客</b>智能管理专家</span></div>
<div class="sub-section section-02 text-center">
  <div class="container">
    <div class="row" tpl-tag="SP-003">
        $archive('SP-003','
      <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="0s">生意很好<span class="mar-40">我想使用</span></h2>
      <h1 class="fadeIn wow headline" data-wow-duration="2s" data-wow-delay="0.5s">“美助理员工分红”</h1>
      <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="1s">在家躺着也能赚钱</h2>
      <div class="fadeIn wow watch-video" data-wow-duration="2s"  data-wow-delay="1.5s">
          		<a href="javascript:;" class="btn-play-video" video-url="{视频地址}">观看影片</a>          

          </div>
    </div>')
  </div>
</div>
<div class="grey-bg section-03 text-center">
  <div class="fadeIn wow title" data-wow-duration="2s" data-wow-delay="0s">多端无缝打通   让管理更简单</div>
  <div class="fadeIn wow section-03-content" data-wow-duration="2s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <ul class="clearfix">
            <li class="col-sm-4 col-xs-6"><img src="${page.tpath}/images/section-icon001.jpg">
            <p>电脑端</p>
          </li>
          <li class="col-sm-4 col-xs-6"><img src="${page.tpath}/images/section-icon002.jpg">
            <p>pad端</p>
          </li>
          <li class="col-sm-4 col-xs-6 last"><img src="${page.tpath}/images/section-icon003.jpg">
            <p>手机端</p>
          </li>
          <li class="col-sm-4 col-xs-6"><img src="${page.tpath}/images/section-icon004.jpg">
            <p>老板端</p>
          </li>
          <li class="col-sm-4 col-xs-6"><img src="${page.tpath}/images/section-icon005.jpg">
            <p>员工端</p>
          </li>
          <li class="col-sm-4 col-xs-6  last"><img src="${page.tpath}/images/section-icon006.jpg">
            <p>会员端</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="sub-section section-04 text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12 section-04-txt">
        <h1 class="fadeIn wow headline" data-wow-duration="2s" data-wow-delay="0">美助理<span class="blue-txt">一元团购</span></h1>
        <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="0.5s">随时、随地为店铺拓客</h2>
      </div>
        $archive('SP-004','
        <div class="col-sm-5 col-xs-12"><img class="fadeInRight wow pull-left" data-wow-duration="2s" src="${page.tpath}/images/phone-img.png"></div>
      <div class="fadeIn wow watch-video clearfix"  data-wow-duration="2s"  data-wow-delay="0.8s">
              <a href="javascript:;" class="btn-play-video" video-url="{视频地址}">观看影片</a>          
      </div>')
    </div>
      
       
  </div>
</div>
<div class="home-ad text-center">
  <div class="container">
    <div class="row">
      <h1 class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0s">美助理SaaS系统  将安全做到极致</h1>
      <h2 class="fadeIn wow" data-wow-duration="2s" data-wow-delay="0.5s">数据存储在阿里云与淘宝共用服务器，并分别在深圳、青岛、北京实时三重备份，绝对保证会员数据安全</h2>
    </div>
  </div>
</div>
<div class="sub-section grey-bg section-05 text-center">
  <div class="container">
    <div class="row">
      <h2 class="fadeIn wow subheadline" data-wow-duration="2s" data-wow-delay="0s">让店铺与客户关系更融洽</h2>
      <h1 class="fadeIn wow headline" data-wow-duration="2s" data-wow-delay="0.5s">电子现金券、抽奖大转盘</h1>
        <div class="fadeIn wow sub-more"  data-wow-duration="2s"  data-wow-delay="0.7s">
            <a href="/product/demo/marketing-demo.html">进一步了解 ></a>
        </div>
        <div class="fadeIn wow hidden"  data-wow-duration="2s"  data-wow-delay="0.9s"><img src="${page.tpath}/images/section-05-img.jpg"></div>
    </div>
  </div>
</div>        
    
    	${partial:"include/guest_form.phtml"}

    
        ${partial:"include/footer.phtml"}

    <script type="text/javascript" src="${page.fpath}/base.min.js?v=${page.built}&amp;hover=navi"></script>
    <script type="text/javascript" src="${page.fpath}/widget/vjs/video.min.js"></script>
    <script type="text/javascript" src="${page.tpath}/js/mzl.js?v=${page.built}"></script>

<script>
		(function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","http://assets-cli.udesk.cn/im_client/js/udeskApi.js?1492242352964","ud");
		ud({
		    "code": "dja1agb",
		    "link": "http://line365.udesk.cn/im_client?web_plugin_id=23729",
        	"targetSelector": "#btn_udesk_im"
		});
 	</script>
</body>
</html>
