<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>${page.title}</title>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}"/>
    <link rel="stylesheet" type="text/css" href="/themes/1.1/style.css"/>
    <script src="${page.fpath}/core.js?version=${page.version}" type="text/javascript"></script>
     <script type="text/javascript" src="${page.fpath}/api.js?version=${page.version}"></script>
    <script src="${page.tpath}/script.js" type="text/javascript"></script>
</head>

<body>
    ${partial:"inc/header.phtml"}
<div id="main">
	<div id="right">

		<div id="location"><a href="${page.domain}">$lang(home)</a>::$sitemap()</div>

               
        	  	<div id="products">
			<p class="title"><b>$lang(product)$lang(space)$lang(detail)</b></p>
			<div id="pro_info">
                <h2 class="colm_title">&gt;&gt;&nbsp;<a href="">${archive.title}</a></h2>
                <div id="big_pic"><img id="Img" title="${archive.title}" onload="SetW(this)" 
                        onclick="window.open('')" src="${archive.thumbnail}" style="cursor: pointer;" /></div>
				<div id="small_pics">
                <ul>
                    
                    <!-- loop -->
                	<li><a><img style='cursor:pointer;' src='${archive.thumbnail}' onclick="clickThisImg('${archive.thumbnail}')" /></a></li>
					<!-- end loop -->
                </ul>
                
                
                </div>
                
                
                <script type="text/javascript">
                    var ulHtml='<ul style="margin:0;">';
                    var thumbnails = ['${archive.thumbnail}','${archive.__dict__[产品图片2]}','${archive.__dict__[产品图片3]}','${archive.__dict__[产品图片4]}'];
                    for(var i=0;i<thumbnails.length;i++){
                        if(thumbnails[i]){
                            ulHtml += '<li style="padding:0"><a><img style="cursor:pointer;" src="'+thumbnails[i]+'" onclick="clickThisImg(\''+thumbnails[i] +'\')" /></a></li>';
                        }
                    }
                    ulHtml+='</ul>';
                    document.getElementById('small_pics').innerHTML=ulHtml;
                </script>
                
<ul>
            <li>$lang(tag):
                ${archive.tagshtml}</li>
            <li id="Prodblank" style="display:none"></li>
           <li>
           <input onclick="inquire()" type="button" style=" cursor:pointer;"/><br />
<!--
               <a href="${page.domain}/gallery/${category.tag}-gallery/">
    $lang(product)$lang(space)$lang(galleries):</a><br />-->
    <div class="p_video_title" id="p_video_title">
        	<!--
           $lang(related)$lang(space)$lang(video):</div>
           <ul class="p_video">
            <%IEnumerable<Video> videos = ViewData["related_videos"] as IEnumerable<Video>;
           if(videos!=null&&videos.Count()>0){foreach(Video video in videos){ %>
            <li><a href="/<%=lang %>/video/<%=video.CatalogID %>/<%=video.ID %>" title="<%=product.Name %>'s video <%=video.Name%>">

            <img src="<%=video.PicUri %>" class="pvideo" /></a></li>
           <%}}
           else{ %>
            <li>No related video about this video</li>
           <%} %>
           </ul>-->
               </div>
           <script type="text/javascript">
               function inquire() {
                   var productID = ${archive.id};
                   cms.xhr.post("/com.lms.sh.aspx/SaveInquiryBasket", "action=saveinquiry&inquireList=" + productID, function () {
                       location.href = "${page.domain}/inquirybasket.html";
                   }, function (x) { alert(x) });
               }
           </script>

           </li>   
	</ul>

				<div class="clear"></div>
			</div>
			<div id="pro_txt">
				<p class="title">
				$lang(product)$lang(space)$lang(information)
				</p>
				<div class="inner">
                    ${archive.content}
					<!--<div id="page2"><a href="#"><img src="/images/previous.gif" /></a><a href="#"><img src="/images/next.gif" /></a></div>-->
				</div>
			</div>
			<div id="i_pro">
				<p class="title">$lang(related)$lang(space)$lang(product)</p>

				<ul id="pro_list" class="pro_list">
                    $archives(${category.tag},4,'	    


<li>
    <a href="{url}" target="_blank"><img src="{thumbnail}" border="0" alt="{title2}" /></a>
	<h2>
        <a href="{url}" target="_blank">{title}</a></h2>
    <p>{outline[100]}</p>
</li>
')
				</ul>
				<div class="clear"></div>

			</div>
		</div>

<div style="clear:both;"></div>
	</div>
	
		<div id="left">
            ${partial:"inc/welcome.phtml"}
		<div class="subnav">
            <p class="title">$lang(product)$lang(space)$lang(category)</p>
            $categories(product,'
            <h2><a id="a_cert_class_20" href="{url}" title="{name}">{name}</a></h2>
      		')
            
		</div>
      
        ${partial:"inc/contact.phtml"}
        ${partial:"inc/filesdownload.phtml"}
            
		<div id="left_btm"></div>
	</div>
	
	<div class="clear"></div>
</div>
<div class="clear"></div>
                
        ${partial:"inc/footer.phtml"}
                
    <script>
        cms.api.path='${page.domain}';
        cms.api.getRLink('${archive.id}',function(data){
            var html='<ul>';
            for(var i in data){
                html+='<li><a target="_blank" href="'+data[i].url+'">'+data[i].name+':'+data[i].title+'</a></li>';
            }
            html+='</ul>';
            cms.$('p_video_title').innerHTML=html;
        });
    </script>
<script type="text/javascript">
    showBgImage(2);
</script>
</body>
</html>

