<!DOCTYPE html>
<html>
<head>
    <title>网页不存在</title>
    <link rel="Stylesheet" href="/style/default/style.css" type="text/css" />
</head>
<body>
    ${partial:"inc/header.phtml"}

    <!-- @首页主要部分 -->
    <div id="idxmain">
        <div class="container">
           

           <!-- Content BEGIN -->
                 
                 <p class="center" style="font-size:24px;margin:50px 0;color:red;">您查找的信息不存在!</p>

           <!-- Content END -->

           <div class="clearfix"></div>
        </div>
    </div>

    ${partial:"inc/footer.phtml"}
    
</body>
</html>
