
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<title>${page.title}</title>
<link href="${page.tpath}/css/main.css" rel="stylesheet" type="text/css" />
<link href="${page.tpath}/css/style3.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="${page.tpath}/js/jquery-1.4.3.min.js" ></script>
<script type="text/javascript" language="javascript" src="${page.tpath}/js/droppy.js" ></script>
<script type="text/javascript" language="javascript" src="${page.tpath}/js/thickbox.js" ></script>
<script type="text/javascript" language="javascript" src="${page.tpath}/js/helper.js" ></script>
<script type="text/javascript" language="javascript" src="${page.tpath}/js/png.js" ></script>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
${partial:"inc/header.phtml"}

<div id="main">
    <div class="main_t">
      

<div class="pro_list">
              <div class="pro_listt">产品列表</div>
              <div class="pro_listm">
                   

                 <div class="por_list">
                 

	<div class="prod_type">
	<div id="pro_type_g48mKn">
<ul>
  $categories('chanpinliebiao','                          
<li>
<a href="{url}"> {name}</a>
     <ul>
         
     </ul>
</li>
') 

</ul>		
	</div>
	</div>
	<div class="list_bot"></div>
<script type="text/javascript" language="javascript">
/**
 * for menu-drop type
 */
var type = "";
if (type == 'click') {
	$(function(){
		$('#pro_type_g48mKn li:has(ul)').click(function(event){
	    	if (this == event.target) {
	        	if ($(this).children().is(':hidden')) {
	                $(this).css({background:'url(${page.tpath}/images/minus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
	                .children().show();
	                
	              	$(this).siblings().each(function (){
	              		$(this).find("ul").hide();
	              		if ($(this).children().is("ul")){
	              			$(this).css({background:'url(${page.tpath}/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
	              	    }
	              	});
	            } else {
	                $(this).css({background:'url(${page.tpath}/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'})
	                .find("ul").hide();
	            }  
	        }
		}).css('cursor','pointer');
	          
	    $('#pro_type_g48mKn li:has(ul)').css({background:'url(${page.tpath}/images/plus.gif) no-repeat left 13px','text-indent':'16px','padding-top':'3px'});
	        	
	    $('#pro_type_g48mKn li:not(:has(ul))').css({cursor: 'pointer','list-style-image':'none'});
	});
} else {
 	$("#pro_type_g48mKn > ul").droppy();
	$("#pro_type_g48mKn ul ul li:last-child").css("border","0px");
}
</script>
</div>                


              </div>
         </div>
      


<div class="product">
              <div class="productt"><img src="${page.tpath}/images/productt.jpg" border="0" usemap="#Map2">
                <map name="Map2" id="Map2">
                  <area shape="rect" coords="699,7,747,34" href="/chanpinliebiao" />
                </map>
              </div>
              <div class="productb">
                   <ul>
                      <div id="aa" style="overflow:hidden;width:734px; "> 
  <table cellpadding="0" cellspacing="0" border="0"> 
        <tr><td id="aa1" valign="top" align="left"> 
          <table cellpadding="2" cellspacing="0" border="0"> 
            <tr align="left"> 
              <td>              <table id="ctl00_ContentPlaceHolder1_indexProScroll1_DataList1" cellspacing="0" border="0" style="border-collapse:collapse;">
	<tr>
		$archives('fenglinshi',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
		$archives('bxgfls',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('hls',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('zjwfls',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('gymfls',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('cyxdg',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('bgscyfsq',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('jhcj',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('bxscyfsq',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr><tr>
$archives('bxgcdc',4,'
<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}">{title}</a></div></li>
    </td>')
	</tr>
</table></td> 
            </tr> 
           

          
            
          </table> 
        </td> 
        <td id="aa2" valign="top"></td> 
        </tr>
       
      </table></div>


                          
                   </ul>
              </div>
         </div>

<script>
var Picspeed=30
aa2.innerHTML=aa1.innerHTML
function Marquee1(){
if(aa2.offsetWidth-aa.scrollLeft<=0)
aa.scrollLeft-=aa1.offsetWidth
else{
aa.scrollLeft++
}
}
var MyMar1=setInterval(Marquee1,Picspeed)
aa.onmouseover=function() {clearInterval(MyMar1)}
aa.onmouseout=function() {MyMar1=setInterval(Marquee1,Picspeed)}
</script>
    </div>
    <div class="main_m">
  

               <div class="contact">
              <div class="contactt"><img src="${page.tpath}/images/contactt.jpg" border="0" usemap="#Map3">
                <map name="Map3" id="Map3">
                  <area shape="rect" coords="187,8,236,28" href="/page/lianxiwomen.html" />
                </map>
              </div>
              <div class="contactb"><span id="ctl00_ContentPlaceHolder1_contact1_Label2">青岛鑫汇达消毒净化设备有限公司 <br />
联系人：王经理<br />
座　机：0532-82292723&nbsp;<br />
传　真：0532-82293923&nbsp;<br />
手　机：13658666833<br />
邮　箱：xinhda@126.com<br />
客服QQ：3133930365<br />
地　址：青岛胶州市高州北路88号</span></div>
         </div>
                
                 <div class="about">
              <div class="aboutt"><img src="${page.tpath}/images/aboutt.jpg" border="0" usemap="#Map4">
                <map name="Map4" id="Map4">
                  <area shape="rect" coords="310,6,368,38" href="/page/guanyuwomen.html" />
                </map>
              </div>
              <div class="aboutb">             <span id="ctl00_ContentPlaceHolder1_indexAbout_Label2"><font face="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 青岛鑫汇达消毒净化设备有限公司是一家专门从事各类风淋室，不锈钢风淋室，彩钢板风淋室，风幕机，货淋室，臭氧发生器，传递窗研发制作的风淋室厂家及臭氧发生器厂家。其产品广泛用于：空气净化，空气消毒。适用于医药卫生、食品加工、食用菌加工、电子等。本公司拥有雄厚的技术实力，先进的生产设备，不段推出新产品，以完善更多客户的需求。我们将以实力成就伟业，靠创新推动发展，用品质铸就未来，用诚信赢得客户。</font></span></div>
         </div>
   
           <div class="news">
              <div class="newst"><img src="${page.tpath}/images/newst.jpg" border="0" usemap="#Map5">
                <map name="Map5" id="Map5">
                  <area shape="rect" coords="312,6,367,40" href="/xinwenzixun" />
                </map>
         </div>
              <div class="newsb">
                   <ul>
 $archives('xinwenzixun',6,'<li>
                           <div class="newsbtype" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="{url}" >{title}</a></div>
                           <div class="newsbtime">[{create_date}]</div>
                       </li>')
                   </ul>
              </div>
      </div>
    </div>
    <div class="rmcp">
         <div class="rmcpt"><img src="${page.tpath}/images/rmcpt.jpg" border="0" usemap="#Map6">
           <map name="Map6" id="Map6">
             <area shape="rect" coords="951,3,1002,34" href="/chanpinliebiao" />
           </map>
         </div>
         <div class="rmcpb">
              <ul>

                 <div id="marquee_demosnDxAZ" style="overflow:hidden;width:953px; "> 
  <table cellpadding="0" cellspacing="0" border="0"> 
        <tr><td id="marquee_product1snDxAZ" valign="top" align="left"> 
          <table cellpadding="2" cellspacing="0" border="0"> 
            <tr align="left"> 
              <td>
               <table id="ctl00_ContentPlaceHolder1_DataList1" cellspacing="0" border="0" style="border-collapse:collapse;">
	<tr>

	 $archives('chanpinliebiao',20,'<td>
  <li> <a href="{url}"><img border="0" src="{thumbnail}" height="135" width="165px" /> </a><div class="type"><a href="{url}" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{title}</a></div></li>
    </td>')

	</tr>
</table>
              </td> 

            </tr> 
           

          
            
          </table> 
        </td> 
        <td id="marquee_product2snDxAZ" valign="top"></td> 
        </tr>
       
      </table></div>

              </ul>
         </div>
    </div>
</div>
<script type="text/javascript">

var speed=30;
var marquee_product2snDxAZ = document.getElementById("marquee_product2snDxAZ");
var marquee_product1snDxAZ = document.getElementById("marquee_product1snDxAZ");
var marquee_demosnDxAZ = document.getElementById("marquee_demosnDxAZ");
marquee_product2snDxAZ.innerHTML=marquee_product1snDxAZ.innerHTML;
function MarqueesnDxAZ(){
if(marquee_demosnDxAZ.scrollLeft<=0){
marquee_demosnDxAZ.scrollLeft=marquee_product1snDxAZ.scrollWidth;
}
else{
marquee_demosnDxAZ.scrollLeft--;
}
}
var MyMarsnDxAZ=setInterval(MarqueesnDxAZ,speed);
marquee_demosnDxAZ.onmouseover=function(){clearInterval(MyMarsnDxAZ);}
marquee_demosnDxAZ.onmouseout=function(){MyMarsnDxAZ=setInterval(MarqueesnDxAZ,speed);}

</script>

${partial:"inc/footer.phtml"}

</body>
</html>