<!DOCTYPE HTML>
<html>
<head>
    <title>${title} - ASP.NET模板系统 - Power by opsoft</title>
    <style type="text/css">
        body { margin: 0; }

        * {
            font-size: 12px;
            font-family: Tahoma;
        }

        .center { text-align: Center; }

        #footer {
            background: #e5e5e5;
            color: #006699;
            text-align: center;
            line-height: 30px;
        }

        a {
            color: #006699;
            outline: none;
            text-decoration: none;
        }

        a:hover { color: black; }
    </style>
</head>
<body>
${content}
<div id="footer">
    Copyright&nbsp;&nbsp;2010-${year}&nbsp;&nbsp;<a href="http://www.JR.DevFwcc" target="_blank">奥博软件</a>&nbsp;&nbsp;|&nbsp;<a href="http://go.JR.DevFwcc/?productID=102" target="_blank">使用帮助</a>&nbsp;|
    &nbsp;<a href="http://go.JR.DevFwcc/?to=product">更多产品</a>
</div>
</body>
</html>