<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>招贤纳士 - 乐府科技</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="copyright" content="Copyright lefu029.com 版权所有" />
    <link href="../../templets/Content/bootstrap.min.css"  rel="stylesheet" />
    <link href="../../templets/Content/docs.min.css"  rel="stylesheet" />
    <link href="../../templets/Content/style.css"  rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="../../templets/Scripts/html5shiv.min.js" ></script>
    <![endif]-->
    <script src="../../templets/Scripts/jquery.min.js" ></script>
    <script src="../../templets/Scripts/job.js" ></script>
</head>

<body>
    <header>
        <a href="../../index.html"  class="logo"><img src="../../templets/Picture/logo.png"  class="img-responsive" /></a>
        <div class="words"></div>
        <a class="join">Join us</a>
        <ul class="list-inline item">
          <li><a href="../../index.html"  target="_blank">乐府科技官网</a></li>
        </ul>
        <p>应聘时，您以为我们在招聘员工。加入后，才明白，原来我们都是合伙人！</p>
    </header>
    
    <div class="container bs-docs-container sales">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-docs-section">
                    <h1 class="page-header">销售代表 / 建站顾问/认证顾问　( 长期招贤纳士 )</h1>
                    <p class="lead">待遇和晋升，我们知道这是您最关心的，也愿意与您分享更多！</p>
                    <div class="bs-callout bs-callout-danger">
                        <p>
                          【底薪】 ￥1800 - ￥5000<br />【提成】 10% - 25%<br />【福利】 交通补助  + 社会保险 + 销售冠军奖<br />【休假】 周六日双休 + 国家法定节假日休息 + 带薪年假<br />
                          【支持】 入职后 1 - 2 周的集中培训，由老销售协同商谈客户、交流经验、熟悉流程<br />【晋升】 销售主管 ( 待遇方面将增加“管理岗位底薪”+“团队提成”)
                        </p>
                    </div>
                    <p class="lead">职位优势，其实销售并没有那么难！</p>
                    <div class="bs-callout bs-callout-info">
                        <p>
                          【以逸待劳】 这里没有陌生拜访，更没有上门推销。虽然我们很欣赏您自主挖掘客户的能力，但我们为您打造了全面的市场营销，让意向客户主动打电话来找到您！<br />
                          【鼎力支持】 十年经验的技术大牛，长期稳定的企业合伙人，鼎力支持您的销售工作。技术绝不会成为您签单的障碍！在这里，您可以学到更多的知识！<br />
                          【出行方便】 公司地址紧邻13号地铁西二旗站A口，出站即到，上班 / 出访客户，都非常方便。
                        </p>
                    </div>
                    <p class="lead">岗位要求，相对于学历，我们更看重能力和素质！</p>
                    <div class="bs-callout bs-callout-info">
                        <p>
                          【学历】 有互联网销售从业经验的，学历不限。没有相关经验的，要求大专以上学历 + 计算机专业<br />
                          【交流】 有良好的沟通能力，与来访的意向客户面谈、跟进、促成订单<br />
                          【文案】 能够撰写符合客户需求的网站建设方案文档 ( 有内部培训、参考文案、技术支持等各种帮助 )<br />
                          【素质】 有良好的职业素质，对待客户认真负责，有耐心。能够积极地、全身心地投入工作
                        </p>
                    </div>
                    <p class="lead">走个后门，加入我们！</p>
                    <div class="bs-callout bs-callout-info">
                        <p>
                          【直接负责人】 屈先生 <br />【负责人手机】 17792065929( 对于未来的合伙人，我愿意24小时待机静候 )<br />
                          【合伙人邮箱】 <span class="mail">job@lefu029.com</span><br />【我们的地址】西安高新区唐沣国际广场C座2817室　(沣惠南路与科技三路交汇处西北角 )
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        中国<u>·</u>西安<u>·</u>高新技术开发区<u>·</u>唐沣国际广场C座2817室<u>·</u>陕ICP备14009634号<u>·</u>
    </footer>

</body>
</html>