<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>

    <link rel="Stylesheet" href="${page.fpath}/template.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
    ${partial:"inc/header.phtml"}

    ${partial:"inc/main_top.phtml"}
    
      <div class="container3">
       
        <div class="clearfix sitemap">您的位置：<a rel="nofollow" href="${page.domain}">首页</a> > $sitemap() > ${archive.title}</div>
    <div class="partLayer">
            

             <div class="main">
           
               <div class="pd10 archive-page">
                   
                   <h1><center><strong>${archive.title}</strong></center></h1>
                    <div class="content">${archive.content}</div>
                    <br />
                    
                   <div>
                   </div>


                 </div></div>

                <div class="side">
                    <div class="side_title">${category.name}</div>
                    <div class="category">
                        <div class="content">
                            <ul class="clist">
                                $archives(${category.tag},10,'<li><a href="{url}">{title2}</a></li>')
                            </ul>
                        </div>
                    </div>
        		</div>
           <!-- Content END -->

           <div class="clearfix"></div>
        </div>
    </div>

    ${partial:"inc/footer.phtml"}
    <script type="text/javascript" src="${page.fpath}/global.js?hover=navi,clist,alist&version=${page.version}"></script>

    
</body>
</html>
