<?xml version="1.0" encoding="utf-8"?>
<settings>
  <add key="license_key"><![CDATA[YmIyNDAwMGI3YmEyZGMwZTgxZWI2OGQxYzk3MWU4NWI=]]></add>
  <add key="license_name"><![CDATA[七天培训教育学校]]></add>
  <add key="server_static"><![CDATA[cdn.ops.cc/cms]]></add>
  <add key="server_static_enabled"><![CDATA[false]]></add>
  <add key="db_type"><![CDATA[mysql]]></add>
  <add key="db_conn"><![CDATA[server=tangweibing.gotoip4.com;database=tangweibing;uid=tangweibing;pwd=3shf2z2j;charset=utf8]]></add>
  <add key="db_prefix"><![CDATA[qtedu_]]></add>
  <add key="mm_avatar_path"><![CDATA[/file/avatar/]]></add>
  <add key="sys_admin_tag"><![CDATA[admin]]></add>
  <add key="tpl_usecompress"><![CDATA[false]]></add>
  <add key="tpl_usefullpath"><![CDATA[true]]></add>
  <add key="opti_IndexCacheSeconds"><![CDATA[0]]></add>
  <add key="Opti_GC_Collect_Interval"><![CDATA[108000000]]></add>
  <add key="opti_ClientCacheSeconds"><![CDATA[0]]></add>
  <add key="sys_autowww"><![CDATA[false]]></add>
  <add key="server_upgrade"><![CDATA[http://cms-cdn.s1n1.com/cms/patch/latest/]]></add>
</settings>