<?xml version="1.0" encoding="utf-8"?>
<settings>
  <add key="license_name"><![CDATA[评估用户]]></add>
  <add key="license_key"><![CDATA[]]></add>
  <!-- ### 模板设置 ###
       ********************************
       tpl_usecompress:       模板使用压缩
       tpl_usefullpath:          模板使用完整路径
  -->
  <add key="tpl_usecompress"><![CDATA[true]]></add>
  <add key="tpl_usefullpath"><![CDATA[true]]></add>
  <!-- ### 数据库配置 ###
      **************************************************

      db_type:  数据库类型, 可选值: oledb(Access数据库),
                    sqlite,mssql(SQL Server),mysql
                    
      db_conn:  连接字符串,可用$ROOT代替数据库文件根目录
      db_prefix:数据表前缀,默认为"cms_"
      *************************************************
   -->
  <add key="db_type">sqlite</add>
  <add key="db_conn">Data Source=$ROOT/data/db.db</add>
  <!--
  <add key="db_type">mysql</add>
  <add key="db_conn">server=localhost;database=cms;uid=root;pwd=;charset=utf8</add>
   -->
  <!--
  <add key="db_type">mssql</add>
  <add key="db_conn">server=wdb238.dnsvdb.com;database=db_web392472;uid=web392472;pwd=lms$machinery</add>
 -->
  <add key="db_prefix"><![CDATA[cms_]]></add>
  <!-- ### 会员配置 ###
       ***********************************
       mm_avatar_path:    会员头像存储路径
       ***********************************
  -->
  <add key="mm_avatar_path">/resources/avatar/</add>
  <add key="sys_autowww"><![CDATA[false]]></add>
  <add key="opti_IndexCacheSeconds"><![CDATA[0]]></add>
  <add key="opti_ClientCacheSeconds"><![CDATA[0]]></add>
  <add key="server_static_enabled"><![CDATA[false]]></add>
  <add key="sys_admin_tag"><![CDATA[admin]]></add>
  <add key="server_static"><![CDATA[cms-cdn.s1n1.com/cms]]></add>
  <add key="Opti_GC_Collect_Interval"><![CDATA[108000000]]></add>
  <add key="server_upgrade"><![CDATA[http://cms-cdn.K3F.NET/cms/patch/latest/]]></add>
</settings>