<!DOCTYPE html>
<html>

<head>
    <title>${page.title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" type="text/css" href="${page.fpath}/base.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/css/default/page.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/css/default/index.css?v=${page.built}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc?wsd" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
    <script type="text/javascript" src="${page.fpath}/base.min.js?s=${page.built}&amp;hover=navi"></script>
</head>

<body>
    ${partial:"include/site_top_bar.phtml"}
    ${partial:"include/header.phtml"}
    <!-- 显示轮播 --
${partial:"include/flash_banner.phtml"}
-->
    <!-- Banner -->
    <div class="row mod-tech-banner">
        <div class="container-fluid gra-body-wrap">
            <div class="col-md-6">
                <h2>技术驱动生产，助力传统企业信息化</h2>
                <p>为企业量身定制软件，实现企业信息化、自动化
                    <span class="hidden-xs"><br /></span>
                    降低企业成本，加速企业发展</p>
                <div class="hidden">
                    <a class="gra-circle-fill-button" href="/page/enterprise-info.html">
                        了解更多..</a>&nbsp;&nbsp;
                    <a class="gra-circle-button" href="javascript:popFeedback()">我要咨询</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 业务范围 -->
    <div class="row mod-service-items gra-tab-card">
        <div class="container-fluid mod-service-tab gra-body-wrap">
            <div class="col-md-2 col-sm-2 col-xs-2 tab actived">
                <div class="mask"></div>
                <div class="it">
                    <a href="/service/custom-software.html">
                        <img src="${page.tpath}/css/images/self-softs@2x.png" title="软件定制开发" />
                        <h2 class="hidden-xs">软件定制开发</h2>
                        <h2 class="hidden-lg hidden-md hidden-sm">定制开发</h2>
                        <i>电商、ERP、行业软件等定制开发</i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 tab">
                <div class="mask"></div>
                <div class="it">
                    <a href="/service/commerce-software.html">
                        <img src="${page.tpath}/css/images/mall-dev@2x.png" title="电商系统开发" />
                        <h2 class="hidden-xs">电商系统开发</h2>
                        <h2 class="hidden-lg hidden-md hidden-sm">电商系统</h2>
                        <i>多商户、零售商城、批发商城</i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 tab">
                <div class="mask"></div>
                <div class="it">
                    <a href="/service/app-development.html">
                        <img src="${page.tpath}/css/images/app-dev@2x.png" title="APP开发" />
                        <h2 class="hidden-xs">APP开发</h2>
                        <h2 class="hidden-lg hidden-md hidden-sm">APP开发</h2>
                        <i>安卓、IOS、混合Hybird开发</i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 tab">
                <div class="mask"></div>
                <div class="it">
                    <a href="/service/website.html">
                        <img src="${page.tpath}/css/images/micro-softs@2x.png" title="微信应用开发" />
                        <h2 class="hidden-xs">微信应用开发</h2>
                        <h2 class="hidden-lg hidden-md hidden-sm">微信开发</h2>
                        <i>企业、品牌网站、网站设计、网站优化</i>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 tab">
                <div class="mask"></div>
                <div class="it">
                    <a href="/service/website.html">
                        <img src="${page.tpath}/css/images/site-dev@2x.png" title="企业网站建设" />
                        <h2 class="hidden-xs">企业网站建设</h2>
                        <h2 class="hidden-lg hidden-md hidden-sm">企业网站</h2>
                        <i>企业、品牌网站、网站设计、网站优化</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="mod-service-details">
            <div class="container-fluid gra-body-wrap">
                <i class="arrow service-items-arrow"></i>
                <!-- 定制开发 -->
                <div class="frame actived mod-service-deve">
                    <div class="gra-big-tit">
                        提供完全自定义的定制开发服务
                        <p class="sub">
                            100%定制开发、100%符合您的需求；稳定可靠，可扩展。
                        </p>
                    </div>
                    <div class="mod-service-deve-s clearfix">
                        <div class="mod-service-dev-tit">
                            适合包括并不限于以下需求的客户
                        </div>
                        <div class="col-md-2 col-sm-2 hidden-xs"></div>
                        <div class="col-md-8 col-xs-12">
                            <ul class="clearfix">
                                <li class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="${page.tpath}/css/images/index-deve-s@2x.png" />
                                    <span class="txt">拓展渠道</span>
                                </li>
                                <li class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="${page.tpath}/css/images/index-deve-s-1@2x.png" />
                                    <span class="txt">降低成本</span>
                                </li>
                                <li class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="${page.tpath}/css/images/index-deve-s-2@2x.png" />
                                    <span class="txt">产品分销</span>
                                </li>
                                <li class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="${page.tpath}/css/images/index-deve-s-3@2x.png" />
                                    <span class="txt">互联网+</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-2 hidden-xs"></div>
                    </div>
                    <div class="mod-service-instant">
                        <a class="gra-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                    </div>
                </div>
                <div class="frame">
                    <div class="gra-big-tit">
                        提供B2C/B2C/O2O、多商户+零售+批发商城定制
                        <p class="sub">
                            自主研发商城系统，支持与第三方应用集成，为您构建全渠道电商解决方案
                        </p>
                    </div>
                    <div class="mod-service-instant">
                        <a class="gra-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                    </div>
                </div>
                <div class="frame">
                    <div class="gra-big-tit">
                        安卓/苹果/智能PDA应用定制开发
                        <p class="sub">
                            提供安卓和苹果原生/混合开发，手持设备/工控系统开发
                        </p>
                    </div>
                    <div class="mod-service-instant">
                        <a class="gra-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                    </div>
                </div>
                <div class="frame">
                    <div class="gra-big-tit">
                        提供微信公众号和小程序的定制开发
                        <p class="sub">
                            同时还可支持支付宝小程序和服务号。
                        </p>
                    </div>
                    <div class="mod-service-instant">
                        <a class="gra-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                    </div>
                </div>
                <div class="frame">
                    <div class="gra-big-tit">
                        为企业提供电脑/移动网站建设、网络营销服务
                        <p class="sub">
                            免费提供网站运营咨询和排名优化服务。
                        </p>
                    </div>
                    <div class="mod-service-instant">
                        <a class="gra-circle-fill-button" href="javascript:popFeedback()">我要咨询</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 我们的优势 -->
    <div class="row mod-our-adv mod-index-our-adv gra-body-wrap">
        <div class="container-fluid">
            ${partial:"page/our_adv.phtml"}
        </div>
    </div>
    <!-- 客户案例 -->
    <div class="row mod-cases gra-body-wrap">
        <div class="container-fluid">
            <div class="gra-big-tit">
                客户案例
            </div>
            <div>
                <ul>
                    $archives('/case',4,'
                    <li class="col-md-3 col-sm-3 col-xs-4">
                        <div class="it">
                            <a href="{url}">
                                <div class="mask"></div>
                                <img src="{thumbnail}" />
                                <span class="label-mask"></span>
                                <span class="label">{title}</span>
                            </a>
                        </div>
                    </li>')
                </ul>
            </div>
        </div>
    </div>
    <div class="row mod-news gra-body-wrap">
        <div class="container-fluid">
            <div class="col-md-3 hidden-sm hidden-xs">
                <img src="${page.tpath}/images/internal-cloud-host.png" />
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="mod-news-tab gra-tab-card">
                    <ul>
                        <li class="tab tab-hover actived">
                            <i></i><a href="/tech" onclick="return false">技术资讯</a>
                        </li>
                        <li class="tab tab-hover">
                            <i></i><a href="/news" onclick="return false">新闻资讯</a>
                        </li>
                        <li class="tab tab-hover">
                            <i></i><a href="/q" onclick="return false">常见问题</a>
                        </li>
                    </ul>
                    <div class="frame actived">
                        <div class="mod-news-spec mod-mix-archive-lists col-md-7 col-sm-7 col-xs-12">
                            <ul>
                                $special_archives('/tech',3,'
                                <li class="mod-news-item">
                                    <img class="thumbnail" src="{thumbnail}" alt="{title}" />
                                    <i class="dt mod-news-item-dt">{publish_day}</i>
                                    <div class="title"><a href="{url}">{title}</a></div>
                                    <p>{outline}</p>
                                </li>')
                            </ul>
                        </div>
                        <div class="mod-news-normal col-md-5 col-sm-5 hidden-xs">
                            <ul>
                                $archives('/tech',10,'
                                <li class="mod-news-item">
                                    <i class="gra-item-dot"></i>
                                    <a href="{url}">{title}</a>
                                    <i class="mod-news-item-dt">{publish_day}</i>
                                </li>')
                            </ul>
                        </div>
                    </div>
                    <div class="frame">
                        <div class="mod-news-spec mod-mix-archive-lists col-md-7 col-sm-7 col-xs-12">
                            <ul>
                                $special_archives('/news',3,'
                                <li class="mod-news-item">
                                    <img class="thumbnail" src="{thumbnail}" alt="{title}" />
                                    <i class="dt mod-news-item-dt">{publish_day}</i>
                                    <div class="title"><a href="{url}">{title}</a></div>
                                    <p>{outline}</p>
                                </li>')
                            </ul>
                        </div>
                        <div class="mod-news-normal col-md-5 col-sm-5 hidden-xs">
                            <ul>
                                $archives('/news',10,'
                                <li class="mod-news-item">
                                    <i class="gra-item-dot"></i>
                                    <a href="{url}">{title}</a>
                                    <i class="mod-news-item-dt">{publish_day}</i>
                                </li>')
                            </ul>
                        </div>
                    </div>
                    <div class="frame">
                        <ul>
                            <div class="mod-news-spec mod-mix-archive-lists col-md-7 col-sm-7 col-xs-12">
                                <ul>
                                    $special_archives('/q',3,'
                                    <li class="mod-news-item">
                                        <img class="thumbnail" src="{thumbnail}" alt="{title}" />
                                        <i class="dt mod-news-item-dt">{publish_day}</i>
                                        <div class="title"><a href="{url}">{title}</a></div>
                                        <p>{outline}</p>
                                    </li>')
                                </ul>
                            </div>
                            <div class="mod-news-normal col-md-5 col-sm-5 hidden-xs">
                                <ul>
                                    $archives('/q',10,'
                                    <li class="mod-news-item">
                                        <i class="gra-item-dot"></i>
                                        <a href="{url}">{title}</a>
                                        <i class="mod-news-item-dt">{publish_day}</i>
                                    </li>')
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mod-friend-link">
        <div class="container">
            <i>$lang(friend-link):</i>$friend_link()
        </div>
    </div>
    ${partial:"include/components/site_instant.phtml"}
    ${partial:"include/components/feedback_pop.phtml"}
    ${partial:"include/footer.phtml"}
    <script type="text/javascript">
    var saw = $b.$fn(".service-items-arrow");
    var mathSAWLeft = function(tab) {
        return tab.attr("offsetLeft") + (tab.attr("clientWidth") - saw.attr("offsetWidth")) / 2;
    };
    $b.$fn(".mod-service-items .tab").click(function(event) {
        saw.animate({ "left": mathSAWLeft(this) + "px" }, "fast");
        event.preventDefault();
    });
    saw.css({ "left": mathSAWLeft($b.$fn(".mod-service-items .tab").first()) + "px" });
    </script>
</body>

</html>