* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

.Cooldog_container {
    width: 70%;
    min-width: 300px;
    height: 400px;
    margin: -200px auto 0;
    position: relative;
    overflow: hidden;
    
}

.Cooldog_container .Cooldog_content {
    position: absolute;
    width: 498px;
    height: 400px;
    top: 0;
    left: 50%;
    margin-left: -249px;
    
}

.Cooldog_container .Cooldog_content li {
    position: absolute;
    top: 0;
    left: 0;
    width: 498px;
    height: 400px;
    transition: all 0.3s ease;
}

.Cooldog_container .Cooldog_content li img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.Cooldog_container .btn_left, .Cooldog_container .btn_right {
    display: none;
    width: 126px;
    height: 179px;
    position: absolute;
    top: 101px;
    z-index: 50;
    color: #C0C0C4;
    line-height: 179px;

}

.Cooldog_container .btn_left {
    text-align: left;
    left: 0;
}

.Cooldog_container .btn_right {
    text-align: right;
    right: 0;
}

.Cooldog_container i {
    font-size: 50px;
}

.Cooldog_container .btn_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: none;
    line-height: 20px;
    text-align: center;
    background-color: #BCB9B9;
    color: #fff;
}

.Cooldog_container .btn_close i {
    font-size: 18px;
}

.Cooldog_container .buttons {
    width: 370px;
    height: 5px;
    line-height: 5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -185px;
    z-index: 80;
}

.Cooldog_container .buttons a {
    float: left;
    width: 40px;
    height: 5px;
    background-color: #898F94;
    margin-right: 15px;
}

.Cooldog_container .buttons a.color {
    background-color: #92ffff;
}

.Cooldog_container .buttons a:last-child {
    margin-right: 0;
}

.p1 {
    transform: translate3d(-577px, 0, 0) scale(0.81);
    opacity: 0.4;
    z-index: 1;
}

.p2 {
    transform: translate3d(-325px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.6;
    z-index: 2;
}

.p3 {
    transform: translate3d(-125px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}

.p4 {
    transform: translate3d(0px, 0, 0) scale(1);
    opacity: 1;
    z-index: 4;
}

.p5 {
    transform: translate3d(220px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 3;
}

.p6 {
    transform: translate3d(425px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.6;
    z-index: 2;
}

.p7 {
    transform: translate3d(625px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.4;
    z-index: 1;
}





