<?xml version="1.0"?>
<configuration>
	<system.web>
		<!-- 如果为asp.net 4.0 -->
		<httpRuntime requestValidationMode="2.0"/>
		<customErrors mode="Off">
			<error statusCode="404" redirect="/404.html"/>
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/></assemblies></compilation>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
	</system.web>
	<system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<!--开启gzip压缩-->
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
