<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>    
    <link rel="Stylesheet" href="${page.tpath}/themes/template.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/themes/style.css?version=${page.version}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
    ${partial:"inc/header.phtml"}
    
    ${partial:"self/baoming.phtml"}

    ${partial:"inc/main_top.phtml"}

    <div class="page-main panel">
             <div class="main">

                <div style="width:700px"></div>
        <div class="clearfix sitemap">您的位置：<a rel="nofollow" href="${page.domain}">首页</a> > $sitemap() </div>
            <div class="line line-archive"></div>



                <div class="panel-archives-hor">
                    <ul>
                     $pager_archives(12,'
                         <li class="item">
                              <a class="title" title="{title}" target="_blank" href="{url}">
                              <mask></mask>
                              <img class="thumb" src="{thumbnail}" alt="{title}"/><br />
                              <span>{title2}</span></a>
                          </li>
                      
                     ')
                     </ul>
                    <div class="clearfix"></div>
                </div>
                $pager()
            </div>
            <div class="side">
                  <div class="border">
                        <div class="title"><strong>课程分类</strong></div>
                
                        <div class="category">
                            <ul class="clist">
                                $archives('kc',20,'<li><a href="{url}">{title}</a></li>')
                            </ul>
                        </div>
                  </div>
                 
                 ${partial:"inc/sidebar.phtml"}

                </div>
            
      </div>

    ${partial:"inc/footer.phtml"}
    
</body>
</html>
