<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <link rel="Stylesheet" href="/style/css/style.css" type="text/css" />
    <script type="text/javascript" src="${page.fpath}/global.js?hover=navi,clist,alist"></script>
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
    ${partial:"inc/header.phtml"}

    <!-- @首页主要部分 -->
    <div id="listmain">
        <div class="container">
           <!-- Content BEGIN -->
            
                <div class="side">${partial:"inc/side.phtml"}</div>

            <div class="main">
                <h1 class="title">${category.Name}</h1>
                
                <div class="map">
                    首页 > $sitemap() > ${archive.title}
                </div>

                <div class="archive">
                    <div class="content">${archive.content}</div>
                </div>


            </div>

           <!-- Content END -->

           <div class="clearfix"></div>
    ${partial:"inc/footer.phtml"}
        </div>
    </div>


    
</body>
</html>
