<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <link rel="Stylesheet" href="${page.fpath}/template.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css" type="text/css" />
</head>
<body>
    ${partial:"inc/header.phtml"}

    <div style="background:#036eb8;padding-top:20px;">
  
    <div style="background:#fff;width:940px;margin:0 auto;padding:30px 0 10px 10px;">
     
        <div class="category_title">
            产品搜索<br />
            <em id="category_title_em">SEARCH</em>
        </div>
    </div>
</div>

   <div class="container3">
       	
    	<div class="hrline"></div>
       
       <div class="clearfix sitemap">您的位置：<a rel="nofollow" href="${page.domain}">首页</a> > 
           搜索：<a href="/search?w=${search.escapeKey}">${search.key}</a>
                </div>
                
       
       <div class="partLayer">
            
        <div class="main">
           
               <div class="pd10 category-page">
                   <h1 class="none_block1">搜索结果：</h1>
    			<div class="hrline"></div>
                   
                   <div class="palist news pager-archive">
                       <ul>
                       
                           
                	$searcharchives(10,'<li class="item">
                        <a class="title" title="{title2}" target="_blank" href="{url}">{title}</a>
                        <span class="time">{createtime2}</span>
                        </li>')
                       
                       </ul>
                   </div>
                $pager()
            </div>
        </div>
        
        
            <div class="side">
                <div class="side_title">产品中心</div>
                <div class="category">
                    <div class="content">
                        <ul class="clist">
                            $categories('product','<li><a href="{url}">{name}</a></li>')
                        </ul>
                    </div>
                </div>
				
            </div>
       

           <div class="clearfix"></div>

        </div>
    </div>


    ${partial:"inc/footer.phtml"}
</body>
</html>
