<?xml version="1.0" encoding="utf-8"?>

<serviceConfig>
  <service type="Jianghuyou.GameTools.BLL.UserBLL,Jianghuyou.GameTools.BLL" objectUri="tcp://192.168.1.52:9998/user" />
  <service type="Jianghuyou.GameTools.BLL.LogBLL,Jianghuyou.GameTools.BLL" objectUri="tcp://192.168.1.52:9998/log" />
  <service type="Jianghuyou.GameTools.BLL.PlayerBLL,Jianghuyou.GameTools.BLL"
           objectUri="tcp://192.168.1.52:9998/player" />
  <service type="Jianghuyou.GameTools.BLL.OrderBLL,Jianghuyou.GameTools.BLL" objectUri="tcp://192.168.1.52:9998/order" />
  <service type="GameInterface.Remoting.GameAccount,GameInterface.Remoting"
           objectUri="tcp://192.168.1.82:9997/gameaccount" />
  <serviceUri>
    <add name="IAccountSecurityInfo" uri="tcp://192.168.1.82:9999/AccountSecurityInfobll.rem" />
    <add name="IQuery" uri="tcp://192.168.1.82:10050/HSPaymentservice/QueryOp" />
    <add name="CnChess" uri="tcp://192.168.1.52:9996/gamedata" />
    <add name="DDZ" uri="tcp://192.168.1.52:9995/gamedata" />
    <add name="GDY" uri="tcp://192.168.1.52:9994/gamedata" />
    <add name="MJ" uri="tcp://192.168.1.52:9993/gamedata" />
    <add name="PIG" uri="tcp://192.168.1.52:9992/gamedata" />
    <add name="SJ" uri="tcp://192.168.1.52:9991/gamedata" />
    <add name="Texas" uri="tcp://192.168.1.52:9990/gamedata" />
    <add name="WZQ" uri="tcp://192.168.1.52:9989/gamedata" />
    <add name="YSZ" uri="tcp://192.168.1.52:9988/gamedata" />
  </serviceUri>
</serviceConfig>