<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>    
    <link rel="Stylesheet" href="${page.fpath}/common.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
    ${partial:"inc/header.phtml"}
    
    
    <div class="container2">
    ${partial:"inc/main_top.phtml"}
        <div class="container" id="archivemain">
           
                <div class="side">
                    <div class="border greenborder">
                        <h3 class="title center">${category.name}</h3>
                        <div class="content">
                            <ul class="alist bold">
                                $archives(100,'<li><a href="{url}" title="{title}">{title2}</a></li>')
                            </ul>
                        </div>
                    </div>
            	</div>
            
                <div class="main">
                    <h1 class="arrow_tt">${archive.title}</h1>
                    <div class="archive-content">
                         ${archive.content}
                    </div>
               </div>
           <!-- Content END -->

           <div class="clearfix"></div>
            
             ${partial:"inc/footer.phtml"}
        </div>
    </div>

    <script type="text/javascript" src="${page.fpath}/global.js?hover=navi,clist,alist&ld=scroller&version=${page.version}"></script>

    
</body>
</html>
