<!DOCTYPE html>
<html>
<head>
    <title>"${page.title}</title>
    <script type="text/javascript" src="${page.fpath}/global.js?hover=navi,clist,alist"></script>
    <meta name="keywords" content="${page.keywords}" />
    <link rel="Stylesheet" href="/style/css/style.css" type="text/css" />
</head>
<body>
    ${partial:"inc/header.phtml"}

    <div id="listmain">
        <div class="container">
           <!-- Content BEGIN -->
            
            <div class="main1">
                <div class="clearfix">
                    <a href="${page.domain}" rel="nofollow">首页</a>>搜索：<a href="/search?w=${search.escapeKey}">${search.key}</a>
                </div>
                
                $searcharchives(10,'<p class="item">
<a class="title" title="{title}" target="_blank" href="{url}">{title2}</a>
<span class="time">{createtime2}</span>
</p>')}

            </div>

           <!-- Content END -->

           <div class="clearfix"></div>
        </div>
    </div>

    ${partial:"inc/footer.phtml"}
</body>
</html>
