<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- 如果为asp.net 4.0 -->
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="4096000"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoId"/>
  </system.web>
  <system.webServer>
    <!--开启gzip压缩-->
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="net4Isapi" path="*" verb="*" modules="IsapiModule"
           scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
           resourceType="Unspecified" requireAccess="None"
           preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>