<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>${page.title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.fpath}/base.min.css?v=${page.built}"
    />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.tpath}/css/page.css?v=${page.built}"
    />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.tpath}/css/services.css?v=${page.built}"
    />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
  </head>

  <body>
    ${include:"../include/topbar.html"} ${include:"../include/header.html"}
    ${include:"../include/sitemap.html"}

    <section class="mod-custom-values pt-60 pb-60">
      <div class="g-section-title g-text-center pb-60">
        <h1>我们深知传统企业信息化发展举步维艰</h1>
        <p>通过我们定制软件创建价值，让您突破瓶颈、在行业内保持领先。</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="it it1">
              <h2>商业决策</h2>
              <p>
                通过软件将您的商业计划从纸上变为现实；<br />
                传统企业通过软件低成本快速验证商业决策，实现精益经营。
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="it it2">
              <h2>降低成本</h2>
              <p>
                软件可帮助企业实现业务智能化、自动化；<br />
                大幅降低人力成本，这只需要你支付一次费用。
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="it it3">
              <h2>拓宽业务</h2>
              <p>
                使用软件技术，以适应新的市场和经济，提高企业竞争力；<br />
                摆脱人员、地域的限制；运筹帷幄、立于不败。
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="it it4">
              <h2>稳定可靠</h2>
              <p>
                企业投入的设备需要维修、更换；而软件可终身使用。<br />
                软件可适应您业务变化，而不需要重新开发软件。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="row-adv mod-our-adv mod-index-our-adv g-bg-cover pt-60 pb-30"
    >
      <div class="container">${include:"../include/our_adv.html"}</div>
    </section>

    <div class="g-body-wrap mod-custom-questions">
      <div class="container">
        <div class="g-big-tit">常见软件定制问题</div>
        <ul class="row">
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
          <li class="col-md-6 col-sm-6">
            <div class="it">
              <span class="q">我公司做生产的，软件对我们能有帮助吗?</span>
              <p>
                软件对任何行业都有帮助！生产型企业软件应用的地方比较多。
                比如计件，可使用软件和标签自动计算件数，进而计算薪资等。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    ${include "../include/assistant.html"} ${include:"../include/footer.html"}
    <script
      type="text/javascript"
      src="${page.fpath}/base.min.js?s=${page.built}&amp;hover=navi"
    ></script>
  </body>
</html>
