<div class="g-section-title g-text-center">
    <h1>我们的优势</h1>
</div>
<div class="row pt-30">
    <div class="col col-lg-3 col-sm-3 col-3">
        <div class="it">
            <div class="circle"><img src="${page.tpath}/css/images/our-adv-icon-1@2x.png" alt="经验丰富" /></div>
            <h3>经验丰富</h3>
            <div class="g-arrow-hr">
                <span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span>
            </div>
            <i>软件研发均来自上海、拥有数十年的软件研发经验</i>
        </div>
    </div>
    
    <div class="col col-lg-3 col-sm-3 col-3">
        <div class="it">
            <div class="circle"><img src="${page.tpath}/css/images/our-adv-icon-2@2x.png" alt="灵活多变"/></div>
            <h3>灵活多变</h3>
            <div class="g-arrow-hr">
                <span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span>
            </div>
            <i>超强的业务分析和架构设计能力，可满足客户需求变更.</i>
        </div>
    </div>

    <div class="col col-lg-3 col-sm-3 col-3">
        <div class="it">
            <div class="circle"><img src="${page.tpath}/css/images/our-adv-icon@2x.png" alt="服务省心"/></div>
            <h3>服务用心</h3>
            <div class="g-arrow-hr">
                <span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span>
            </div>
            <i>以客户的利益为导向,提供快捷的售后服务,让客户省心.</i>
        </div>
    </div>
    
    <div class="col col-lg-3 col-sm-3 col-3">
        <div class="it">
            <div class="circle"><img src="${page.tpath}/css/images/our-adv-icon-3@2x.png" alt="交付源码"/></div>
            <h3>交付源码</h3>
            <div class="g-arrow-hr">
                <span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span>
            </div>
            <i>定制项目可按需交付源码,并提供技术支持服务</i>
        </div>
    </div>
</div>