<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>${page.title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="Stylesheet"
      href="${page.fpath}/base.min.css?v=${page.built}"
      type="text/css"
    />
    <link
      rel="Stylesheet"
      href="${page.tpath}/css/page.css?v=${page.built}"
      type="text/css"
    />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
  </head>
  <body>
    ${include:"include/topbar.html"} ${include:"include/header.html"}
    ${include:"include/sitemap.html"}

    <div class="mod-cat pb-30 mod-cat-${category.tag}">
      <div class="container">
        <div class="row">
          <div class="col col-md-9">
            <div class="mod-cat-articles">
              $paging_archives(20,0,{
              <div class="it row">
                <div class="col-md-4">
                  <div class="g-suited-img">
                    <img
                      class="lazy"
                      src="${page.fpath}/images/lazy-holder.gif"
                      data-src="{thumbnail}"
                      alt="{raw_title}"
                    />
                  </div>
                </div>
                <div class="col-md-8">
                  <h3 class="g-single-row"><a href="{url}">{title}</a></h3>
                  <p class="desc text-sm">{outline}</p>
                  <div class="meta row text-sm">
                    <div class="col-6 col-md-6">日期：<i>{create_date}</i></div>
                    <div class="col-6 col-md-6">点击：<i>{count}</i></div>
                  </div>
                </div>
              </div>
              })
            </div>
            <div class="container row mod-art-paging">$pager()</div>
          </div>

          <div class="col col-md-3 hidden-xs">
            <div class="mod-cat-nav">
              <h2 class="tit">$lang(category)$lang(space)$lang(navigator)</h2>
              <div class="content">
                <ul class="mod-cat-list clist list">
                  $categories('root','
                  <li><a href="{url}">{name}</a></li>
                  ')
                </ul>
              </div>
              <br />
            </div>
            ${include:"ad/cat-side-bar.html"}
          </div>
        </div>
      </div>
    </div>

    ${include:"include/footer.html"} ${include "include/assistant.html"}
    <script
      type="text/javascript"
      src="${page.fpath}/base.min.js?hover=clist,alist,navi&amp;version=${page.version}"
    ></script>
  </body>
</html>
