<!DOCTYPE html>
<html>
  <head>
    <title>${page.title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.fpath}/base.min.css?v=${page.built}"
    />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.tpath}/css/page.css?v=${page.built}"
    />
    <link
      rel="Stylesheet"
      type="text/css"
      href="${page.tpath}/css/index.css?v=${page.built}"
    />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />

    <meta
      name="360-site-verification"
      content="23fad96b4585c0b46335f677780ad79d"
    />
  </head>

  <body>
    ${include:"include/topbar.html"} ${include:"include/header.html"}

    <!-- Banner -->
    <section class="mod-tech-banner banner">
      <div class="container">
        <div class="row g-align-center">
          <div
            class="col-md-6 col-xs-12 mod-tech-banner-p1 banner__main animate__animated animate__fadeInLeft"
          >
            <div class="slogan">
              <div class="text-xl">
                <span class="font-bold">10</span>多年来,我们始终坚持
              </div>
              <h1 class="text-3xl text-primary font-bold">
                做值得客户信赖的技术伙伴!
              </h1>
            </div>
            <h3 class="uppercase hidden">
              <i>Be a trustworthy software development technology partner</i>
            </h3>
            <p class="text-lg">
              复泽网络核心骨干来自上海,
              有长达数十年以上的软件架构和定制开发经验；
              我们擅长主流软件语言(包括但不限于:JAVA/GO/PYTHON/PHP/C#等)的系统软件的定制开发;
              我们深耕佛山,
              凭借过硬的技术和丰富的经验优势,让每个项目的价值都得以实现!
            </p>
            <div class="ctrl">
              <a
                class="btn g-circle-fill-button"
                href="${page.domain}/service/custom-software.html"
              >
                了解更多..</a
              >&nbsp;&nbsp;
              <a
                class="btn g-circle-button hidden-xs"
                href="javascript:popFeedback()"
                >我要咨询</a
              >
            </div>
          </div>
          <div
            class="col-lg-6 hidden-xs banner__side animate__animated animate__fadeInRight"
          >
            <img
              src="${page.tpath}/images/banner/banner-image.png"
              alt="复泽"
            />
          </div>
        </div>

        <!-- 新闻公告 -->
        <div class="mod-banner-news hidden-xs">
          <div class="col-lg-6">
            <div class="row-news">
              <span class="icon icon-sound">
                <i class="fa fa-info-circle"></i>
                <span class="hidden-xs">$lang('special offer'):</span>
              </span>
              <span class="list" id="notice-swiper">
                <ul>
                  $archives('promo',3,{
                  <li><a href="{url}">{title}</a></li>
                  })
                </ul>
              </span>
            </div>
          </div>
          <div class="col-lg-6 mod-banner-d">
            <b class="uppercase">${site.name} - www.fze.net</b>
          </div>
        </div>
      </div>
    </section>

    <!--  关于我们 -->
    <!--
    <section data-scroll-index="1" id="about" class="row-about pt-90 pb-90 gray-bg hidden-xs hidden">
        <div class="about-bg g-bg-cover"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-6">
                    <div class="about-text">
                        <h1>关于我们</h1>
                        <p>复泽网络(www.fze.net)－专业的软件定制开发服务商,位于中国华夏陶瓷总部基地. 团队成员来自上海, 平均工作经验超过十年. </p>
                        <p>我们擅长企业级应用的业务分析、软件研发；精通JAVA/GO/PYTHON/.NET等语言, 先后向多家企业提供了IT咨询和软件开发服务,在软件架构、云计算、DevOps和自动化运维等领域进行技术输出.</p>
                        <p>技术和服务是复泽的核心, 客户合作至今超过十二年.</p><br/><br/>
                        <div class="g-btn g-btn-inline">
                            <a href="${page.domain}/about/contact.html">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	-->

    <!-- 我们的服务 -->
    <section
      data-scroll-index="2"
      id="services"
      class="row-services pt-90 pb-90"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="g-section-title pb-15 g-text-center">
              <h1>我们的服务</h1>
              <p>选择复泽、为您负责</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/self-softs@2x.png"
                  alt="软件定制开发"
                />
              </div>
              <h3>软件定制开发</h3>
              <p>根据客户的需求定制开发；包括需求分析、产品和架构设计等服务</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/mall-dev@2x.png"
                  alt="电商系统开发"
                />
              </div>
              <h3>电商系统开发</h3>
              <p>提供B2B/B2C/C2C电商系统开发、ERP、CRM及行业软件开发</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/app-dev@2x.png"
                  alt="APP开发"
                />
              </div>
              <h3>APP开发</h3>
              <p>
                提供各类原生APP、H5开发、PDA应用开发；提供苹果免掉签证书服务
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/micro-softs@2x.png"
                  alt="微信应用开发"
                />
              </div>
              <h3>小程序开发</h3>
              <p>
                提供微信、支付包、抖音等主流社交媒体成品小程序及二次开发服务.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/site-dev@2x.png"
                  alt="企业网站建设"
                />
              </div>
              <h3>企业品牌设计</h3>
              <p>企业VI设计、品牌包装、网站排名优化、品牌网站建设</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-6">
            <div class="it it-1 mt-30 g-text-center">
              <div class="icon pb30">
                <img
                  src="${page.tpath}/css/images/tech-consult.png"
                  alt="IT咨询服务"
                />
              </div>
              <h3>IT咨询服务</h3>
              <p>
                提供业务分析、技术架构、自动化运维、服务器攻防等技术咨询服务
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 我们的优势 -->
    <div class="row-adv mod-our-adv mod-index-our-adv g-bg-cover pt-60 pb-30">
      <div class="container">${include:"include/our_adv.html"}</div>
    </div>

    <!-- 为什么选择复泽 -->

    <!-- 客户案例 -->

    <!--    <div class="container mod-cases pt-90 pb-90 hidden">-->
    <!--            <h1 class="g-big-tit">-->
    <!--                客户案例-->
    <!--            </h1>-->
    <!--            <div class="row">-->
    <!--                <ul class="g-flex">-->
    <!--                    $archives('case',4,{-->
    <!--                    <li class="col-lg-3 col-sm-3 col-xs-4">-->
    <!--                        <div class="it">-->
    <!--                            <a href="{url}">-->
    <!--                                <div class="mask"></div>-->
    <!--                                <img src="{thumbnail}" />-->
    <!--                                <span class="label-mask"></span>-->
    <!--                                <span class="label">{title}</span>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </li>})-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--    </div>-->

    <section class="row row-news block padding-bx-4">
      <div class="container flex-col padding-bx-4">
        <div class="block__title margin-bx-4">
          <div class="block__title--inner">
            <div class="block__title--text">资讯动态</div>
            <div class="block__title--secondnary">News</div>
          </div>
        </div>
        <div class="row">
          $archives('/info',6,{
          <div class="it row-news__item col-lg-4">
            <div class="img-fit img-fit-75 margin-bx-4">
              <img
                class="lazy"
                src="${page.fpath}/images/lazy-holder.gif"
                data-src="{thumbnail}"
                alt="{raw_title}"
              />
            </div>
            <h3 class="row-news__item--title text-lg padding-bx-2">
              <a href="{url}">{title}</a>
            </h3>
            <p class="row-news__item--desc text-sm text-gray padding-bx-2">
              {outline}
            </p>
            <div class="flex align-center justify-between more">
              <div class="time text-gray">{publish_short_date}</div>
              <div class="text-gray">
                <a href="{url}" class="text-sm">阅读更多</a>»
              </div>
            </div>
          </div>
          })
        </div>
      </div>
    </section>

    <section
      data-scroll-index="7"
      id="contact"
      class="mod-contact-box pt-90 pb-100 gray-bg hidden-xs"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="g-section-title pb-10 g-text-center">
              <h1>联系我们</h1>
              <p>
                如果您有需求或相关技术问题, 可以将您的联系方式提交给我们.
                工作人员将会尽快回复您.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- contact form start-->
          <div class="col-lg-6 col-xs-12">
            <form id="contact-form" action="${page.domain}/_cms/contact">
              <div class="contact-form mt-30">
                <label>
                  <input type="text" name="name" placeholder="您的称呼" />
                </label>
              </div>
              <div class="contact-form">
                <label>
                  <input name="phone" placeholder="电话/手机号码" />
                </label>
              </div>
              <div class="contact-form">
                <label>
                  <textarea
                    name="message"
                    cols="30"
                    rows="10"
                    placeholder="消息内容"
                  ></textarea>
                </label>
              </div>
              <p class="form-message"></p>
              <div class="contact-form m-0">
                <button class="g-primary-btn" type="submit">提交</button>
              </div>
            </form>
          </div>
          <!-- contact form ends-->

          <!-- map start-->
          <div class="col-lg-6 hidden-xs">
            <div class="map mt-30">
              <img
                class="lazy"
                src="${page.fpath}/images/lazy-holder.gif"
                data-src="${page.tpath}/images/map-address.png"
                alt="公司地址"
              />
            </div>
          </div>
          <!-- map ends-->
        </div>
      </div>
    </section>

    <div class="mod-friend-link">
      <div class="container">
        <div class="row"><i>$lang(friendly-links):</i>$friend_link()</div>
      </div>
    </div>

    ${include:"include/footer.html"}${include "include/assistant.html"}
  </body>
</html>
