<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.2" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Resources.Extensions" version="5.0.0-preview.1.20120.5" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net471" />
</packages>