<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="Stylesheet" href="${page.fpath}/template.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/mobi/themes/style.css?version=${page.version}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>
  ${partial:"include/header.phtml"}

  <div class="container">
    <div class="pl">


      <div class="title">
          <span>></span>$lang(product)$lang(space)$lang(category)
      </div>
        
        
      <div class="product-category frame-category">
              <ul>
                  $categories('product','<li class="{class}"><a href="{url}"><img src="{thumbnail}" height="60" alt="{name}"/>{name}</a></li>')
              </ul>
              <div class="clear-fix"></div>
      </div>
      
        <div class="hr2"></div><br />
      <div class="title">
        <span>></span>$lang(about)$lang(space)$lang(us)
      </div>
      <ul class="list about hidden">
        <div class="col last-col">
        	<img src="${page.tpath}/themes/default/c_co_img.jpg" alt="$lang(company)" width="160" height="120"/>
          </div>
          <div class="col">
              <ul>
                  <li class="tit">集团概况</li>
                  <li><a href="${page.domain}/about/intro.html">公司介绍</a></li>
                  <!--<li><a href="${page.domain}/about/development.html">公司历程</a></li>-->
                  <li><a href="${page.domain}/about/culture.html">企业文化</a></li>
                  <li><a href="${page.domain}/about/qualification.html">资质荣誉</a></li>
                  <li><a href="${page.domain}/about/contact-us.html">联系我们</a></li>
              </ul>
          </div>
          <div class="col">
              <ul>
                  <li class="tit">下属公司</li>
                  <li><a href="${page.domain}/branch/#sg">沈高阀门</a></li>
                  <li><a href="${page.domain}/branch/#xs">信穗投资</a></li>
                  <li><a href="${page.domain}/branch/#nz">南庄消防设备厂</a></li>
                  <li><a href="${page.domain}/branch/">$lang(all)...</a></li>
              </ul>
          </div>
          <div class="col hidden">
              <ul>
                  <li class="tit">工程案例</li>
                  $categories('case','<li><a href="{url}">{name}</a></li>')
              </ul>
          </div>
          <div class="col last-col">
              <ul>
                  <li class="tit">联系方式</li>
                  <li><a href="${page.domain}/about/contact-us.html">$lang(contact)$lang(space)$lang(us)</a></li>
                  <li><img src="${page.tpath}/themes/cms-qr.png" width="80" height="80"/></li>
              </ul>
          </div>
          
      </ul>
      <div class="clearfix"></div>


    </div>
  </div>

    
  ${partial:"include/footer.phtml"}
</body>
</html>