<!DOCTYPE html>
<html>
<head>
    <title>找不到页面(404)!</title>    
    <link rel="Stylesheet" href="${page.fpath}/common.css?version=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css" type="text/css" />
</head>
<body>
    ${partial:"inc/header.phtml"}
    
    <div class="partLayer container" style="border-top:solid 2px #ddd">
            <h1 class="center" style="padding:80px 0;color:#ff0000">出错了，页面不存在或已被删除！</h1>

       
        </div>
    ${partial:"inc/footer.phtml"}
</body>
</html>
