body{border-bottom:solid 5px #389EB8;height:auto;} 
/* CSS Document */
ul,li,p,input,h1,h2,h3,h4,h5,pre{margin:0;padding:0}
h1,h2,h3,h4,h5{line-height:1;}
img{border:none;}
h1{ display:none;}
li{ list-style:none}
button,img{ border:0;}
button,input,select{ vertical-align:middle}
a:link,a:visited{text-decoration:none;color:#296989}
a:hover,a:active{text-decoration:underline}
.clear{ clear:both; font-size:0}
table{ border-collapse:collapse; margin:10px 0;}
	table td{padding:3px;}
	table.tbl_border td{ border:#CCCCCC 1px solid;}
	table.tbl_center{ margin-left:auto; margin-right:auto;clear:both}



/*** 兼容新的基础样式 ****/
p, div{margin-bottom:0;}
/* mod-navigator 导航 */
.mod-navigator-navs li{float:left;margin:0;overflow:hidden;}
.mod-navigator-navs li.current{background:none;}
.mod-navigator-navs li.l1{border:none;width:auto;}
.mod-navigator-navs li.parent:hover, .page-navigator .navs li:hover, .page-navigator .navs li.hover{background:none;}
/*** / 兼容新的基础样式结束 ****/




#search_form{ clear:both; margin:55px 0 0 16px;display: none;}
	#search_form input{ width:150px;border: none;line-height: 18px;border-radius: 2px;}
	#search_form button{ width:36px;height:18px;background:url(go_btn.gif) no-repeat; line-height:18px;font-size:11px;color:#FFFFFF;font-weight:bold;margin:0 7px;}
	#search_form img{vertical-align:middle}
#location{text-align:left;color:#414141;font-size:12px;  background-color:#EEE;
	margin:1em 0 1.5em 0;padding:0.5em 1em;;
}
	#location a{color:#414141;margin:0 0.5em;}
#location .share-box a{margin:0 0.1em;}
#page2{text-align:center;padding:10px 0 0;}
	#page2 img{margin-right:20px;}
#pages{clear:both;padding:0 0 15px 10px;font-size:11px;text-align:right;margin:2em 0;}
	#pages a{padding:0px 3px;color:#3F3F3F;text-decoration:none}
	#pages .current{color:#FFFFFF;font-weight:bold;background-color:#389EB8;}

.pager a,.pager .current,.previous,.next{padding:0 5px;margin:0 2px;}

.pager a,.pager .current,.previous,.next{padding:0 5px;margin:0 2px;}
.pager a,.pager span{background:none;border:none;font-size:12px;}


#pro_search{text-align:center; padding:10px 0;}
	#pro_search input{width:150px;}
	#pro_search select{width:150px;}
	#pro_search button{background-color:#389EB8;font-weight:bold;text-transform:uppercase;color:#FFFFFF;margin-left:5px;font-size:11px;}
#inquire_wrap{padding-right:15px; display:inline}
#inquire_wrap button{width:130px;height:18px;background-color:#389EB8;color:#FFFFFF;font-size:11px;font-weight:bold;cursor:pointer;}
.page404{color:#DA251C;font-size:18px;display:block;padding:100px 0;line-height:30px;}
#i_about a,#pro_txt a,#i_contact a,#company .content a,#news .content a,#rec_pro p a{color:#136B86; text-decoration:underline}
p.title{font-weight:bold;line-height:1;}


#i_contact{}
	#i_contact .inner{}

#i_about{ padding-left:15px; color:#3E3E3E; margin-bottom:15px; padding-top:20px;}
	#i_about p.title{width:520px; margin-bottom:10px;}
	#i_about p.title,#pro_txt p.title,#i_pro p.title,#company  p.title,#news p.title,#products p.title{border-bottom:#B5B5B5 1px solid; padding-bottom:5px; color:#3E3E3D; font-size:18px; font-weight:normal}
	#i_about span.more{ display:block; width:520px; text-align:right}
	#i_about span.more a,#pro_txt span.more a{ text-decoration:none; color:#3E3E3E}
	#i_about span img{ float:right; padding-left:15px;}
.pro_list{list-style:none}
	.pro_list li{ padding:2px 0; margin:10px 13px; width:155px;height:210px;overflow:hidden;
	               background:url(bg5.gif) no-repeat top center; text-align:center; float:left;}
	.pro_list li img{ width:145px; height:92px;}
	.pro_list h2{ margin-top:15px; padding-left:10px; background:url(dot4.gif) no-repeat 0 4px; text-align:left; font-size:11px; height:13px; line-height:13px; overflow:hidden;}
	.pro_list h2 input{ width:12px; height:12px; margin-right:3px;}
	.pro_list h2 a{ color:#4C4C4C}
	pro_list p{ height:56px; overflow:hidden; text-align:left; line-height:14px; color:#606060}
#i_news{}
	#i_news ul{ padding:20px 0;overflow:hidden;}
	#i_news li{ color:#4F464A; background:url(dot3.gif) no-repeat 0 5px; line-height:14px; margin:0 15px 5px 25px; padding-left:15px;}
	#i_news li h2{ font-size:11px;}
	#i_news li h2 a{ color:#555555}
	#i_news li p{}
#i_cat{}
	#i_cat p.title{ padding-left:0; text-align:center}
	#i_cat center img{ padding:20px 0;}
#news_list li{ margin-bottom:15px;}
#news_list li.break{border-bottom:solid 1px #ddd;margin:3em 0;}
	#news_list h2 a{ color:#296989}
	#news span.time{display:block;font-size:11px;color:#6A6A6A; }
	#news .content span.time{margin-bottom:10px;}
#i_pro p.title{ margin-bottom:10px;}
#pro_txt{clear:both;}
	#pro_txt .inner{ padding:15px 0;}
	#pro_txt span.more{ display:block; text-align:right;}
#i_pro{}
#i_pro p.title{width:inherit;}
#pro_info{padding:0 0 15px 0;margin-bottom:10px;}
	#pro_info .colm_title{ color:#075FA8;padding:0 0 15px;font-size:14px;}
#big_pic{float:left;width:325px;height:283px;padding:1px;border:1px solid #C1C1C1;text-align:center;}
	#big_pic img{width:320px;height:280px;}
#small_pics{float:left;width:80px;height:283px;overflow:hidden;margin:0 15px 0 5px;}
	#small_pics img{width:78px;height:65px;border:1px solid #C1C1C1;margin-bottom:5px;}
#pro_info ul{width:256px;float:left; font-size:12px;}
#pro_info ul li{padding:5px 0;}
	#pro_info ul input{width:110px;height:24px;border:0;margin-top:20px;background:url(inquire_btn.gif) no-repeat;color:#FFFFFF;}
#company,#news,#products{ padding-left:15px;}
@media(max-width:767px){#company,#news,#products{ padding-left:0;}}
	#company p.title,#news p.title,#products p.title{ margin-bottom:15px;}
#products{}
	#products #pro_txt{ padding-left:0;}
	#products #pro_txt p.title{ margin-bottom:0;}
	#products #pro_txt .inner{ padding-top:5px;}
	#products #i_pro{ padding-left:0;}
	#products #i_pro #pro_list li{ margin:10px 13px 0 13px;}
#sitemap{padding-top:20px;}
	#sitemap li{float:left;width:216px;padding:0 5px;}
	#sitemap li p.title{margin-bottom:5px; border:none; padding-bottom:0; color:#FFFFFF;}
	
	
/*询盘、站点地图等*/
/*      Leaveword Start      */
.post{ text-align:right; background:url(ico_feed.png) no-repeat 5px center; margin:10px auto 5px; display:block; clear:both; float:right; margin-top:-40px; z-index:999; position:relative;}
.post a{cursor:pointer;}

#leave,#l_list{  padding-top:10px; margin:0 auto; clear:both;}
#leave li{float:left; width:100%;}
#leave span{ width:150px; text-align:right; color:#8B8B8B; padding:2px 0px; text-align:right; margin:5px 7px 0 0; display:block; float:left;}
#leave input,#leave textarea{ width:400px; border:solid 1px #46462F; padding:1px 3px; margin-top:3px;}

#submit{ text-align:center; padding:10px 0 20px 0; clear:both;}
#submit img,#submit input{ width:58px; height:18px; margin-left:15px; display:inline;}

#l_list li{ padding:10px;}
#l_list h3{ font-size:15px; font-weight:normal; background-image:none; padding-left:0;}
#l_list li p{ color:#666; line-height:180%; padding:5px 0;}
#l_list span{ color:#666;}
#l_list .red_bg{ background:#EaEaEa;}
#l_list .red_bg h3,#l_list .red_bg p,#l_list .red_bg span{ color:#3f3f3f;}
/*      Leaveword End      */

/*      Inquire Start      */
#inquire p{ padding:0; margin:0;}
#inquire input{ color:#898989;}
#inquire table td{ padding:5px 0;}
#inquire table input{ border:1px solid #ccc; float:left; height:15px; padding-top:3px;}
#inquire table textarea{ border:1px solid #ccc;}
#inquire table img{ float:left;}
#inquire p input{ border:0; float:none; width:12px; height:12px;}
div#inquire table table input{ text-align:center;}

div#i_top{ border-bottom:1px solid #235D97; padding-bottom:30px; margin-bottom:20px;}
div#i_top div{ margin:0 auto; text-align:left;}
div#i_top div input{ float:left; margin:10px 5px; padding:0;}
div#i_top div p{ font-size:12px; line-height:12px; padding:5px 0 0;}
div#i_top div span{ font-size:10px; text-align:left;}

#i_top2{ border-bottom:2px solid #235D97; border-top:1px solid #235D97; display:table; margin:10px 0 50px; padding:30px 0 15px;}
#i_top2 img{ float:left; margin:0 10px; margin-top:-5px;}
#i_top2 p{ font-size:14px; color:#666; font-weight:bold; line-height:140%;}

#inquire table span{ font-size:11px; font-weight:bold; float:right; width:100px; text-align:right; padding-right:15px;}
#right #inquire table span a{ background:#235D97; display:block; color:#fff; line-height:22px; height:22px; text-align:center; width:120px;}

div#check{ text-align:left; width:420px; border:3px solid #235D97; padding:10px 0; display:table;}
div#check input{ border:0; margin:5px; float:left;}
div#check span{ font-size:10px; font-weight:normal; text-align:left; width:335px; margin:0; padding:0 0 0 10px; line-height:12px; display:block;}

div#i_btn1{ text-align:center; height:26px; margin:10px 0 0; width:270px;}

div#i_info table td{ padding:10px 0;}
div#i_info h3{ font-weight:bold; font-size:12px; color:#fff; float:left; margin:0; padding:0; border:0; line-height:12px;}
div#i_info h4{ line-height:30px;}
div#i_info input{ border:0; margin-left:10px;}
div#i_info p{ padding:0; margin:0; line-height:140%;}

.i_title{background:#235D97;}
.i_gray{ color:#3f3f3f; background:#CFEAFF;}
/*      Inquire End      */

.view{ padding-bottom:15px; display:table; clear:both; overflow:hidden; zoom:1; padding:10px 0;}
.view h4{padding-bottom:10px; font-size:12px;}
.view li{ width:30%; height:180px; text-align:center; float:left; margin:0 1%; overflow:hidden;}
.view li img{ width:80%; margin-bottom:7px;}

.v_pic{text-align:center; padding:20px 0; display:table; clear:both;}
.v_pic p{padding:20px; text-align:left;}

#inquire_select{display:table; clear:both; overflow:hidden; zoom:1; margin-bottom:15px;}
#inquire_select span a{ font-weight:bold; background:#00377A; display:block; color:#fff; line-height:22px; text-align:center; margin-top:10px; width:120px; float:right;}	

.btn{ text-align:right; margin:30px 0;}
	.btn a{ cursor:pointer; margin-left:15px; width:45px; height:15px; border:0;}
	
#Prodblank{height:170px;}

#video2 h3{font-size:100%;}


div.productcata{border-bottom:solid 1px #e5e5e5;width:100%;float:left;}
div.productcata h2{margin:0;padding-left:15px;background:url(dot3.gif) 0 5px no-repeat;text-decoration:none;}
div.productcata span.right{right:5px;float:right;margin-top:-20px;}
div.productcata a{color:#3366CC;text-decoration:none}
p.title{border-bottom:solid 1px #e5e5e5;padding:5px 0;font-size:16px;}

ul.imglist{list-style:none;}
ul.imglist li{float:left;display:inline;width:24%;overflow:hidden;margin:0.5%;}
ul.imglist a:link,ul.imglist a:visited{display:block;line-height:1.2em; 
    text-decoration:none;text-align:center;color:#136B86;
    padding:5px;overflow:hidden;height:145px;
    font-size:0.9em;
}
ul.imglist a:hover{color:#06C}
ul.imglist img{width:155px;height:98px;clear:both;background:url(bg5.gif) no-repeat;padding:3px 5px 6px 5px;}
ul.gallery img{width:100px;height:100px;}

img.pvideo{width:60px;height:60px;}



.sitemap{vertical-align:middle;}

.share-box{float:right;}
.share-box .a{padding-left:18px;background:url(/resources/s1/image/201509/20150916214408_4797.gif) no-repeat;
	margin-left:0.2em;display:inline-block;height:18px;vertical-align:middle;}
.share-box .a b{display:none;}
.share-box a{color:#333;text-decoration:none;}
.share-box .facebook{background-position:-1px -18px}
.share-box .twitter{background-position:-1px 0}
.share-box .linkedin{background-position:-1px -72px}
.share-box .google{background-position:-1px -36px}

#right p.title{margin:0.5em 0 1em 0;}

#p_video_panel li{float:left;margin-right:5px;}
#p_video_panel li:last-child{margin-right: 0;}




