<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>${page.title}</title>

    <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.version}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/theme/style.css" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
</head>
<body>

 ${partial:"inc/header.phtml"}
    ${partial:"inc/main_top.phtml"}

  <div class="container3">
       
        <div class="clearfix sitemap">您的位置：<a rel="nofollow" href="${page.domain}">首页</a> > $sitemap() > ${archive.title}</div>
    	<div class="partLayer">
            

             <div class="main1">


    
<div style="display:none">
  ${archive.content}
</div>

<script type="text/javascript" src="http://www.iamips.com/js/FlvPlayer.js"></script>
<script type="text/javascript"> 
var plele=document.getElementsByTagName('embed')[0],
   plfile='';
if(plele){
  plfile=plele.src;
}
var swf_width=980;
var swf_height=600;
var texts='IPS'; 
var files=plfile+'&BufferTime=2&IsAutoPlay=1&IsContinue=1';

document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">'); 
document.write('<param name="movie" value="/uploads/flash/201307/20130712114510_3750.swf"><param name="quality" value="high">'); 
document.write('<param name="menu" value="false"><param name="allowFullScreen" value="true" />'); 
document.write('<param name="FlashVars" value="vcastr_file='+files+'&vcastr_title='+texts+'">'); 
document.write('<embed src="/uploads/flash/201307/20130712114510_3750.swf" allowFullScreen="true" FlashVars="vcastr_file='+files+'&vcastr_title='+texts+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>'); 
</script>

<div>
    <br />
<a href="/agency/ips/ips_siv_intro.html"><img src="/uploads/image/201212/20121224165855_2968.jpg" width="240" height="200" border="0" alt="产品说明" title="产品说明" /></a> 
<a href="/agency/ips/ips_siv_study.html"><img src="/uploads/image/201212/20121224165938_7343.jpg" width="240" height="200" border="0" alt="学习教程" title="学习教程" /></a> 
<a href="/agency/ips/ips_siv_driveskill.html"><img src="/uploads/image/201212/20121224170015_7500.jpg" width="240" height="200" border="0" alt="驾驶技巧" title="驾驶技巧" /></a>
    <Br />
</div>
</div>

</div>


           <div class="clearfix"></div>
        </div>
    </div>

    ${partial:"inc/footer.phtml"}
    
    
</body>
</html>