<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
   <link rel="Stylesheet" href="${page.fpath}/template.css?v=${page.built}" type="text/css" />
    <link rel="Stylesheet" href="${page.tpath}/themes/default/style.css?v=${page.built}" type="text/css" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>

${partial:"include/header.phtml"}


<div class="sitemap">
   <div class="panel">
       $lang(sitemap_location):<a href="/">$lang(home)</a> > $sitemap()
   </div>
</div>

    
<div class="page-main page-c">
    <div class="panel layout">

        <div class="l s1">
            <div class="col">
                    <div class="tit">$lang(side-navigator)</div>
                    <div class="content">
                        <ul class="clist">
                            $categories('article','<li><a href="{url}">▪&nbsp;{name}</a></li>')
                        </ul>
                    </div>
                <br />
               <!-- ${partial:"include/side_bar.phtml"}-->
            </div>
        </div>

      <div class="m">
        <div class="panel-archives">
            <ul>
                $paging_archives(15,0,'
                <li>{img}
                    <h3><a href="{url}" target="_blank">{special_title}</a></h3>
                    <div class="meta">日期：{create_date}
                        &nbsp;&nbsp;&nbsp;点击：{count} </div>
                    <p class="desc">
                        {outline}
                    </p>
                </li>')
            </ul>
        </div>

        <div class="clearfix">
            $pager()
        </div>
        
    </div>
    
   
    <div class="clear-fix"></div>
</div>

  ${partial:"include/footer.phtml"}

        <script type="text/javascript" src="${page.fpath}/core.js?hover=clist,alist,navi&amp;version=${page.version}"></script>
        <script type="text/javascript">
        function showTab(idx) {
            var tabs = document.getElementById("tabs").getElementsByTagName("a");
            var ps = document.getElementById("archivelistbar").getElementsByTagName("p");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].parentNode.className = i == idx ? "sel" : "";
                ps[i].style.display = i == idx ? "block" : "none";
            }
        }
    </script>
</body>
</html>
