<!DOCTYPE html>
<html>
<head>
    <title>${page.title}</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="Stylesheet" type="text/css" href="${page.fpath}/template.css?v=${page.built}" />
    <link rel="Stylesheet" type="text/css" href="${page.tpath}/themes/default/style.css?v=${page.built}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc?wsd" />
    <meta name="keywords" content="${page.keywords}" />
    <meta name="description" content="${page.description}" />
    ${page.html5}
</head>
<body>
            $archive('cd','{content}')00
${partial:"include/header.phtml"}
<div class="flash-row">
    ${partial:"include/flash_banner.phtml"}
</div>
<div class="page-index panel">
  <div class="row row-news">
    <span class="icon icon-sound">
      $lang(new-notice):
    </span>
      <span class="list" id="notice_list">
        <ul>
          $archives('notice',5,'
            <li><a href="{url}">{title}</a></li>
          ')
        </ul>
      </span>
  </div>

  <div class="row row-main">
    <div class="col col-lft">
      <div class="box">
        <h2>$lang(service)</h2>
        <ul class="func-bar"> 
        <li><a class="s" href="${page.domain}/logistics/">$lang(logistics)$lang(space)$lang(delivery)</a></li>
          <li><a href="${page.domain}/brand-proxy/">$lang(brand-proxy)</a></li>
        </ul>
        <h2>$lang(branch-company)</h2>
        <ul class="companies">
            $archives('branch-company',5,'
              <li><a href="{url}">{title}</a></li>
            ')  
        </ul>
      </div>
    </div>
    <div class="col col-rgt">
      <div class="row-1">
        <div class="tab">
          <ul>
              <li>$lang(product-category)</li>
              <li>$lang(dynamic-of-tianxin)</li>
              <li>$lang(brand)</li>
          </ul>
          <span class="rgt more">
            <a href="${page.domain}/hr/">
              $lang(human)$lang(space)$lang(space)$lang(entry)
            </a>
          </span>
        </div>
        <div class="frames">
          <div class="frame frame-category">
            <ul>
              $categories('product','<li><a href="{url}">{name}</a></li>')
            </ul>
          </div>
          <div class="frame frame-dynamic">
          </div>
          <div class="frame frame-other">
          </div>
        </div>
      </div>

      <!-- CASE -->
      <div class="row-case">
        <h2 class="tit">
          $lang(project)$lang(space)$lang(case)
        </h2>
        <div class="flash-panel flash-case">
          <ul>
            $archives('apply-case',20,'
            <li><a href="{url}"><img src="{thumbnail}" class="thumbnail" width="80" height="60"/>{title}</li>
            ')'
          </ul>
        </div>
      </div>

    </div>
    <div class="clear-fix"></div>
  </div>
</div>


  ${partial:"include/footer.phtml"}
  <script type="text/javascript" src="${page.fpath}/core.js?v=${page.built}&amp;hover=navi"></script>
  <script type="text/javascript" src="${page.fpath}/js/scroller.js?v=${page.built}&amp;hover=navi"></script>
  <script type="text/javascript">
        j6.scroller('fla', {direction: 'left',unit:500,pagerid:'fla_pager'},4000);
        j6.scroller('notice_list',{direction:'up',unit:20},3000);
  </script>
</body>
</html>