:root {
  /** 主体背景色 */
  --body-background-color: #f5f7fa;
}

body {
  background: var(--body-background-color, #fff);
  font-family: Helvetica, Tahoma, sans-serif;
  margin: 0;
}

.topbar {
  /** 顶部栏背景色 */
  --topbar-background-color: none;
  /** 顶部栏颜色 */
  --topbar-text-color: #000;
  /** 顶部栏高度 */
  --topbar-height: 50px;
  & {
    /** 顶部栏 */
    background-color: var(--topbar-background-color, #ffffff);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: var(--topbar-height, 50px);
    color: var(---topbar-text-color, #000);
  }
  & .row {
    justify-content: flex-end;
    & .left,
    & .slogan {
      flex: 1;
    }
  }
}

/** 头部 */
.header {
  /** 头部高度 */
  --header-height: 80px;
  /** 头部背景色 */
  --header-background-color: none;
  /** 头部阴影色 */
  --header-shadow-color: #eee;
  /** 头部阴影高度 */
  --header-shadow-height: 5px;
  /** 头部浮动背景色 */
  --header-fixed-background-color: #ffffffee;
  & {
    display: flex;
    align-items: center;
    height: var(--header-height, "inherit");
    background: var(--header-background-color, "none");
    box-shadow: 0 0 var(--header-shadow-height, 5px)
      var(--header-shadow-color, "#EEE");
  }

  & .header__main {
    display: flex;
    align-items: center;
  }

  & .header__logo {
    position: relative;
    padding-left: 0;

    & .header__logo--img {
      max-height: 48px;
    }
    & .header__logo--mask,
    a.mask {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      display: block;
      background: none;
      width: 100%;
      height: 100%;
    }
  }
  & .header__nav {
    padding-left: 0;
    padding-right: 0;
  }
}
.header.header-fixed {
  /** 头部浮动,添加样式header-nofix,则不会自动浮动 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--header-fixed-background-color, #ffffffee);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/** 导航 */
.navigator {
  /** 导航未激活颜色 */
  --navigator-item-color: #000;
  /** 导航条激活颜色 */
  --navigator-active-color: var(--primary-color);
  /** 导航字体大小 */
  --navigator-font-size: var(--text-base-size, 14px);
  & {
    z-index: 200;
    text-transform: uppercase;
    font-size: var(--navigator-font-size, 14px);
  }

  .navigator__left,
  .navigator__right,
  .navgiator__nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .navigator__left {
    float: left;
    width: 10px;
    margin-right: -10px;
  }
  .navigator__right {
    float: right;
    width: 10px;
    margin-left: -10px;
  }
  .navigator__nav {
    width: auto;
    gap: 1.6em;
  }
  .navigator__nav > .l1 {
    float: left;
    position: relative;
    z-index: 200;
  }
  .navigator__nav > .navigator__item {
    /** 未激活导航项 */
    line-height: 48px;

    /** 底部边框 */
    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 3px;
      opacity: 0;
      transition: all 0.2s;
      background: var(--navigator-active-color, #0d6efd);
    }
    a.l1 {
      text-decoration: none;
      color: var(--navigator-item-color, #000);
    }
  }

  .navigator__nav > .navigator__active,
  .navigator__nav > .navigator__item:hover {
    /** 激活导航项 */
    &::after {
      bottom: 0;
      opacity: 1;
    }
    a.l1 {
      color: var(--navigator-active-color, --primary-color);
    }
  }
}

.swiper {
  /** 轮播组件 */
  /** 图片比例,默认:16:9 */
  --swiper-image-scale: 9/16;
  /** 指示器颜色 */
  --swiper-indicator-color: #999;
  /** 指示器激活颜色 */
  --swiper-indicator-active-color: #fff;

  & {
    position: relative;
  }
  .swiper__indicator {
    /* 轮播页码指示器 */
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -0.75em);
    display: flex;
    gap: 0.5rem;

    & > a {
      background: var(--swiper-indicator-color, #999);
      border-radius: 99rem;
      display: block;
      width: 0.625rem;
      height: 0.625rem;
      text-indent: -99rem;
    }
    & > a.current {
      background: var(--swiper-indicator-active-color, #fff);
    }
  }
  .swiper__item {
    /** 图片比例自适应 */
    position: relative;
    flex: 1;
    overflow: hidden;

    &::before {
      /** 按图片撑开容器高度 */
      content: "";
      display: block;
      width: 100%;
      padding-top: calc(100% * var(--swiper-image-scale, 0.5625));
    }
    & > img {
      /** 图片居中显示 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      right: 50%;
      bottom: 50%;
      width: 100%;
      z-index: -1;
    }
  }
}

.footer {
  /** 底部背景色 */
  --footer-background-color: none;
  /** 底部颜色 */
  --footer-color: #333;
  /** 底部社交图标大小 */
  --footer-social-icon-size: 1.5rem;
  /** 底部社交图标间距 */
  --footer-social-icon-gap: 1rem;
  /** 底部 */
  & {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    padding: 2em 0;
    gap: 5px;
    background: var(--footer-background-color, none);
    color: var(--footer-color, #000);
    background-size: cover;
  }

  & a:link,
  & a:visited,
  & a:hover {
    color: var(--footer-color, #000);
  }
  & .footer__col--title {
    /* 标题 */
    font-size: var(--text-lg-size);
    padding-bottom: 0.5rem;
  }
  & .footer__copyright {
    /* 版权信息 */
    text-align: center;
    font-size: var(--text-sm-size);
  }

  .footer__social {
    /** 社会化媒体 */
    padding: 1rem 0;
    gap: var(--footer-social-icon-gap, 1rem);

    .icon {
      /** 社会化媒体图标 */
      font-size: var(--footer-social-icon-size, 1.5rem);
    }
  }
}

.bubble {
  /** 气泡颜色 */
  --bubble-text-color: #000;
  /** 气泡背景颜色 */
  --bubble-background-color: #ffe;
  /** 气泡箭头大小 */
  --bubble-arrow-size: 10px;
  & {
    /** 亮色气泡 */
    position: relative;
    background: var(--bubble-background-color, #ffe);
    border-radius: 10px;
    color: var(--bubble-text-color, #000);
    padding: 10px;
  }
  &.bubble-dark {
    /** 暗色气泡 */
    --bubble-text-color: #fff;
    --bubble-background-color: #000;
  }

  .bubble__left,
  .bubble__right,
  .bubble__top,
  .bubble__bottom {
    position: absolute;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: solid var(--bubble-arrow-size, 10px) transparent;
  }

  .bubble__left,
  .bubble__right {
    top: calc(50% - var(--bubble-arrow-size, 10px));
  }
  .bubble__top,
  .bubble__bottom {
    left: 0;
    right: 0;
  }
  .bubble__top {
    top: calc(0px - var(--bubble-arrow-size, 10px));
    border-bottom-color: var(--bubble-background-color, #ffe);
    border-top: 0;
  }
  .bubble__bottom {
    bottom: calc(0px - var(--bubble-arrow-size, 10px));
    border-top-color: var(--bubble-background-color, #ffe);
    border-bottom: 0;
  }
  .bubble__left {
    left: calc(0px - var(--bubble-arrow-size, 10px));
    border-right-color: var(--bubble-background-color, #ffe);
    border-left: 0;
  }
  .bubble__right {
    right: calc(0px - var(--bubble-arrow-size, 10px));
    border-left-color: var(--bubble-background-color, #ffe);
    border-right: 0;
  }
}

.block {
  /** 块级元素边框颜色 */
  --block-border-color: #ccc;
  /** 块级元素标题行高 */
  --block-title-line-height: 3.5rem;
  /** 块级元素标题文字颜色 */
  --block-title-text-color: var(--primary-color);
  /** 块级元素标题文字大小 */
  --block-title-text-size: var(--text-lg-size);
  /** 块级元素标题副标题文字大小 */
  --block-title-text-secondnary-size: var(--text-base-size);
  /** 块级元素标题副标题文字颜色 */
  --block-title-text-secondnary-color: var(--secondnary-color);
  & {
    /** 块级元素
        <div class="block__title">
          <div class="block__title--inner">
            <div class="block__title--secondnary">MENTOR STYLES</div>
            <div class="block__title--text">导师风采</div>
            <div class="block__title--spec">全程陪练指导，效果立竿见影</div>
          </div>
        </div>
    */
  }
  .block__title {
    /** 块级元素标题 */
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: var(--block-title-line-height);
    color: var(--block-title-text-color);
    font-size: var(--block-title-text-size);
    text-transform: uppercase;

    .block__title--secondnary {
      /** 块级元素标题副标题 */
      display: flex;
      flex-flow: column wrap;
      font-weight: 600;
      color: var(--block-title-text-secondnary-color);
      font-size: var(--block-title-text-secondnary-size);
      &::after {
        content: "";
        width: 50%;
        margin: 0 auto;
        border-bottom: solid 1px var(--block-border-color);
      }
    }
    .block__title--text {
      /** 块级元素标题文字 */
      font-weight: 500;
    }
  }
}

.assistant {
  /** 工具栏背景色 */
  --assistant-background-color: #fff;
  /** 工具栏边框色 */
  --assistant-border-color: #f0f0f0;
  /** 工具栏边框大小 */
  --assistant-border-size: 0.0625rem;
  /** 工具栏圆角 */
  --assistant-border-radius: 0.3125rem;
  /** 右侧工具栏距离右边的距离 */
  --assistant-position-right: 2em;
  /** 右侧工具栏距离上边的距离 */
  --assistant-position-top: 50%;
  /** 气泡距离右侧和左侧的距离 */
  --assistant-bubble-right: 1.5em;

  & {
    /** 右侧工具栏 */
    position: fixed;
    cursor: pointer;
    top: var(--assistant-position-top, 50%);
    right: var(--assistant-position-right, 2em);
    border: solid var(--assistant-border-size, 0.0625rem)
      var(--assistant-border-color, #f0f0f0);
    background: var(--assistant-background-color, #fff);
    transform: translate(0, calc(0px - var(--assistant-position-top, 50%)));
    border-radius: var(--assistant-border-radius, 0.3125rem);
  }
  & .assistant__item {
    /** 工具栏项 */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    padding: 0.75rem 0.5rem;
    border-top: solid 1px var(--assistant-border-color, #f0f0f0);
    & .assistant__item--label {
      font-size: var(--text-xs-size, 0.75rem);
    }
    & .icon {
      font-size: var(--text-3xl-size, 20px);
    }
  }
  & .assistant__item:first-child {
    border-top: 0;
  }
  & .bubble {
    /** 气泡提示 */
    position: absolute;
    top: 0;
    left: calc(0px - var(--assistant-bubble-right, 1.5em));
    right: calc(0px - var(--assistant-bubble-right, 1.5em));
    transform: translate(0, -125%);
    text-align: center;
    display: none;
  }
  &:hover .bubble {
    display: inherit;
  }
}

/* 模态框 */
.modal {
  /** 模态框背景色 */
  --modal-background-color: #fff;
  /** 遮罩层背景色 */
  --modal-mask-background-color: rgba(255, 255, 255, 0.75);
  /** 模态框圆角 */
  --modal-border-radius: 0.375rem;
  /** 模态框标题字体大小 */
  --modal-title-text-size: 18px;
  /** 模态框标题字体颜色 */
  --modal-title-text-color: #000;

  & {
    display: none;
  }

  & .mask,
  & .modal {
    position: fixed;
  }
  & .mask {
    /** 遮罩层 */
    z-index: 99998;
    opacity: 0.75;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--modal-mask-background-color, rgba(0, 0, 0, 0.5));
  }
  & .modal {
    /** 模态框 */
    border-radius: var(--modal-boder-radius, 0.375rem);
    z-index: 99999;
    display: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: auto;
    background: var(--modal-background-color, #fff);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  }

  & .close {
    /** 关闭按钮 */
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    padding: 0.625rem 0.75rem;
  }
  & .title {
    /** 标题 */
    text-align: center;
    padding: 1em 0;
    font-size: var(--modal-title-text-size, 18px);
    color: var(--modal-title-text-color, #000);
    font-weight: 600;
  }

  @media (max-width: 600px) {
    & .title {
      display: none;
    }
  }
}

.crumb {
  /** 面包屑高度 */
  --crumb-height: 3rem;
  /** 面包屑文字颜色 */
  --crumb-text-color: #999;
  /** 面包屑文字大小 */
  --crumb-text-size: var(--text-sm-size);

  & {
    /* crumb 面包屑 */
    line-height: var(--crumb-height, 3rem);
    line-height: var(--crumb-height, 3rem);
    color: var(--crumb-text-color, #999);
    font-size: var(--crumb-text-size, 14px);
  }

  .container {
    /** 垂直居中对齐 */
    display: flex;
    align-items: center;
    .icon {
      /** 主页图标与文字垂直对齐 */
      padding-bottom: 0.15rem;
      padding-right: 0.5rem;
    }
  }

  a,
  a:link,
  a:visited {
    /** 面包屑链接颜色 */
    color: var(--crumb-text-color, #999);
    text-decoration: none;
    margin: 0 5px;
  }
}

/** 分页 **/
.pagination {
  /** 分页组件的文字颜色 */
  --pagination-text-color: #777;
  /** 分页组件的文字大小 */
  --pagination-text-size: var(--text-sm-size);
  /** 分页组件当前页面的文字颜色 */
  --pagination-current-text-color: #000;
  /** 分页组件行高 */
  --pagination-line-height: 2rem;
  /** 分页码项宽度 */
  --pagination-item-width: 4rem;
  /** 分页码项的背景色 */
  --pagination-item-background-color: #fff;
  /** 分页码项的边框宽度 */
  --pagination-item-border-width: 1px;
  /** 分页码项的边框颜色 */
  --pagination-item-border-color: #ddd;
  /** 分页码项的圆角 */
  --pagination-item-border-radius: 0.375rem;
  /** 分页码项之间的间距 */
  --pagination-item-margin-width: 0.375rem;

  & {
    /** 分页组件 */
    padding: 2rem 0;
    line-height: var(--pagination-line-height, 2rem);
    text-align: center;
    color: var(--pagination-text-color, #777);
    font-size: var(--pagination-text-size, 0.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .it {
    /** 分页页码项 */
    margin: 0 var(--pagination-item-margin-width, 5px) 0 0;
    vertical-align: middle;
    user-select: none;
    display: inline-block;
    border: solid var(--pagination-item-border-width, 1px)
      var(--pagination-item-border-color, #ddd);
    border-radius: var(--assistant-border-radius, 10px);
    background: var(--pagination-item-background-color, #fff);
    width: var(--pagination-item-width, 4rem);
  }
  & .current {
    /** 当前选中项 */
    border: solid var(--pagination-item-border-width, 1px)
      var(--pagination-current-text-color, #000);
    color: var(--pagination-current-text-color, #000);
    a {
      color: var(--pagination-current-text-color, #000);
      font-weight: 600;
    }
  }
  & a {
    display: inline-block;
    text-decoration: none !important;
    color: var(--pagination-text-color, #999);
  }
  .pagination-info {
    padding-left: 2rem;
  }
  @media (max-width: 575px) {
    & {
      margin: 0 auto;
    }
    & .pagination-info {
      display: none;
    }
  }
}

.x-page {
  /** 水平切换,提供水平切换屏功能 */
  .x-page__container {
    .x-page__page {
      display: none;
      animation: fadeOut 1s;
    }
    .x-page__page.x-page__active {
      display: inherit;
      animation: fadeIn 1s;
    }
  }
}

.button {
  /** 默认按钮样式 */
  background: #f0f0f0;
  color: #000;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 500;
  &.warning {
    /** 警告按钮样式 */
    background: #ff9e5e;
    color: #fff;
  }
  &.success {
    /** 成功按钮样式 */
    background: #73c998;
    color: #fff;
  }
  &.danger {
    /** 危险按钮样式 */
    background: #ff5e5e;
    color: #fff;
  }
  &.primary {
    /** 主色调按钮样式 */
    background: var(--primary-color);
    color: #fff;
  }
}

/********* ======================= end   ==============================*/

div.line {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #fff;
  height: 0px;
  overflow: hidden;
}
/* 高亮显示 */
.high-light,
.search-high-light {
  color: #f00;
}
img.full {
  width: 100%;
}
*:required {
  /* insert your own styles for invalid form input */
  -moz-box-shadow: none;
}

/* +++++++++++++ Layout ++++++++++++++ */

/* 页面内容容器 */
/* 
header,.page-header{}
header .search,.page-header .search{position:absolute;right:20px;}
header .logo,.page-header .logo{position:relative;height:70px;min-width:250px;vertical-align: middle;}
header .logo a,.page-header .logo a{position:absolute;left:0;top:0;margin:auto;
	display:block;width:100%;height: 100%;}
*/

.g-suited-img-65 {
  padding-bottom: 65%;
}
.g-suited-img-75 {
  padding-bottom: 75%;
}
.g-suited-img-100 {
  padding-bottom: 100%;
}

.g-primary-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 48px;
  background-color: #6147f0;
  border: 2px solid #6147f0;
  color: #fff;
  padding: 0 34px;
  border-radius: 50px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(97, 71, 240, 0.34);
  box-shadow: 0 6px 12px 0 rgba(97, 71, 240, 0.34);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
}

.g-primary-btn:hover {
  color: #999;
  background-color: transparent;
  border-color: #999;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-second-btn {
  color: #999;
  background-color: transparent;
  border-color: #999;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-second-btn:hover {
  background-color: #6147f0;
  border-color: #6147f0;
  -webkit-box-shadow: 0 6px 12px 0 rgba(97, 71, 240, 0.34);
  box-shadow: 0 6px 12px 0 rgba(97, 71, 240, 0.34);
  color: #fff;
}

/* 文档列表 */
.panel-archives ul {
  margin: 0;
  padding: 0;
}
.panel-archives p.outline {
  text-indent: 2em;
  margin: 0;
  padding: 10px 0;
  border: none;
}
.panel-archives li {
  clear: both;
  border-bottom: solid 1px #ddd;
}
.panel-archives img.thumbnail {
  float: left;
  margin-right: 20px;
}
.panel-archives strong {
  font-size: 120%;
  line-height: 150%;
}
.panel-archives-hor ul {
  margin: 0;
  list-style: none;
}
.panel-archives-hor li {
  position: relative;
  float: left;
  width: 24%;
  margin: 10px 0.5% 10px 0.5%;
  text-align: center;
}
.panel-archives-hor img {
  width: 100%;
  border-radius: 5px;
}
.panel-archives-hor li:hover mask,
.panel-archives-hor a:hover mask {
  display: none;
}

/* DropDown */
.g-dropdown {
  position: relative;
}
.g-dropdown > div {
  position: absolute;
  left: 0;
  z-index: 9999;
  height: 0px;
  overflow: hidden;
  transition: all 0.1s;
}
.g-dropdown:hover > div {
  height: auto;
  transition: all 0.3s;
}

/* AUTO FIT */
.auto-fit {
  position: relative;
  padding-top: 60px;
  text-align: center;
}
.auto-fit img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.center {
  text-align: center;
}
.inline {
  display: inline-block;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
  outline: 0;
  background: transparent;
}
a.f {
  color: #6e6e6e;
}

.auto-fit {
  position: relative;
  padding-top: 60px;
  text-align: center;
}
.auto-fit img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.mg5 {
  margin: 5px;
}
.pd5 {
  padding: 5px;
}

/* loading animation */
.load-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  color: #ff3600;
  width: 80px;
  height: 50px;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 1px #ddd;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
.load-box .icon {
  font-size: 1.8em;
  display: block;
  line-height: 1.5em;
}
.loading-large {
  padding: 1em 0;
  text-align: center;
}
.loading-large .icon {
  font-size: 2em;
  text-align: center;
  color: #aaa;
}
.loading .icon {
  position: relative;
  /* css3 animation */
  -webkit-animation: anim_loading 1s linear infinite;
  -moz-animation: anim_loading 2s linear infinite;
  -o-animation: anim_loading 1s linear infinite;
  animation: anim_loading 1s linear infinite;
}
/* css3 keyframes - animation 4 */
@-webkit-keyframes anim_loading {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@-moz-keyframes anim_loading {
  from {
    -moz-transform: rotateZ(0deg);
  }
  50% {
    -moz-transform: rotateZ(180deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-ms-keyframes anim_loading {
  from {
    -ms-transform: rotateZ(0deg);
  }
  50% {
    -ms-transform: rotateZ(180deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
@-o-keyframes anim_loading {
  from {
    -o-transform: rotateZ(0deg);
  }
  50% {
    -o-transform: rotateZ(180deg);
  }
  to {
    -o-transform: rotateZ(360deg);
  }
}
@keyframes anim_loading {
  from {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* g-form / 表单 */

/* g-toolbar / 工具条 */
.g-toolbar {
  line-height: 30px;
  margin-bottom: 1em;
}
.g-toolbar-right {
  float: right;
}
.g-toolbar-top {
  margin-top: 1em;
}

/* g-dashed-box : 虚线盒子 */
.g-dashed-box {
  background: #fff;
  padding: 5px 1em;
  border: dashed 1px #ccc;
}

/** 旧代码结束  **/

/*
h1{font-size:1.25em;padding:0;padding-bottom:30px;}
a:link,a:visited{color:#333;}
a:hover{color:#D50000;}
.relative{position: relative;}
.pull{float:left;}
.push{margin-right:3%;float:left;}
.arrow{background:url(img/arrow.gif) no-repeat;width:10px;height:10px;display:inline-block;margin-right:3px;}
table{border:solid 1px #333;}
table td{border:solid 1px #333;padding:0 10px;}
*/

/* 混合图文列表 */
.mod-mix-archive-lists li {
  position: relative;
  padding-left: 90px;
  margin-top: 15px;
  border-bottom: dashed 1px #ccc;
  padding-bottom: 15px;
}
.mod-mix-archive-lists li:last-child {
  border: 0;
}
.mod-mix-archive-lists img.thumbnail {
  width: 75px;
  position: absolute;
  left: 0;
  top: 0;
}
.mod-mix-archive-lists .title {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1em;
  display: block;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
}
.mod-mix-archive-lists .dt {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 1em;
}
.mod-mix-archive-lists p {
  height: 3.6em;
  overflow: hidden;
  line-height: 1.2em;
  color: #666;
  font-size: 0.9em;
}

/* 全局元素样式 */
.high-light {
  color: #f00;
  font-weight: 400;
}

/* g-mg5 */
.g-mg5 {
  margin: 5px 0;
}

/*
.page-header .ch-lang{position: absolute;right:0;top:0em;}
.page-header .ch-lang img{width:15px;height:10px;margin:8px;vertical-align: middle;}
.page-header .ch-lang .drop:hover,.page-header .ch-lang .hover{}
.page-header .ch-lang .drop{line-height: 30px;display:inline-block;cursor:pointer;}
.page-header .ch-lang .drop div.menu{top:30px;background:#F0F0F0;padding:10px;min-width:100px;
right:0;left:auto;border:solid 1px #D5D5D5;}
.page-header .ch-lang  a{text-decoration: none;color:#726C6C;}
*/

/* 语言 */
.mod-lang-drop {
  padding-bottom: 30px;
}
.mod-lang-drop .list {
  position: absolute;
  right: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 15px;
  display: none;
}
.mod-lang-drop .arrow-t {
  position: absolute;
  border-width: 10px;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.mod-lang-drop:hover .mod-lang-drop-list {
  display: inherit;
}

/* mod-nav-side 边栏 */
.mod-nav-side {
}

/* mod-nav-border */
.mod-nav-border .tit {
  background: #ccc;
  line-height: 3em;
  padding: 0 1em;
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
}
.mod-nav-border .content {
}
.mod-nav-border .archive-list {
  margin: 1em;
}
.mod-nav-border .archive-list li {
  height: 2em;
  line-height: 2em;
  overflow: hidden;
}

/* mod-cat-list */
.mod-cat-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mod-cat-list a {
  text-decoration: none;
  color: #666;
}
.mod-cat-list li {
  padding: 0 1em;
  line-height: 2.5em;
}
.mod-cat-list li.current {
  background: url(tit-bar-03-no-r.png) no-repeat;
  background-position: 0 -36px;
}
.mod-cat-list li.current a {
  color: #fff;
  font-weight: bold;
  display: block;
}
/* mod-friend-link : 友情链接 */
.mod-friend-link {
  font-size: 12px;
}
.mod-friend-link i {
  padding-right: 10px;
  color: #ccc;
}

/** 反馈 */
.mod-feedback {
}
.mod-feedback .container {
  background-size: cover;
  padding: 30px;
}
.mod-feedback-tit,
.mod-feedback-sub-tit {
  color: #fff;
  padding-left: 15px;
}
.mod-feedback-tit {
  font-size: 18px;
  font-weight: bold;
}
.mod-feedback-sub-tit {
  margin-bottom: 30px;
}
.mod-feedback-form {
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.mod-feedback .wx {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.mod-feedback .wx img {
  background: #fff;
  width: 80%;
  padding: 15px;
}
.mod-feedback-form label {
  padding-top: 15px;
  display: block;
}
.mod-feedback-button {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 轮播图 */
.mod-gallery-play .slick-prev,
.mod-gallery-play .slick-next {
  left: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
}
.mod-gallery-play .slick-prev,
.mod-gallery-play .slick-next,
.mod-gallery-play .slick-prev:hover,
.mod-gallery-play .slick-next:hover {
  background: #aaa !important;
}
.mod-gallery-play .slick-next {
  right: 0;
  left: auto;
}
.mod-gallery-play .slick-prev:before,
.mod-gallery-play .slick-next:before {
  font-size: 40px;
}

/* UNSORTED */
.auto-fit {
  position: relative;
  padding-top: 60px;
  text-align: center;
}
.auto-fit img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/**================ elements 2024-07-25 ===================*/
a {
  outline: none;
}
table {
  border-collapse: collapse;
  border: none;
}
a:link,
a:visited {
  color: #0066ff;
}
a:hover {
  color: #0000cc;
}
.mask {
  background: url(/public/assets/images/mask.gif);
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
p,
td,
blockquote,
pre {
  word-break: break-all;
  word-wrap: break-word;
}

/* +++++++++++++ Classes ++++++++++++++ */
.center {
  text-align: center;
}
.clear,
.clear-fix,
.clearfix {
  clear: both;
  margin-bottom: 0;
}
.overflow {
  overflow: hidden;
}
.clearfix {
  clear: both;
}

/* 箭头 */
.g-arrow {
  height: 0;
  width: 0;
  margin: auto;
  display: inline-block;
  border: solid 5px transparent;
}
.g-arrow-r {
  border-right: none;
  border-left-color: #fff;
  margin-left: 5px;
}
.g-arrow-l {
  border-left: none;
  border-right-color: #fff;
  margin-right: 5px;
}
.g-arrow-t {
  border-top: none;
  border-bottom-color: #fff;
  margin-top: 5px;
}
.g-arrow-b {
  border-bottom: none;
  border-top-color: #fff;
  margin-bottom: 5px;
}
/* 空心箭头： 向下的三角线：<span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span> */
.g-arrow-slot {
  position: relative;
}
.g-arrow-slot span {
  position: absolute;
  border-style: solid dashed dashed;
  top: 0;
  border-width: 10px;
}
.g-arrow-slot span:first-child {
  border-color: #666 transparent transparent;
  top: 1px;
}
.g-arrow-slot span:last-child {
  border-color: #fff transparent transparent;
  border-style: solid dashed dashed;
}
.g-arrow-slot-r span:first-child {
  margin-left: 1px;
  top: 1px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #666;
}
.g-arrow-slot-r span:last-child {
  top: 1px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #fff;
}
.g-arrow-slot-l span:first-child {
  top: 1px;
  border-style: dashed solid dashed dashed;
  border-color: transparent #666 transparent transparent;
}
.g-arrow-slot-l span:last-child {
  margin-left: 1px;
  top: 1px;
  border-style: dashed solid dashed dashed;
  border-color: transparent #fff transparent transparent;
}
/* 水平箭头折线,如：<div class="g-arrow-hr"><span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span> </div>*/
.g-arrow-hr {
  border-bottom: solid 1px #999;
  height: 1px;
  position: relative;
  margin-bottom: 15px;
}
.g-arrow-hr .g-arrow-slot {
  position: absolute;
  margin-left: -5px;
}
.g-arrow-hr .g-arrow-slot span {
  border-width: 7px;
}
