body{font-family:Helvetica,Tahoma,sans-serif;margin:0;}

a{outline:none;}
table{border-collapse:collapse;border:none;}
a:link,a:visited{color:#0066ff;}
a:hover{color:#0000cc;}
.mask{background:url(/public/assets/images/mask.gif);opacity:0.2;filter:alpha(opacity=20);position:absolute;top:0;left:0;bottom: 0;right: 0;}
p,td,blockquote,pre{ word-break: break-all;word-wrap: break-word;}

/** 作废,使用col-*代替 */
@media(max-width:575px){
    .hidden-xs{display:none !important;}
    .col-xs-1{flex:0 0 8.333333%;max-width:8.333333%}
    .col-xs-2{flex:0 0 16.666666%;max-width:16.666666%}
    .col-xs-3{flex:0 0 25%;max-width:25%}
    .col-xs-4{flex:0 0 33.333333%;max-width:33.333333%}
    .col-xs-5{flex:0 0 41.666666%;max-width:41.666666%}
    .col-xs-6{flex:0 0 50%;max-width:50%}
    .col-xs-7{flex:0 0 58.333333%;max-width:58.333333%}
    .col-xs-8{flex:0 0 66.666666%;max-width:66.666666%}
    .col-xs-9{flex:0 0 75%;max-width:75%}
    .col-xs-10{flex:0 0 83.333333%;max-width:83.333333%}
    .col-xs-11{flex:0 0 91.666666%;max-width:91.666666%}
    .col-xs-12{flex:0 0 100%;max-width:100%}
    /*.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}*/
}
/** 作废 */





/* +++++++++++++ Classes ++++++++++++++ */
.center{text-align:center;}
.clear,.clear-fix,.clearfix{clear:both;margin-bottom:0;}
.overflow{overflow:hidden;}

.clearfix{clear:both;}
.nom{margin:auto;}
div.line{border-top:solid 1px #ddd;border-bottom:solid 1px #fff;height:0px;overflow:hidden;}
/* 高亮显示 */
.high-light,.search-high-light{color:#F00;}
img.full{width:100%;}
*:required { /* insert your own styles for invalid form input */ -moz-box-shadow: none; }

/* +++++++++++++ Layout ++++++++++++++ */

/* 页面内容容器 */
/* 
header,.page-header{}
header .search,.page-header .search{position:absolute;right:20px;}
header .logo,.page-header .logo{position:relative;height:70px;min-width:250px;vertical-align: middle;}
header .logo a,.page-header .logo a{position:absolute;left:0;top:0;margin:auto;
	display:block;width:100%;height: 100%;}
*/

.pt-30{padding-top:30px;}.pt-60{padding-top:60px;}.pt-90{padding-top:90px;}
.pb-30{padding-bottom:30px;}.pb-60{padding-bottom:60px;}.pb-90{padding-bottom:90px;}
.mt-30{margin-top:30px;}.mt-60{margin-top:60px;}.mb-30{margin-bottom:30px;}.mb-60{margin-bottom:60px;}
.g-section-title>h1{font-size:2.4rem;}
.g-section-title>p{padding:0.5em 0 1em;font-size:1.4rem;font-weight:400;color:#333;}
.g-suited-img-65{padding-bottom:65%;}.g-suited-img-75{padding-bottom:75%;}.g-suited-img-100{padding-bottom:100%}

.g-primary-btn{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 48px;
    background-color: #6147f0;
    border: 2px solid #6147f0;
    color: #fff;
    padding: 0 34px;
    border-radius: 50px;
    -webkit-box-shadow: 0 6px 12px 0 rgba(97,71,240,0.34);
    box-shadow: 0 6px 12px 0 rgba(97,71,240,0.34);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    cursor: pointer;
}

.g-primary-btn:hover{
    color: #999;
    background-color: transparent;
    border-color: #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.g-second-btn{
    color: #999;
    background-color: transparent;
    border-color: #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.g-second-btn:hover{
    background-color: #6147f0;
    border-color: #6147f0;
    -webkit-box-shadow: 0 6px 12px 0 rgba(97,71,240,0.34);
    box-shadow: 0 6px 12px 0 rgba(97,71,240,0.34);
    color: #fff;
}

/* mod-flash-p */
.mod-flash-p{margin: 0;}
.mod-flash-p .top{position:absolute;left:0;right:0;margin:auto;width:100%;height:100%;background-size: cover;}
.mod-flash-p ul{list-style:none;margin:0;padding:0;height: 100%;}
.mod-flash-p li{ height: 100%;margin: 0;padding: 0;}
.mod-flash-p .item{height:100%;background:#F5F5F5 center top no-repeat;width: 100%;}
.mod-flash-p .flash-pager{position:absolute;bottom:5px;left:0;right:0;margin:0 auto;width:100px;}
.mod-flash-p .flash-pager a{width:18px;line-height:18px;text-align:center;display:inline-block;background:#666;margin:0 2px;
    border-radius:3px;text-decoration:none;outline:none;}



/* 文档列表 */
.panel-archives ul{margin:0;padding:0;}
.panel-archives p.outline{text-indent:2em;margin:0;padding:10px 0;border:none;}
.panel-archives li{clear:both;border-bottom:solid 1px #ddd;}
.panel-archives img.thumbnail{float:left;margin-right:20px;}
.panel-archives strong{font-size:120%;line-height:150%;}
.panel-archives-hor ul{margin:0;list-style:none;}
.panel-archives-hor li{position:relative;float:left;width:24%;margin:10px 0.5% 10px 0.5%;text-align:center;}
.panel-archives-hor img{width:100%;border-radius: 5px;}
.panel-archives-hor li:hover mask,.panel-archives-hor a:hover mask{display: none}

/* 文档页面，待整理 */
.panel-archive div.meta{padding:0 10px;}
.panel-archive{padding:0 10px;}
.panel-archive div.outline{border:solid 1px #d686cb;background:#ffccff;padding:10px;line-height:22px;margin:30px 10px 20px 10px;
    text-indent: 2em;}
.panel-archive div.content{font-size:120%;line-height:2em;padding:10px;}
.panel-archive div.content p{margin-top:0;margin-bottom: 20px}
.panel-archive div.meta{border-top:dotted 1px #ddd;padding-top:10px;margin-top:10px;text-align:left;line-height:40px;}
.panel-archive div.relation{}

/* DropDown */
.g-dropdown{position:relative;}
.g-dropdown>div{position:absolute;left:0;z-index:9999;height:0px;overflow:hidden;transition:all .1s;}
.g-dropdown:hover>div{height:auto;transition:all .3s;}

/* AUTO FIT */
.auto-fit{position:relative;padding-top:60px;text-align:center;}
.auto-fit img{max-width:100%;max-height:100%;position: absolute;left:0;top:0;right:0;bottom:0;margin:auto;}

.center{text-align:center;}
.inline{display:inline-block;}
.hidden{display:none;}
a{text-decoration:none;outline:0;background:transparent;}
a.f{color:#6E6E6E;}

.auto-fit{position:relative;padding-top:60px;text-align:center;}
.auto-fit img{max-width:100%;max-height:100%;position: absolute;left:0;top:0;right:0;bottom:0;margin:auto;}
.mg5{margin:5px;}
.pd5{padding:5px;}


/* loading animation */
.load-box{position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;background:#FFF;color:#ff3600;width:80px;
    height:50px;z-index:100;border-radius:5px;box-shadow:0 0 1px #DDD;padding:10px;text-align:center;
    font-size: 12px;
}
.load-box .icon{font-size:1.8em;display:block;line-height:1.5em;}
.loading-large{padding:1em 0;text-align:center;}
.loading-large .icon{font-size:2em;text-align:center;color:#AAA}
.loading .icon{
    position: relative;
    /* css3 animation */
    -webkit-animation: anim_loading 1s linear infinite;
    -moz-animation: anim_loading 2s linear infinite;
    -o-animation: anim_loading 1s linear infinite;
    animation: anim_loading 1s linear infinite;
}
/* css3 keyframes - animation 4 */
@-webkit-keyframes anim_loading {
    from { -webkit-transform: rotateZ(0deg); }
    50% { -webkit-transform: rotateZ(180deg); }
    to { -webkit-transform: rotateZ(360deg); }
}
@-moz-keyframes anim_loading {
    from { -moz-transform: rotateZ(0deg); }
    50% { -moz-transform: rotateZ(180deg); }
    to { -moz-transform: rotateZ(360deg); }
}
@-ms-keyframes anim_loading {
    from { -ms-transform: rotateZ(0deg); }
    50% { -ms-transform: rotateZ(180deg); }
    to { -ms-transform: rotateZ(360deg); }
}
@-o-keyframes anim_loading {
    from { -o-transform: rotateZ(0deg); }
    50% { -o-transform: rotateZ(180deg); }
    to { -o-transform: rotateZ(360deg); }
}
@keyframes anim_loading {
    from { transform: rotateZ(0deg); }
    50% { transform: rotateZ(180deg); }
    to { transform: rotateZ(360deg); }
}

/** 分页 **/
.mod-pagination{line-height:2.4em;text-align:center;}
.mod-pagination .it{margin:0 5px 0 0;vertical-align:middle;user-select:none;display:inline-block;}
.mod-pagination a{display:inline-block;text-decoration:none !important;}
@media(max-width:575px){.ui-pagination .info{display:none;}}

/* ---------- 公共元素 ---------- */

/* g-drop */
.g-drop{position: relative;padding:0;}
.g-drop em{display:none;}
.g-drop-label{padding:0 25px 0 10px;border:solid 1px transparent;display:block;}
.g-drop-layer{position:absolute;left:0;top:30px;background:#FFF;z-index:52;display:none;}
.g-drop-layer .b{padding:10px;font-weight: normal;}
.g-drop-icon{position:absolute;right:12px;top:25%;}
.g-drop:hover .g-drop-label,.g-drop-down .g-drop-label{background:#FFF;border-bottom:solid 1px #fff;}
.g-drop:hover .g-drop-layer,.g-drop-down .g-drop-layer{display:inherit;}
.g-drop:hover em,.g-drop-down em{display:none;}

/* g-hr / 水平分割线 */
.g-hr{border-top:solid 1px #ddd;}

/* g-form / 表单 */

/*
.g-form-field{position:relative;vertical-align: middle;margin-bottom:1em;line-height:30px;}
.g-form-field .g-form-label{font-weight:400;}
@media(min-width:600px){
    .g-form-field .g-form-label{width:90px;text-align:right;float:left;}
    .g-form-field .g-form-col{margin-left:100px;}
}*/

/* g-toolbar / 工具条 */
.g-toolbar{line-height: 30px;margin-bottom:1em;}
.g-toolbar-right{float:right;}
.g-toolbar-top{margin-top:1em;}

/* g-dashed-box : 虚线盒子 */
.g-dashed-box{background: #FFF;padding: 5px 1em;border: dashed 1px #CCC;}

/* g-tabs / 选项卡 */
.g-tabs{position:relative;height:100%;}
.g-tabs .tabs {height:35px;border-bottom:solid 1px #CCC;line-height:30px;background:#FFF;}
.g-tabs .tabs ul{list-style:none;padding:0;margin:0;}
.g-tabs .tabs li{float:left;position:relative;text-align:center;width:60px;padding:2px 10px;}
.g-tabs .tabs li a{display:block;font-size:14px;}
.g-tabs .tabs li.current{color:#038fdd;line-height:30px;border:solid 1px #CCC;font-weight:600;border-bottom: solid 1px #fff;}
.g-tabs .tabs li span.link{cursor:pointer;}
.g-tabs .tabs li .tab-close{cursor:pointer;position:absolute;right:0;top:0;font-family:Arial;color:#000;padding:0 12px;font-size:16px;}
.g-tabs .tabs li .tab-title{vertical-align:central;cursor:default;display:inline-block;}
.g-tabs .tabs li span.rgt{/*background-position:-234px -130px; display: block;height: 26px;*/width:0px;float:left;}
/*.g-tabs li.current span.rgt{background-position:-234px -156px;}*/
/* frame (ie6,7下loading宽度不正常，解决办法设固定宽度) */
.g-tabs iframe{width:100%;height:100%;}
.g-tabs .mask{position:absolute;left:1px;top:0;background:#f5f5f5;opacity:0.7;filter:alpha(opacity=70);z-index:898;}
.g-tabs .frames,.ui-tabs .frames div.frame{height:100%;margin-bottom:0;}
.g-tabs .frame { clear: both;visibility:hidden;}
.g-tabs .frame:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.g-tabs .current-frame,.g-tabs .current {visibility:inherit; }





/** 旧代码结束  **/


/*
h1{font-size:1.25em;padding:0;padding-bottom:30px;}
a:link,a:visited{color:#333;}
a:hover{color:#D50000;}
.relative{position: relative;}
.pull{float:left;}
.push{margin-right:3%;float:left;}
.arrow{background:url(img/arrow.gif) no-repeat;width:10px;height:10px;display:inline-block;margin-right:3px;}
table{border:solid 1px #333;}
table td{border:solid 1px #333;padding:0 10px;}
*/

/* 混合图文列表 */
.mod-mix-archive-lists li{position: relative;padding-left:90px;margin-top:15px;border-bottom:dashed 1px #CCC;padding-bottom:15px;}
.mod-mix-archive-lists li:last-child{border:0;}
.mod-mix-archive-lists img.thumbnail{width:75px;position: absolute;left:0;top:0;}
.mod-mix-archive-lists .title{font-weight:400;font-size:1.2em;line-height:1em;display:block;
    padding-bottom:15px;letter-spacing:.5px;}
.mod-mix-archive-lists .dt{position: absolute;right:0;top:0;line-height:1em;}
.mod-mix-archive-lists p{height:3.6em;overflow:hidden;line-height:1.2em;color:#666;font-size:0.9em;}



/* 全局元素样式 */
.high-light{color:#F00;font-weight:400}


/* g-mg5 */
.g-mg5{margin:5px 0;}

/* mod-top-bar 头部工具栏 */
.mod-top-bar{background:#f5f5f5;line-height:2.5em;}
.mod-top-bar .qr{position:relative;margin-left:1em;}
.mod-top-bar .qr img{display: none;}
.mod-top-bar .qr:hover img{display: block;position:absolute;left:55px;top:20px;max-width:80px;
    border:solid 1px #ddd;padding:2px;background:#FFF;z-index:10;z-index:300;}
.mod-top-bar i.phone{background:url(img/hd-phone.png) 0 6px no-repeat;padding:10px;}
.mod-top-bar ul{margin:0;list-style: none;}
.mod-top-bar ul li{float:left;margin-left:10px;}

/* mod-header 头部 */
.mod-header{background:#FFF;box-shadow:0 2px 6px #EEE;position:relative;z-index:1000;}
.mod-header-logo,.mod-header .logo,header .logo{position:relative;float:left;vertical-align: middle;}
.mod-header-logo a,.mod-header .logo a,header .logo a{position:absolute;top:0;bottom:0;margin:auto;display:block;width:100%;height: 100%;}
.mod-header-logo .mask{position:absolute;left:0;top:0;margin:auto;display:block;background:none;width:100%;height: 100%;}
.mod-header-search{padding:30px 0 0 60px;float:left;}
.search-input{border:solid 1px #CCC;height:28px;line-height:28px;float:left;
    padding:0 5px;width:190px;border-right:none;font-weight: bold;vertical-align: middle;}
.mod-header .search-btn{cursor:pointer;background:#666;padding:0 10px;border:none;height:30px;color:#FFF;vertical-align: middle;}
.mod-header .mod-header-words{color:#666;font-weight: bold;margin:0.5em 0;display:none;}
.mod-header .mod-header-words a{text-decoration:none;color:#666;margin:0 5px;font-weight:normal;}

/* mod-header-riod-header-right */
.mod-header-right{float:right;}

/*
.page-header .ch-lang{position: absolute;right:0;top:0em;}
.page-header .ch-lang img{width:15px;height:10px;margin:8px;vertical-align: middle;}
.page-header .ch-lang .drop:hover,.page-header .ch-lang .hover{}
.page-header .ch-lang .drop{line-height: 30px;display:inline-block;cursor:pointer;}
.page-header .ch-lang .drop div.menu{top:30px;background:#F0F0F0;padding:10px;min-width:100px;
right:0;left:auto;border:solid 1px #D5D5D5;}
.page-header .ch-lang  a{text-decoration: none;color:#726C6C;}
*/

/* 导航栏 */
.mod-navigator{z-index:200;}
.mod-navigator-nav,.mod-navigator-left,.mod-navigator-right{padding-bottom:0px;margin-bottom:-0px;}
.mod-navigator-left{float:left;width:10px;margin-right:-10px;}
.mod-navigator-right{float:right;width:10px;margin-left:-10px;}
.mod-navigator-nav{width:auto;margin:0 10px;}
.mod-navigator-nav ul{margin:0;padding:0;list-style:none;}
.mod-navigator-nav li.l1{float:left;position:relative;z-index: 200;}/*ie7bug*/
.mod-navigator-nav li.l1 a.l1{text-transform: uppercase;} /* 一级菜单文本大写 */
.mod-navigator-nav li.parent:hover{background:#FAFAFA;padding:10px 16px;margin:-10px -1px;}/* 鼠标在一级菜单活动时 */
.mod-navigator-nav li.parent:hover a.l1{color:#000;}/* 鼠标在一级菜单活动时设置链接术式 */
.mod-navigator-nav li.parent a.l1:hover{color:#FFF;}/* 在下级菜单活动时一级菜单设置一级菜单样式 */
.mod-navigator-nav li.parent .nav-arrow{border-left:solid 5px transparent;border-right:solid 5px transparent;border-top:solid 5px #FFF;}
.mod-navigator-nav li.parent:hover .nav-arrow{border-top-color:#000} /* 下拉箭头 */

.mod-navigator-child{background:#FAFAFA;left:0;right:0;margin:auto;top:30px;position:absolute;display:none;z-index:201;
    box-shadow:3px 4px 6px rgba(0,0,0,0.2);}
.mod-navigator-child .box {}
.mod-navigator-nav li.drop .mod-navigator-child,.mod-navigator-nav li:hover .mod-navigator-child{display:block;}
.mod-navigator-child .menu li.l2{padding:0;float:none;background:none;}
.mod-navigator-child .menu li.first{border-top:none;}
.mod-navigator-child .menu li.last{border-bottom:none;}

/* mod-navigator 导航 */
.mod-navigator{margin:0 auto;height:auto; box-shadow:0 5px 10px #BF0000 inset;line-height:35px;}
/*.mod-navigator .mod-navigator-left{}
.mod-navigator .mod-navigator-right{}
.mod-navigator .mod-navigator-nav{}*/
.mod-navigator-nav ul{}
.mod-navigator-nav li.first{border-left:none;}
.mod-navigator-nav li.last{background-image:none;}
.mod-navigator-nav li.current{background-color:#EEE;margin:0;}
.mod-navigator-nav li.last,.mod-navigator-nav li.last a{border:none;}
.mod-navigator-nav li a.l1{text-decoration:none;text-align:center;display:block;}
.mod-navigator-nav li.current a.l1{color:#FFF;border-bottom-color:transparent;}
.mod-navigator-nav li.parent .child a.l2{color:#333;}
.mod-navigator-nav li.parent .child a.l2:hover{color:#F00;}

/* 子菜单 */
.mod-navigator-child{top:40px;min-width:300px;left:0px;right:0;margin:auto;z-index:600; background:#FFF;border:0;}

.mod-navigator-child .menu li{border-bottom:dashed 1px #ddd;margin:0;font-size:80%;width:auto;}
.mod-navigator-child .menu li a.l2{padding:0;color:#666;border:none;}
.mod-navigator-child .menu li a.l2:hover{color:#000;text-decoration: none;}

/* mod-nav-menu */
.mod-navigator .col{float:left;border-right:dashed 1px #DDD;}
.mod-navigator .last-col{border:none;}
.mod-navigator .col ul{margin:0 5px 0 40px;padding:0;list-style:none;width:110px;}
.mod-navigator .col li{width:100%;border:none;text-align:left;float:left;}
.mod-navigator .col li.tit{font-weight: bold;font-size:1.2em;margin-bottom:10px;position:relative;}
.mod-navigator .col li.tit a{position:absolute;left:6em;top:0;font-size:12px;padding:0 5px;line-height:20px;}
.mod-navigator .col li.tit a:hover{background:#333;}
.mod-navigator .col li:hover{background:none;}
.mod-navigator .col li a{line-height:25px;font-weight:normal;border:none;text-align:left;text-decoration:none;}
.mod-navigator .col li a:hover{background:none;}
.mod-navigator .child3{width:650px;}
.mod-navigator .child10{width:580px;}
.mod-navigator .child13{width:580px;}
.mod-navigator .category-col ul{width:120px;}
.mod-navigator .category-col li{/*width:50%;float:left;*/}
.mod-navigator .category-col li.tit{width:100%;}
.mod-navigator .category-col li.more{padding-left:60px;width:50px;}
.mod-navigator .category-col li.more a{display:block;color:#666;/*background:#666;color:#FFF;*/text-align:center;line-height:1.6em;}
.mod-navigator .category-col .c5,.page-navigator .category-col .c6,.page-navigator .category-col .c7,
.mod-navigator .category-col .c8{display:none;}
.mod-navigator .brands-col .tit{width:100%;}
.mod-navigator .brands-col ul{width:150px;}
.mod-navigator .brands-col li{/*width:33%;*/font-weight:normal;}
.mod-navigator .brands-col li img{border:solid 1px #ddd;margin-right:10px;width:100px;}
.mod-navigator .img{position:absolute;right:2em;top:3em;}
.mod-navigator div.outline{font-weight: normal;padding:0 1em;margin-left:160px;text-indent:2em;line-height:1.8em;color:#333;text-shadow:0 1px 0 #EEE;}
.mod-navigator div.outline a{font-weight:bold;}
.mod-navigator div.outline a:hover{color:#666;}

/* mod-flash-banner */
.mod-flash-banner{position: relative;max-width:1440px;margin:0px auto;}
.mod-flash-banner .flash-pager{position:absolute;right:10px;bottom:2em;width:200px;left: auto;}
.mod-flash-banner .flash-pager a{width:22px;height:22px;margin-right:10px;line-height:22px;font-size:1.2em;}
.mod-flash-banner .top{display:none;position:absolute;left:0;right:0;margin:auto;width:100%;height:100%;background-size:100% 100%;}
.mod-flash-banner li{position:relative;}
.mod-flash-banner li div.panel{position:absolute;left:0;right:0;margin:auto;}
.mod-flash-banner li div.g,.mod-flash-banner li div.p{position:absolute;width:300px;height:220px;
    padding:20px;left:0;top:5em;}
.mod-flash-banner li div.g{opacity:0.9;background:#EEE;}
.mod-flash-banner li div.p{font-size:1.4em;color:#FFF;top:3.8em;width:320px;}
.mod-flash-banner li div.p h2{font-size:1.2em;border-left:solid 8px #D50000;color:#FFF;padding-left:0.5em;margin:0;line-height:2em;
    background:#333;}
.mod-flash-banner li div.p p{margin:1em 20px 1em 0;text-indent:1em;line-height:1.7em;color:#000;}

/* 语言 */
.mod-lang-drop{padding-bottom:30px;}
.mod-lang-drop .list{position:absolute;right:0;left:0;background:#FFF;box-shadow:0 0 5px rgba(0,0,0,0.3);padding:15px;display:none;}
.mod-lang-drop .arrow-t{position:absolute;border-width:10px;top:-10px;left:0;right:0;margin:0 auto;}
.mod-lang-drop:hover .mod-lang-drop-list{display:inherit;}


/* mod-crumb 面包屑 */
.mod-crumb{line-height:3em;color:#999;position:relative;font-size:1.2rem;}
.mod-crumb>.rgt{position: absolute;right:1em;top:5px;}
.mod-crumb a,.mod-crumb a:visited{color:#999;text-decoration: none;margin:0 5px;}

/* mod-nav-side 边栏 */
.mod-nav-side {}

/* mod-nav-border */
.mod-nav-border .tit {background: #CCC;line-height: 3em;padding: 0 1em;margin-bottom: 0;color: #FFF; font-weight: bold;}
.mod-nav-border .content{}
.mod-nav-border .archive-list{margin: 1em}
.mod-nav-border .archive-list li { height: 2em;line-height: 2em;overflow: hidden;}

/* mod-cat-list */
.mod-cat-list{padding:0;margin:0;list-style:none;}
.mod-cat-list a{text-decoration:none;color:#666;}
.mod-cat-list li{padding:0 1em;line-height:2.5em;}
.mod-cat-list li.current{background:url(tit-bar-03-no-r.png) no-repeat;background-position:0 -36px;}
.mod-cat-list li.current a{color:#FFF;font-weight:bold;display:block;}

/* mod-footer 底部 */
/*

.mod-footer{margin-top:5em;font-size:1em;line-height:2em;text-align:center;background:#FCFCFC}
.mod-footer-con{padding:1em 0;}
.mod-footer .small {font-size: 12px;}

.mod-quick-link{padding:2em 0;background:#F0F0F0;box-shadow:0 0 20px #EEE inset;margin-bottom:0;}
.mod-quick-link .col{float:left;width:16%;}
.mod-quick-link .col-last{width:36%;}
.mod-quick-link .con-last{border-left:solid 1px #BBB;margin-right:0;padding-left:10%;text-align:left;position:relative;}
.mod-quick-link .col div.con{padding:2px 0 0 0;margin-right:30%;}
.mod-quick-link .col .tit{font-weight:bold;color:#D50000;font-size:1.1em;margin-top:0;}
.mod-quick-link .col-last div.con{border:none;}
.mod-quick-link .col a:link,.page-footer .col a:visited{display: block;margin:10px 0;color:#666;text-decoration: none;}
.mod-quick-link .col a:hover{color:#D50000;text-decoration:underline;}
.mod-quick-link .col p{line-height:2.5em;}

*/

/* mod-friend-link : 友情链接 */
.mod-friend-link{font-size:12px;}
.mod-friend-link i{padding-right:10px;color:#CCC;}

/** 反馈 */
.mod-feedback{}
.mod-feedback .container{background-size:cover;padding:30px;}
.mod-feedback-tit,.mod-feedback-sub-tit{color:#FFF;padding-left:15px;}
.mod-feedback-tit{font-size:18px;font-weight: bold;}
.mod-feedback-sub-tit{margin-bottom:30px;}
.mod-feedback-form{padding:15px;box-shadow:0 0 15px rgba(0,0,0,0.1);border-radius:3px;}
.mod-feedback .wx{text-align:center;color:#FFF;font-weight:bold;}
.mod-feedback .wx img{background:#FFF;width:80%;padding:15px;}
.mod-feedback-form label{padding-top:15px;display:block;}
.mod-feedback-button{text-align:right;padding-top:15px;padding-bottom:15px;}

/** 即时聊天 */
.mod-instant-chat{position:fixed;top:70%;right:30px;border:solid 3px #707070;border-radius:50px;
    display:block;width:60px;height:60px;background:#FFF;background-size:50%;cursor:pointer;}
.mod-instant-chat .g-pop{position:absolute;top:-60px;left:-20px;right:-20px;text-align:center;display:none}
.mod-instant-chat:hover .g-pop{display:inherit;}


/* 轮播图 */
.mod-gallery-play .slick-prev,.mod-gallery-play .slick-next{left:0;z-index:10;width:60px;height:60px;}
.mod-gallery-play .slick-prev,.mod-gallery-play .slick-next,.mod-gallery-play .slick-prev:hover,.mod-gallery-play .slick-next:hover{background:#AAA !important;}
.mod-gallery-play .slick-next{right:0;left:auto;}
.mod-gallery-play .slick-prev:before,.mod-gallery-play .slick-next:before{font-size:40px;}


/* UNSORTED */
.auto-fit{position:relative;padding-top:60px;text-align:center;}
.auto-fit img{max-width:100%;max-height:100%;position: absolute;left:0;top:0;right:0;bottom:0;margin:auto;}

