*,::after,::before{box-sizing:border-box}
/* ---------- 页面元素定义样式 --------- */
a,abbr,acronym,address,applet,big,blockquote,body,caption,
cite,code,dd,del,dfn,div,dl,dt,em,font,form,h1,h2,h3,h4,h5,
h6,html,i,iframe,img,ins,kbd,label,legend, li,object,ol,p,
pre,q,s,samp,small,span,strike,strong,table, tbody,td,tfoot,
th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;
    font-weight:inherit;font-style:normal;font-family:inherit;
    text-decoration:none;-webkit-text-size-adjust:none;
    -ms-interpolation-mode:bicubic;}
strong{font-weight:600}

html{font-size:62.5%;}
@media only screen and (max-width: 958px) {
    @media only screen and (min-width:361px){html{font-size:70.31%!important}}
    @media only screen and (min-width:376px){html{font-size:73.24%!important;}}
    @media only screen and (min-width: 481px) {html {font-size: 94% !important; /* 15.04÷16=94% */ }}
    @media only screen and (min-width: 561px) {html {font-size: 109% !important; /* 17.44÷16=109% */ }}
    @media only screen and (min-width: 641px) {html {font-size: 125% !important; /* 20÷16=125% */}}
}
body,html{height:100%;}:focus{outline:0}
ol,ul{list-style:none}textarea{resize:none}
table{border-collapse:collapse;border-spacing:0;empty-cells:show}
template{display:none;visibility:hidden;}
caption,td,th{font-weight:400}
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1em;}
blockquote:after,blockquote:before,q:after,q:before{content:""}
blockquote,q{quotes:"" ""}
pre{white-space: pre-wrap;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type="password"]{font-family:inherit}
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
img{max-width:100%;border:0}


/* Response Layout, 12 Columns */
.container,.container-fluid{padding-right:15px;padding-left:15px;margin:0 auto}
.row{display:flex;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: 15px;padding-right: 15px; position: relative;width:100%;min-height: 1px;}
/* xs */
.col-1{flex:0 0 8.333333%;max-width:8.333333%}
.col-2{flex:0 0 16.666666%;max-width:16.666666%}
.col-3{flex:0 0 25%;max-width:25%}
.col-4{flex:0 0 33.333333%;max-width:33.333333%}
.col-5{flex:0 0 41.666666%;max-width:41.666666%}
.col-6{flex:0 0 50%;max-width:50%}
.col-7{flex:0 0 58.333333%;max-width:58.333333%}
.col-8{flex:0 0 66.666666%;max-width:66.666666%}
.col-9{flex:0 0 75%;max-width:75%}
.col-10{flex:0 0 83.333333%;max-width:83.333333%}
.col-11{flex:0 0 91.666666%;max-width:91.666666%}
.col-12{flex:0 0 100%;max-width:100%}
.offset-1{margin-left:8.333333%}
.offset-2{margin-left:16.666666%}
.offset-3{margin-left:25%}
.offset-4{margin-left:33.333333%}
.offset-5{margin-left:41.666666%}
.offset-6{margin-left:50%}
.offset-7{margin-left:58.333333%}
.offset-8{margin-left:66.666666%}
.offset-9{margin-left:75%}
.offset-10{margin-left:83.333333%}
.offset-11{margin-left:91.666666%}

@media (min-width:576px){
    .container{width:540px}
    .hidden-sm{display: none !important}
    .col-sm-1{flex:0 0 8.333333%;max-width:8.333333%}
    .col-sm-2{flex:0 0 16.666666%;max-width:16.666666%}
    .col-sm-3{flex:0 0 25%;max-width:25%}
    .col-sm-4{flex:0 0 33.333333%;max-width:33.333333%} 
    .col-sm-5{flex:0 0 41.666666%;max-width:41.666666%} 
    .col-sm-6{flex:0 0 50%;max-width:50%}
    .col-sm-7{flex:0 0 58.333333%;max-width:58.333333%} 
    .col-sm-8{flex:0 0 66.666666%;max-width:66.666666%}  
    .col-sm-9{flex:0 0 75%;max-width:75%}  
    .col-sm-10{flex:0 0 83.333333%;max-width:83.333333%} 
    .col-sm-11{flex:0 0 91.666666%;max-width:91.666666%} 
    .col-sm-12{flex:0 0 100%;max-width:100%}
    .offset-sm-1{margin-left:8.333333%}
    .offset-sm-2{margin-left:16.666666%}
    .offset-sm-3{margin-left:25%}
    .offset-sm-4{margin-left:33.333333%}
    .offset-sm-5{margin-left:41.666666%}
    .offset-sm-6{margin-left:50%}
    .offset-sm-7{margin-left:58.333333%}
    .offset-sm-8{margin-left:66.666666%}
    .offset-sm-9{margin-left:75%}
    .offset-sm-10{margin-left:83.333333%}
    .offset-sm-11{margin-left:91.666666%}
    /*.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}*/
}
@media (min-width: 768px){
    .container{width:720px}
    .hidden-md{display: none !important}
    .col-md-1{flex:0 0 8.333333%;max-width:8.333333%}
    .col-md-2{flex:0 0 16.666666%;max-width:16.666666%}
    .col-md-3{flex:0 0 25%;max-width:25%}
    .col-md-4{flex:0 0 33.333333%;max-width:33.333333%} 
    .col-md-5{flex:0 0 41.666666%;max-width:41.666666%} 
    .col-md-6{flex:0 0 50%;max-width:50%}
    .col-md-7{flex:0 0 58.333333%;max-width:58.333333%} 
    .col-md-8{flex:0 0 66.666666%;max-width:66.666666%}  
    .col-md-9{flex:0 0 75%;max-width:75%}  
    .col-md-10{flex:0 0 83.333333%;max-width:83.333333%}  
    .col-md-11{flex:0 0 91.666666%;max-width:91.666666%} 
    .col-md-12{flex:0 0 100%;max-width:100%}
    .offset-md-1{margin-left:8.333333%}
    .offset-md-2{margin-left:16.666666%}
    .offset-md-3{margin-left:25%}
    .offset-md-4{margin-left:33.333333%}
    .offset-md-5{margin-left:41.666666%}
    .offset-md-6{margin-left:50%}
    .offset-md-7{margin-left:58.333333%}
    .offset-md-8{margin-left:66.666666%}
    .offset-md-9{margin-left:75%}
    .offset-md-10{margin-left:83.333333%}
    .offset-md-11{margin-left:91.666666%}
}
@media (min-width:992px){
    .container{width:960px}
    .hidden-lg{display: none !important}
    .col-lg-1{flex:0 0 8.333333%;max-width:8.333333%}
    .col-lg-2{flex:0 0 16.666666%;max-width:16.666666%}
    .col-lg-3{flex:0 0 25%;max-width:25%}
    .col-lg-4{flex:0 0 33.333333%;max-width:33.333333%} 
    .col-lg-5{flex:0 0 41.666666%;max-width:41.666666%} 
    .col-lg-6{flex:0 0 50%;max-width:50%}
    .col-lg-7{flex:0 0 58.333333%;max-width:58.333333%} 
    .col-lg-8{flex:0 0 66.666666%;max-width:66.666666%} 
    .col-lg-9{flex:0 0 75%;max-width:75%} 
    .col-lg-10{flex:0 0 83.333333%;max-width:83.333333%} 
    .col-lg-11{flex:0 0 91.666666%;max-width:91.666666%} 
    .col-lg-12{flex:0 0 100%;max-width:100%}
    .offset-lg-1{margin-left:8.333333%}
    .offset-lg-2{margin-left:16.666666%}
    .offset-lg-3{margin-left:25%}
    .offset-lg-4{margin-left:33.333333%}
    .offset-lg-5{margin-left:41.666666%}
    .offset-lg-6{margin-left:50%}
    .offset-lg-7{margin-left:58.333333%}
    .offset-lg-8{margin-left:66.666666%}
    .offset-lg-9{margin-left:75%}
    .offset-lg-10{margin-left:83.333333%}
    .offset-lg-11{margin-left:91.666666%}
}
@media (min-width:1200px){
    .container{width:1140px}
    .hidden-xl{display: none !important}
    .col-xl-1{flex:0 0 8.333333%;max-width:8.333333%}
    .col-xl-2{flex:0 0 16.666666%;max-width:16.666666%}
    .col-xl-3{flex:0 0 25%;max-width:25%}
    .col-xl-4{flex:0 0 33.333333%;max-width:33.333333%}
    .col-xl-5{flex:0 0 41.666666%;max-width:41.666666%}
    .col-xl-6{flex:0 0 50%;max-width:50%}
    .col-xl-7{flex:0 0 58.333333%;max-width:58.333333%}
    .col-xl-8{flex:0 0 66.666666%;max-width:66.666666%}
    .col-xl-9{flex:0 0 75%;max-width:75%}
    .col-xl-10{flex:0 0 83.333333%;max-width:83.333333%}
    .col-xl-11{flex:0 0 91.666666%;max-width:91.666666%}
    .col-xl-12{flex:0 0 100%;max-width:100%}
    .offset-xl-1{margin-left:8.333333%}
    .offset-xl-2{margin-left:16.666666%}
    .offset-xl-3{margin-left:25%}
    .offset-xl-4{margin-left:33.333333%}
    .offset-xl-5{margin-left:41.666666%}
    .offset-xl-6{margin-left:50%}
    .offset-xl-7{margin-left:58.333333%}
    .offset-xl-8{margin-left:66.666666%}
    .offset-xl-9{margin-left:75%}
    .offset-xl-10{margin-left:83.333333%}
    .offset-xl-11{margin-left:91.666666%}
}
@media (max-width:575px){.hidden-xs{display:none !important;}}
.pull{float:left;}.push{float:right;}

/* 隐藏 */
.hidden{display:none !important;}
/* clearfix 清除浮动 */
.container:after,.container-fluid:after,.clearfix:after{content:".";display:block;visibility:hidden;height:0;line-height:0;clear:both;}
.clearfix{zoom:1;}
/* 大写 */
.uppercase{text-transform:uppercase;}
/* 箭头 */
.g-arrow{height:0;width:0;margin:auto;display:inline-block;border:solid 5px transparent;}
.g-arrow-r{border-right:none;border-left-color:#FFF;margin-left:5px;}
.g-arrow-l{border-left:none;border-right-color:#FFF;margin-right:5px;}
.g-arrow-t{border-top:none;border-bottom-color:#FFF;margin-top:5px;}
.g-arrow-b{border-bottom:none;border-top-color:#FFF;margin-bottom:5px;}
/* 空心箭头： 向下的三角线：<span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span> */
.g-arrow-slot{position: relative;}
.g-arrow-slot span{position: absolute;border-style: solid dashed dashed;top:0;border-width: 10px;}
.g-arrow-slot span:first-child{border-color: #666 transparent transparent;top:1px;}
.g-arrow-slot span:last-child{border-color: #FFF transparent transparent;border-style: solid dashed dashed;}
.g-arrow-slot-r span:first-child{margin-left:1px;top:1px;border-style: dashed dashed dashed solid;border-color: transparent transparent transparent #666;}
.g-arrow-slot-r span:last-child{top:1px;border-style: dashed dashed dashed solid;border-color:transparent transparent transparent #fff;}
.g-arrow-slot-l span:first-child{top:1px;border-style: dashed solid dashed dashed;border-color: transparent #666 transparent transparent;}
.g-arrow-slot-l span:last-child{margin-left:1px;top:1px;border-style: dashed solid dashed dashed;border-color: transparent #fff transparent transparent;}
/* 水平箭头折线,如：<div class="g-arrow-hr"><span class="g-arrow-slot g-arrow-slot-b"><span></span><span></span></span> </div>*/
.g-arrow-hr{border-bottom:solid 1px #999;height:1px;position:relative;margin-bottom:15px;}
.g-arrow-hr .g-arrow-slot{position: absolute;margin-left:-5px;}
.g-arrow-hr .g-arrow-slot span{border-width:7px;}
/* 显示单行，超出以省略号显示 */
.g-single-row{text-overflow: ellipsis;white-space: nowrap;overflow:hidden;}
/** 文字居中 */
.g-text-center{text-align:center;}.g-text-right{text-align:right;}
/* 元素垂直居中 */
.g-align-center{align-content:center !important;align-items: center !important;}
/** 内容右对齐 */
.g-align-right{display:flex;justify-content: flex-end;}
/** 元素垂直居中 */
.g-align-middle *{vertical-align: middle}
/* g-flex-boxes div垂直水平居中 */
.g-flex{display:flex;}
.g-flex-boxes>*{display:flex;justify-content:center;align-items:center}
/** 背景覆盖 */
.g-bg-cover{background-size:cover !important;}












@media(max-width:768px){.wrapper{padding-left:0;padding-right:0}}

/* 圆角按钮 */
.g-circle-button,.g-circle-fill-button{border:solid 2px #2699FB;line-height:30px;display:inline-block;
    font-size:14px;font-weight:bold;padding:0 15px;border-radius:30px;user-select:none;}
.g-circle-button:hover,.g-circle-button-on,.g-circle-button-on:hover{background:#FFF;color:#2699FB !important;}
.g-circle-button-small{line-height:24px;font-size:12px;}

.g-circle-fill-button{background:#2699FB;color:#FFF !important;}
.g-circle-fill-button:hover{background:#FFF;color:#2699FBf8 !important;transition:all .3s}
.g-circle-button:hover,.g-circle-fill-button:hover{text-decoration:none !important;}

/* 气泡 */
.g-pop{position:relative;background:#FFE;border-radius:10px;color:#000;padding:10px;}
.g-pop-left,.g-pop-right,.g-pop-top,.g-pop-bottom{position:absolute;margin:0 auto;width: 0;height: 0;border:solid 10px transparent;}
.g-pop .g-pop-left,.g-pop .g-pop-right{top:calc(50% - 10px);}
.g-pop .g-pop-top,.g-pop .g-pop-bottom{left:0;right:0;}
.g-pop .g-pop-top{top:-10px;border-bottom-color:#FFE;border-top:0;}
.g-pop .g-pop-bottom{bottom:-10px;border-top-color:#FFE;border-bottom:0;}
.g-pop .g-pop-left{left:-10px;border-right-color: #FFE;border-left:0;}
.g-pop .g-pop-right{right:-10px;border-left-color:#FFE;border-right:0;}
.g-pop-dark{background:#333;color:#FFF;}
.g-pop-dark .g-pop-left{border-right-color:#333;}
.g-pop-dark .g-pop-right{border-left-color:#333;}
.g-pop-dark .g-pop-top{border-bottom-color:#333;}
.g-pop-dark .g-pop-bottom{border-top-color:#333;}


/* 播放器，配合video.js使用*/
.mod-player{position:relative;}
.mod-player-mark,.mod-player-mask{position: absolute;top:0;right:0;}
.mod-player-mask{left:0;bottom:30px;background:#FFF;filter:alpha(opacity=0);opacity:0;z-index:1;}
.mod-player-mark{color:#FFF;font-size:10px;right:1em;height:1em;z-index:2;}
.mod-player .vjs-poster{z-index:3;}
.mod-player .vjs-big-play-button{z-index:4;left:0 !important;right:0 !important; top:0 !important;bottom:0 !important;margin:auto;}

/* player button  */
.mod-play-box{position:relative;}
.mod-play-box .mask,.mod-play-box .play{position: absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.mod-play-box .mask{background:#000;opacity:.05;}
.mod-play-box .play{width:60px; height:60px;border:solid 5px #EEE;border-radius:99em;z-index:3;text-align:center}
.mod-play-box .play i{width:0;height:0;display:inline-block;border-top:solid 12px transparent;border-bottom:solid 12px transparent; border-left:solid 16px #EEE;margin:12px 0 0 4px}

/* 图片自动适应宽高，padding高度100%以宽度为准计算的 */
/* .g-suited-img.g-suited-img-75>.mask+img */
.g-suited-img{padding-bottom:65%;position:relative;overflow:hidden;}
.g-suited-img>img,.g-suited-img .mask{position: absolute;left:0;top:0;bottom:0;width:100%;margin:auto;}
.g-suited-img .mask{z-index:1;}

.g-article-thumb>img{}

/* big-title */
.g-big-tit{font-size:1.6em;margin:30px 0;font-weight:500;text-align:center;letter-spacing:1px;}
.g-big-tit .sub{font-size:0.65em;margin:15px 0;color:#666;line-height:1.5em;}
/* 输入框 */
.g-text-box{border: solid 1px #C0C0C0;line-height: 1.5em;padding: .5em .7em;border-radius: 3px;}
.g-text-box:focus{outline:solid 1.4px #2699FB;outline-offset:-1.4px;box-shadow:0 0 6px rgba(0,0,0,0.25);}

/* g-btn */
.g-btn{color:#FFF;background:#06C;text-align:center;display:block;padding:0 1.5em;border-radius:3px;
    cursor:default;line-height:30px;opacity:0.85;filter:alpha(opacity=85);
    user-select:none;-moz-user-select:none;-webkit-user-select:none;border:0; }
.g-btn:hover{opacity:1;filter:alpha(opacity=100)}
.g-btn a:link,.g-btn a:visited,.g-btn button,.g-btn input{display:block;color:#FFF;}
.g-btn a:hover{color:#FFF;text-decoration:none;}
/* g-btn-inline */
.g-btn-inline{display:inline-block;padding:0 12px;}
/* g-btn-a */
.g-btn-a{display:inline-block;line-height:2em;padding:0 25px;color:#FFF;background:#2D83DA;margin-right: 5px;}
.g-btn-a:hover{color:#FFF;background:#06C;}
/* g-btn-div */
.g-btn-div{cursor:default;display:inline-block;line-height:2em;padding:0 25px;
    color:#FFF;background:#2D83DA;margin-right: 5px;margin-bottom:0;}
.g-btn-div:hover{color:#FFF;background:#06C}
.g-btn-div a{display:block;}
.g-btn-div:hover,.g-btn-a:hover,.g-btn a:hover{text-decoration:none;}

/* 项目符号 */
.g-item-dot{width:3px;height:3px;margin:10px 5px 0 0;background:#000;display:inline-block;float:left;}


/* mod-n-form 表单 */
/*.mod-form>(.field>label.label{label$}+(.col>input.text.g-text-box+br+i.desc{请填写内容}))*3*/
.g-form-i{border:solid 1px #DADADA;padding:0 5px;font-size:1em;overflow:hidden;line-height:30px;height:30px;border-radius:5px;}
.mod-form *{vertical-align:middle;}
.mod-form .group{margin-bottom:2em;border:solid 0 #ddd;background:#FFF;}
.mod-form .title{line-height:2em;padding:1em;font-size:1.2em;color:#888;}
.mod-form .field{padding:0 0 15px 0;}
.mod-form .field div,.mod-form .field p{display:inline-block;}
.mod-form .label{margin-right: 15px;}
/* 表单字段 */
.mod-form-field{align-content: flex-start;display: flex;}


/* 模态框 */
.g-modal .mask,.g-modal .modal{position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;z-index:99999;}
.g-modal .mask{background:#000;z-index:99998;opacity:0.5;filter:alpha(opacity=50)}
.g-modal .modal{background:#FFF;padding:0;box-shadow:0 0 30px rgba(0,0,0,0.3);}
.g-modal .close{position:absolute;right:0;top:0;width:45px;padding:10px 12px;}
.g-modal .close i{width:20px;}
.g-modal .title{text-align:center;line-height:45px;font-size:16px;letter-spacing:.5px;font-weight:400;border-bottom:solid 1px #EAEAEA;color:#AAA}
.g-modal .content{padding:15px;}
.g-modal .bottom{display:none;}
.g-modal .ui-alert-message{padding:1.5em 1.5em 0 1.5em;font-size:1em;min-width:200px;color:#F00;}
.g-modal .ui-alert-control{text-align:right;padding:0 1em 1em 0;border-radius: 0 0 10px 10px;}
.g-modal .ui-alert-control input{display: inline-block;vertical-align:middle;
    padding:5px 15px;color:#666;background:none;}
@media(max-width:600px){
    .g-modal .title{display:none;}
}

/* g-tab-card / 选项卡 */
.g-tab-card{position:relative;}
.g-tab-card ul{list-style:none;padding:0;margin:0;}
.g-tab-card .tab{float:left;position:relative;text-align:center;}
.g-tab-card .frame{clear: both;display:none;}
.g-tab-card .active{display:inherit;}
.g-tab-card .frame:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.g-tab-card .mask{position:absolute;left:1px;top:0;background:#f5f5f5;opacity:0.7;filter:alpha(opacity=70);z-index:898;}

/* g-btn-upload */
.g-btn-upload{position:relative;background:#F0F0F0;border:solid 1px #CCC;display:inline-block;line-height:25px;}
.g-btn-upload:hover{border-color:#888;}
.g-btn-upload button{border:none;}

/* g-table / 表格*/
.g-table,.g-table table{width:100%;border-collapse: collapse;line-height:30px;}
.g-table td{padding-left:12px;margin-right:-12px;}
.g-table td div{padding:5px 0;}
.g-table thead{background:#EBEBEB;line-height:350%;border:solid 1px #EBEBEB;}
.g-table thead td{font-weight: bold;color:#666;}
.g-table tbody{border:solid 1px #EBEBEB;border-top-width:0;}
.g-table tbody td{border-bottom:solid 1px #EBEBEB;}
.g-table .td-op{color:#CCC;}
.g-table .td-op a{color:#06C;}
.g-table .td-op a:hover{color:#000;}

/* g-ani-hover-border : 鼠标滑过底框效果 */
.g-ani-hover-border{position:relative;}
.g-ani-hover-border:after{content:" ";border-bottom:solid 2px transparent;position:absolute;bottom:-2px;left:0;right:0;margin:auto;width:0;}
.g-ani-hover-border:hover:after{border-bottom:solid 2px #000;transition:all .3s;width:100%;}