<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Documy - Online Documentation HTML5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="${page.tpath}/assets/img/favicon.png"
    />
    <!-- CSS here -->
    <link rel="stylesheet" href="${page.tpath}/assets/css/preloader.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/metismenu.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/animate.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/swiper-bundle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/backToTop.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/progresscircle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/nice-select.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/fontAwesome5Pro.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/flaticon.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/default.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/codemirror.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/codemirror-theme.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/style.css" />
  </head>

  <body>
    <!-- side toggle start -->
    <div class="fix">
      <div class="side-info">
        <div class="side-info-content">
          <div class="offset-widget offset-logo mb-40">
            <div class="row align-items-center">
              <div class="col-9">
                <a href="${page.domain}">
                  <img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="Logo"
                  />
                </a>
              </div>
              <div class="col-3 text-end">
                <button class="side-info-close">
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="mobile-menu d-xl-none fix"></div>
          <div class="offset-widget offset_searchbar mb-30">
            <div class="menu-search position-relative">
              <form action="#" class="filter-search-input">
                <input type="text" placeholder="Search keyword" />
                <button><i class="fal fa-search"></i></button>
              </form>
            </div>
          </div>
          <div class="offset-widget offset_menu-top mb-20">
            <div class="header-menu-top-icon mb-20">
              <a href="tel:(555)574790456"
                ><i class="fas fa-phone"></i>(555) 574 790 456</a
              >
              <a
                href="../../../cdn-cgi/l/email-protection.html#9df4f3fbf2ddf8e5fcf0edf1f8b3fef2f0"
                ><i class="fal fa-envelope"></i
                ><span
                  class="__cf_email__"
                  data-cfemail="e78e898188a7829f868a978b82c984888a"
                  >[email&#160;protected]</span
                ></a
              >
              <i class="fal fa-map-marker-alt"></i
              ><span>Aprox jue Austalia</span>
            </div>
          </div>
          <div class="offset-widget button mb-20">
            <a class="theme-btn" href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- side toggle end -->

    <!-- header area start  -->
    <header class="header2 header-transparent du-sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-6 col-6">
            <div class="header-main-left">
              <div class="header-logo header1-logo">
                <a href="${page.domain}" class="logo-bl"
                  ><img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="logo-img"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 d-none d-lg-block">
            <div class="header-main-right ml-60">
              <div class="main-menu mr-30">
                <nav id="mobile-menu">
                  <ul>
                    <li class="menu-item-has-children">
                      <a href="${page.domain}">Home</a>
                      <ul class="sub-menu">
                        <li><a href="${page.domain}">Home</a></li>
                        <li><a href="index-2.html">Home 2</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="documentation.html">Documentation</a>
                      <ul class="sub-menu">
                        <li class="menu-item-has-children">
                          <a href="documy.html">Documy</a>
                          <ul class="sub-menu">
                            <li><a href="component.html">Component</a></li>
                            <li><a href="content.html">Content</a></li>
                            <li><a href="code-syntax.html">Code Syntax </a></li>
                            <li><a href="layout.html">Layout</a></li>
                            <li>
                              <a href="core-feature.html">Core feature</a>
                            </li>
                            <li><a href="faq.html">Faq</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="forum.html">Forum</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#!">Pages</a>
                      <ul class="sub-menu">
                        <li><a href="team-members.html">Team Members</a></li>
                        <li>
                          <a href="team-member-details.html"
                            >Team Member Details</a
                          >
                        </li>
                        <li><a href="404-page.html">404 pages</a></li>
                        <li><a href="contact.html">contact</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="blog.html">Blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-6 col-6">
            <div
              class="header-main-right d-flex align-items-center justify-content-end"
            >
              <a href="contact.html" class="duheader-btn d-none d-sm-block"
                >Get Documy</a
              >
              <a class="side-toggle ml-30" href="javascript:void(0)">
                <div class="bar-icon bar2-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header area end -->

    <main>
      <!-- Page title start here -->
      <div class="page-title__area pt-175 breadcrumb-bg p-relative">
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape1.png"
          alt="img not found"
          class="f-shape-1"
        />
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape2.png"
          alt="img not found"
          class="f-shape-2"
        />
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="banner-search align-items-center pb-85">
                <form class="search-form search-common">
                  <input type="text" placeholder="Search keyword..." />
                  <button type="submit">
                    <i class="flaticon-search-interface-symbol"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcurms-area white-bg pt-15 pb-15">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-8 col-lg-8 col-md-6">
                <nav class="breadcrumb-trail breadcrumbs">
                  <ul class="trail-items">
                    <li class="trail-item">
                      <a href="${page.domain}"
                        ><i class="fas fa-home"></i><span>Home</span></a
                      >
                    </li>
                    <li class="trail-item">
                      <a href="documentation.html">Docs</a>
                    </li>
                    <li class="trail-item"><a href="documy.html">Documy</a></li>
                    <li class="trail-item">
                      <a href="code-syntax.html">Code Syntax</a>
                    </li>
                    <li class="trail-item">Dark Code Editor</li>
                  </ul>
                </nav>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="breadcrumb__dates text-end">
                  <p>
                    <i class="far fa-calendar-alt"></i> Updated on 10 / 23 /
                    2019
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Page title end here -->

      <!-- documy topics start -->
      <div class="documy-topics-area">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="du__sidebar-left pt-47 pb-30">
                <div class="du__sidebar-left-topics pb-20">
                  <h4>Documy Topics</h4>
                </div>
                <nav class="sidebar-nav">
                  <ul id="toc">
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-1.png"
                          alt="img"
                        />Component</a
                      >
                      <ul>
                        <li>
                          <a href="tab-widgets.html"
                            ><i class="flaticon-file"></i>Tab Widget</a
                          >
                        </li>
                        <li>
                          <a href="button-widgets.html"
                            ><i class="flaticon-file"></i>Button</a
                          >
                        </li>
                        <li>
                          <a href="message-widgets.html"
                            ><i class="flaticon-file"></i>Message Widget</a
                          >
                        </li>
                        <li>
                          <a href="notice-highlight.html"
                            ><i class="flaticon-file"></i>Notice & Highlight</a
                          >
                        </li>
                        <li>
                          <a href="list-widgets.html"
                            ><i class="flaticon-file"></i>List Widget</a
                          >
                        </li>
                        <li>
                          <a href="quotation.html"
                            ><i class="flaticon-file"></i>Quotation</a
                          >
                        </li>
                        <li>
                          <a href="accordion-widgets.html"
                            ><i class="flaticon-file"></i>Accordion Widget</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-2.png"
                          alt="img"
                        />Content</a
                      >
                      <ul>
                        <li>
                          <a href="tooltip-direction.html"
                            ><i class="flaticon-file"></i>Tooltip & Direction</a
                          >
                        </li>
                        <li>
                          <a href="table-widget.html"
                            ><i class="flaticon-file"></i>Table Widget</a
                          >
                        </li>
                        <li>
                          <a href="form-widget.html"
                            ><i class="flaticon-file"></i>Form / Field Widget</a
                          >
                        </li>
                        <li>
                          <a href="notice-highlight.html"
                            ><i class="flaticon-file"></i>Notice & Highlight</a
                          >
                        </li>
                        <li>
                          <a href="audio-widget.html"
                            ><i class="flaticon-file"></i>Audio Widget</a
                          >
                        </li>
                        <li>
                          <a href="video-widgets.html"
                            ><i class="flaticon-file"></i>Video Widget</a
                          >
                        </li>
                        <li>
                          <a href="keyboard-shortcut.html"
                            ><i class="flaticon-file"></i> Keyboard Shortcut
                          </a>
                        </li>
                        <li>
                          <a href="progress-widget.html"
                            ><i class="flaticon-file"></i>Progress Widget</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-3.png"
                          alt="img"
                        />Code Syntax</a
                      >
                      <ul>
                        <li>
                          <a href="code-block.html"
                            ><i class="flaticon-file"></i>Code Block</a
                          >
                        </li>
                        <li>
                          <a href="default-code-editor.html"
                            ><i class="flaticon-file"></i>Default Code Editor</a
                          >
                        </li>
                        <li>
                          <a href="dark-code-editor.html"
                            ><i class="flaticon-file"></i>Dark Code Editor
                          </a>
                        </li>
                        <li>
                          <a href="light-code-editor.html"
                            ><i class="flaticon-file"></i>Light Code Editor</a
                          >
                        </li>
                        <li>
                          <a href="css-code-editor.html"
                            ><i class="flaticon-file"></i>CSS Color Code</a
                          >
                        </li>
                        <li>
                          <a href="code-compiler.html"
                            ><i class="flaticon-file"></i>Code Compiler</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-4.png"
                          alt="img"
                        />Layout</a
                      >
                      <ul>
                        <li>
                          <a href="grid-system.html"
                            ><i class="flaticon-file"></i>Grid System</a
                          >
                        </li>
                        <li>
                          <a href="content-layout.html"
                            ><i class="flaticon-file"></i>Content Layout</a
                          >
                        </li>
                        <li>
                          <a href="fullwidth-layout.html"
                            ><i class="flaticon-file"></i>Full Width Layout</a
                          >
                        </li>
                        <li>
                          <a href="box-layout.html"
                            ><i class="flaticon-file"></i>Box Layout</a
                          >
                        </li>
                        <li>
                          <a href="responsive-layout.html"
                            ><i class="flaticon-file"></i>Responsive Layout</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-5.png"
                          alt="img"
                        />Core Feature</a
                      >
                      <ul>
                        <li>
                          <a href="countdown.html"
                            ><i class="flaticon-file"></i>Countdown</a
                          >
                        </li>
                        <li>
                          <a href="info-card.html"
                            ><i class="flaticon-file"></i>Info Card</a
                          >
                        </li>
                        <li>
                          <a href="changelog.html"
                            ><i class="flaticon-file"></i>Changelog</a
                          >
                        </li>
                        <li>
                          <a href="newsletter.html"
                            ><i class="flaticon-file"></i>Newsletter
                          </a>
                        </li>
                        <li>
                          <a href="animated-heading.html"
                            ><i class="flaticon-file"></i>Animation Heading
                          </a>
                        </li>
                        <li>
                          <a href="information-chart.html"
                            ><i class="flaticon-file"></i>Infographic Chart</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="has-arrow"
                        ><img
                          src="${page.tpath}/assets/img/sidebar/icons/side-6.png"
                          alt="img"
                        />FAQs</a
                      >
                      <ul>
                        <li>
                          <a href="getting-started.html"
                            ><i class="flaticon-file"></i>How to get started?</a
                          >
                        </li>
                        <li>
                          <a href="documy-install.html"
                            ><i class="flaticon-file"></i>How to install
                            Documy?</a
                          >
                        </li>
                        <li>
                          <a href="demo-import.html"
                            ><i class="flaticon-file"></i>How to import demo?</a
                          >
                        </li>
                        <li>
                          <a href="change-sitelogo.html"
                            ><i class="flaticon-file"></i>How to change site
                            logo?</a
                          >
                        </li>
                        <li>
                          <a href="theme-option.html"
                            ><i class="flaticon-file"></i>How to change theme
                            options?</a
                          >
                        </li>
                        <li>
                          <a href="create-post.html"
                            ><i class="flaticon-file"></i>How to create a
                            post?</a
                          >
                        </li>
                        <li>
                          <a href="docuy-newuser.html"
                            ><i class="flaticon-file"></i>How to add new
                            user?</a
                          >
                        </li>
                        <li>
                          <a href="change-color.html"
                            ><i class="flaticon-file"></i>How to change theme
                            color?</a
                          >
                        </li>
                        <li>
                          <a href="docuy-csscode.html"
                            ><i class="flaticon-file"></i>How to apply CSS
                            code?</a
                          >
                        </li>
                        <li>
                          <a href="elementor-builder.html"
                            ><i class="flaticon-file"></i>Using Elementor Page
                            builder?</a
                          >
                        </li>
                        <li>
                          <a href="shortcode.html"
                            ><i class="flaticon-file"></i>How to use
                            shortcode?</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-md-9">
              <div class="du__docs pl-75 pb-100">
                <div class="du__docs-right pt-45 mb-80">
                  <div class="du__docs-right-title pb-35">
                    <h2>Dark Code Editor</h2>
                  </div>
                  <div class="du__docs-subtitle mb-60">
                    <p>
                      There are five new ways to get work for code syntax. Each
                      one has been carefully designed alongside the Java, Python
                      etc. According to industry best practices to make managing
                      work simple painless.
                    </p>
                  </div>
                  <div class="codeditor-area">
                    <textarea id="editorBlackboard">
<p>
<a class="add-panel" onclick="addPanel('top')">top</a>
<a class="add-panel" onclick="addPanel('after-top')">after-top</a>
<a class="add-panel" onclick="addPanel('before-bottom')">before-bottom</a>
<a class="add-panel" onclick="addPanel('bottom')">bottom</a>
<style>.topmost{
font-size: 100px;
color: red;
}
</style>
</p>
<p>
You can also replace an existing panel:
</p>
<form onsubmit="return replacePanel(this);" name="replace_panel">
<input type="submit" value="Replace panel n°">
<input type="number" name="panel_id" min="1" value="1">
</form>
</textarea
                    >
                  </div>
                </div>
                <div class="du-single-featurs">
                  <!--default code editor end -->
                  <div class="du__docs-tag pb-75">
                    <span>Tags: </span>
                    <a href="blog-details.html" rel="tag">Element</a>
                    <a href="blog-details.html" rel="tag">Notice</a>
                    <a href="blog-details.html" rel="tag">Highlight</a>
                  </div>
                  <div class="docs-support pt-25">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6">
                        <div class="du__docs-suppport-left">
                          <p>
                            <i class="fal fa-envelope"></i> Still stuck?<a
                              href="contact.html"
                              >How can we help?</a
                            >
                          </p>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                        <div class="du__docs-suppport-right text-end mb-80">
                          <span>Was this helpful? </span>
                          <a href="#">Yes</a>
                          <a href="#">No</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-lg-6">
                      <div class="du__docs-bottom-box mb-30">
                        <h3>Written by</h3>
                        <div
                          class="du__docs-bottom-box-author d-flex align-items-center mb-43"
                        >
                          <div class="du__docs-bottom-box-author-img mr-15">
                            <img
                              src="${page.tpath}/assets/img/sidebar/author-b.png"
                              alt="img"
                            />
                          </div>
                          <div class="du__docs-bottom-box-author-content">
                            <a href="#">
                              <h4>Alzaniya Tabassum</h4>
                            </a>
                            <span>Sep 25, 2019</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                      <div class="du__docs-bottom-box box-color mb-30">
                        <h3>Related Articles</h3>
                        <div
                          class="du__docs-bottom-box-author d-flex align-items-center"
                        >
                          <div class="du__docs-bottom-box-author-content">
                            <ul>
                              <li>
                                <a href="elementor-builder.html"
                                  ><i class="flaticon-file"></i>Elementor
                                  Builder</a
                                >
                              </li>
                              <li>
                                <a href="theme-option.html"
                                  ><i class="flaticon-file"></i>Theme Option</a
                                >
                              </li>
                              <li>
                                <a href="shortcode.html"
                                  ><i class="flaticon-file"></i>Shortcode</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- documy topics end -->
    </main>

    <!-- footer area start  -->
    <footer>
      <section class="footer__area p-relative">
        <div class="footer-top grey2-bg pt-100 pb-60">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-1 mb-40">
                  <div class="footer__widget-logo mb-30">
                    <a href="${page.domain}"
                      ><img
                        src="${page.tpath}/assets/img/logo/logo-black.png"
                        alt="footer-logo"
                    /></a>
                  </div>
                  <p>
                    Manage any project from start to finish with highly
                    customizable views that make project planning a breezed out
                    formal.
                  </p>
                  <ul class="footer__widget-social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-2 mb-40 ml-125">
                  <h4 class="footer__widget-title mb-25">Quick Links</h4>
                  <ul class="footer__widget-links">
                    <li><a href="#">Technical Support</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="documentation.html">Documentation</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-3 mb-40">
                  <h4 class="footer__widget-title mb-35">Newsletter</h4>
                  <form action="#" class="footer__widget-subscribe">
                    <div class="field field2 p-relative">
                      <input type="email" placeholder="Enter your email" />
                    </div>
                  </form>
                  <div class="free__trial">
                    <span class="free__trial-text"
                      >Try for free once
                      <img
                        src="${page.tpath}/assets/img/footer-shape/left-arrow.png"
                        alt="img"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright pt-20 pb-20">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="copyright-text text-center">
                  <p>© 2022 All Rights Reserved by BDevs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!-- footer area end  -->

    <!-- pre loader area start -->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div
            class="loading-icon text-center d-flex flex-column align-items-center justify-content-center"
          >
            <img
              src="${page.tpath}/assets/img/logo/logo-black.png"
              alt="logo-img"
            />
            <img
              class="loading-logo"
              src="${page.tpath}/assets/img/logo/preloader.svg"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- back to top end -->

    <!-- JS here -->
    <script
      data-cfasync="false"
      src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="${page.tpath}/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="${page.tpath}/assets/js/vendor/waypoints.min.js"></script>
    <script src="${page.tpath}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/meanmenu.js"></script>
    <script src="${page.tpath}/assets/js/metisMenu.min.js"></script>
    <script src="${page.tpath}/assets/js/swiper-bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/magnific-popup.min.js"></script>
    <script src="${page.tpath}/assets/js/progresscircle.js"></script>
    <script src="${page.tpath}/assets/js/backToTop.js"></script>
    <script src="${page.tpath}/assets/js/nice-select.min.js"></script>
    <script src="${page.tpath}/assets/js/jquery.countdown.min.js"></script>
    <script src="${page.tpath}/assets/js/skill.bars.jquery.js"></script>
    <script src="${page.tpath}/assets/js/typed.min.js"></script>
    <script src="${page.tpath}/assets/js/loader.js"></script>
    <script src="${page.tpath}/assets/js/ajax-form.js"></script>
    <script src="${page.tpath}/assets/js/codemirror.js"></script>
    <script src="${page.tpath}/assets/js/xml.js"></script>
    <script src="${page.tpath}/assets/js/wow.min.js"></script>
    <script src="${page.tpath}/assets/js/isotope.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/main.js"></script>
  </body>
</html>
