<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Documy - Online Documentation HTML5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="${page.tpath}/assets/img/favicon.png"
    />
    <!-- CSS here -->
    <link rel="stylesheet" href="${page.tpath}/assets/css/preloader.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/metismenu.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/animate.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/swiper-bundle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/backToTop.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/progresscircle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/nice-select.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/fontAwesome5Pro.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/flaticon.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/default.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/codemirror.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/codemirror-theme.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/style.css" />
  </head>

  <body>
    <!-- side toggle start -->
    <div class="fix">
      <div class="side-info">
        <div class="side-info-content">
          <div class="offset-widget offset-logo mb-40">
            <div class="row align-items-center">
              <div class="col-9">
                <a href="${page.domain}">
                  <img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="logo"
                  />
                </a>
              </div>
              <div class="col-3 text-end">
                <button class="side-info-close">
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="mobile-menu d-xl-none fix"></div>
          <div class="offset-widget offset_searchbar mb-30">
            <div class="menu-search position-relative">
              <form action="#" class="filter-search-input">
                <input type="text" placeholder="Search keyword" />
                <button><i class="fal fa-search"></i></button>
              </form>
            </div>
          </div>
          <div class="offset-widget offset_menu-top mb-20">
            <div class="header-menu-top-icon mb-20">
              <a href="tel:(555)574790456"
                ><i class="fas fa-phone"></i>(555) 574 790 456</a
              >
              <a
                href="../../../cdn-cgi/l/email-protection.html#147d7a727b54716c75796478713a777b79"
                ><i class="fal fa-envelope"></i
                ><span
                  class="__cf_email__"
                  data-cfemail="bcd5d2dad3fcd9c4ddd1ccd0d992dfd3d1"
                  >[email&#160;protected]</span
                ></a
              >
              <i class="fal fa-map-marker-alt"></i
              ><span>Aprox jue Austalia</span>
            </div>
          </div>
          <div class="offset-widget button mb-20">
            <a class="theme-btn" href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- side toggle end -->
    <!-- header area start  -->
    <header class="header2 header-transparent du-sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-6 col-6">
            <div class="header-main-left">
              <div class="header-logo header1-logo">
                <a href="${page.domain}" class="logo-bl"
                  ><img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="logo-img"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 d-none d-lg-block">
            <div class="header-main-right ml-60">
              <div class="main-menu mr-30">
                <nav id="mobile-menu">
                  <ul>
                    <li class="menu-item-has-children">
                      <a href="${page.domain}">Home</a>
                      <ul class="sub-menu">
                        <li><a href="${page.domain}">Home</a></li>
                        <li><a href="index-2.html">Home 2</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="documentation.html">Documentation</a>
                      <ul class="sub-menu">
                        <li class="menu-item-has-children">
                          <a href="documy.html">Documy</a>
                          <ul class="sub-menu">
                            <li><a href="component.html">Component</a></li>
                            <li><a href="content.html">Content</a></li>
                            <li><a href="code-syntax.html">Code Syntax </a></li>
                            <li><a href="layout.html">Layout</a></li>
                            <li>
                              <a href="core-feature.html">Core feature</a>
                            </li>
                            <li><a href="faq.html">Faq</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="forum.html">Forum</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#!">Pages</a>
                      <ul class="sub-menu">
                        <li><a href="team-members.html">Team Members</a></li>
                        <li>
                          <a href="team-member-details.html"
                            >Team Member Details</a
                          >
                        </li>
                        <li><a href="404-page.html">404 pages</a></li>
                        <li><a href="contact.html">contact</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="blog.html">Blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-6 col-6">
            <div
              class="header-main-right d-flex align-items-center justify-content-end"
            >
              <a href="contact.html" class="duheader-btn d-none d-sm-block"
                >Get Documy</a
              >
              <a class="side-toggle ml-30" href="javascript:void(0)">
                <div class="bar-icon bar2-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header area end -->

    <main>
      <!-- page title start here -->
      <div class="page-title__area pt-155 breadcrumb-bg p-relative">
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape1.png"
          alt="img not found"
          class="f-shape-1"
        />
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape2.png"
          alt="img not found"
          class="f-shape-2"
        />
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="page__title-wrapper text-center">
                <h3 class="pb-125">Forum</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcurms-area white-bg pt-15 pb-15">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <nav class="breadcrumb-trail breadcrumbs">
                  <ul class="trail-items">
                    <li class="trail-item">
                      <a href="${page.domain}"
                        ><i class="fas fa-home"></i><span>Home</span></a
                      >
                    </li>
                    <li class="trail-item">Forum</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- page title end here -->

      <!-- about-info area start  -->
      <section class="about-info-area pt-130 pb-80">
        <div class="container">
          <div class="row wow fadeInUp">
            <div class="col-lg-8">
              <div class="forum-search-bar">
                <div class="filter-by-search mb-30">
                  <select class="question-category-select">
                    <option value="1">General</option>
                    <option value="2">Account</option>
                    <option value="3">Upload Artwork</option>
                    <option value="4">Wallet</option>
                    <option value="5">Transaction</option>
                    <option value="6">Purchase & Sale</option>
                    <option value="7">Contact & Support</option>
                  </select>
                  <form action="#" class="filter-search-input-forum">
                    <input type="text" placeholder="Search keyword" />
                    <button>
                      <i class="flaticon-search-interface-symbol"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="create-question-wrapper mb-50">
                <a href="#" class="create-question-btn">Create Your Question</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 order-lg-2">
              <div class="page-sidebar">
                <div class="row">
                  <div class="col-lg-12 col-md-6">
                    <div
                      id="categories-3"
                      class="sidebar__widget mb-55 widget_categories"
                    >
                      <h4 class="sidebar__widget-title mb-30">Categories</h4>
                      <ul>
                        <li class="cat-item cat-item-10">
                          <a href="blog-details.html">App &amp; Saas</a>
                        </li>
                        <li class="cat-item cat-item-11">
                          <a href="blog-details.html">Fresh Products</a>
                        </li>
                        <li class="cat-item cat-item-8">
                          <a href="blog-details.html">Graphics</a>
                        </li>
                        <li class="cat-item cat-item-9">
                          <a href="blog-details.html">IOS/Android Design</a>
                        </li>
                        <li class="cat-item cat-item-12">
                          <a href="blog-details.html">Saas Design</a>
                        </li>
                        <li class="cat-item cat-item-6">
                          <a href="blog-details.html">Web Design</a>
                        </li>
                        <li class="cat-item cat-item-7">
                          <a href="blog-details.html">Web Development</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div
                      id="tag_cloud-2"
                      class="sidebar__widget mb-40 widget_tag_cloud"
                    >
                      <h4 class="sidebar__widget-title mb-40">Tags</h4>
                      <div class="tagcloud">
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Animation</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Branding</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Design</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Ideas</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Landing</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >Pix Saas Blog</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >The Saas</a
                        >
                        <a href="blog-details.html" class="tag-cloud-link"
                          >UI/UX</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 order-lg-1">
              <div class="forum-post-wrapper mb-40">
                <div class="q-single-wrapper comments-show mb-40">
                  <div class="q-single-content">
                    <div class="author-name-time">
                      <div class="profile-img pos-rel">
                        <a href="#"
                          ><img
                            src="${page.tpath}/assets/img/profile/profile1.jpg"
                            alt="profile-img"
                        /></a>
                      </div>
                      <div class="name-post-time">
                        <h4 class="artist-name">
                          <a href="#">Daniyel D. Sunny</a>
                        </h4>
                        <div class="post-date-time">
                          <div class="post-date">06/20/2021</div>
                          <div class="post-time item-border-before">9:58am</div>
                        </div>
                      </div>
                    </div>
                    <h4 class="post-question">
                      How can generate money from online?
                    </h4>
                    <p>
                      Why do older entrepreneurs succeed? The key factor seems
                      to be experience. It is much harder to execute great ideas
                      when you have limited experience. It is more challenging
                      to develop an enduring strategy when you have limited
                      experience. And the same goes with smart tactical
                      decisions.
                    </p>
                    <div class="tags-list post-inner-tags">
                      <a href="#" class="tag">#nft</a>
                      <a href="#" class="tag">#online</a>
                      <a href="#" class="tag">#trend</a>
                      <a href="#" class="tag">#bitcoins</a>
                      <a href="#" class="tag">#Transcation</a>
                    </div>
                  </div>
                  <div class="q-meta-content">
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-heart"></i>
                      </div>
                      <div class="q-meta-likes">875</div>
                      <div class="q-meta-type">Likes</div>
                    </div>
                    <div class="q-meta-item">
                      <a href="#">
                        <div class="q-meta-icon">
                          <i class="fal fa-comments"></i>
                        </div>
                        <div class="q-meta-comments">859</div>
                        <div class="q-meta-type">Comments</div>
                      </a>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-share"></i>
                      </div>
                      <div class="q-meta-shares">54</div>
                      <div class="q-meta-type">Shares</div>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-viewed-member">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile1.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile2.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile4.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile5.jpg"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="q-meta-views">+55</div>
                      <div class="q-meta-type">Views</div>
                    </div>
                  </div>
                  <form action="#" class="q-write-answer mb-30">
                    <div class="profile-img pos-rel">
                      <a href="#"
                        ><img
                          src="${page.tpath}/assets/img/profile/profile8.jpg"
                          alt=""
                      /></a>
                    </div>
                    <div class="answer-submit">
                      <textarea
                        name="answer"
                        placeholder="Your answer"
                      ></textarea>
                      <div class="answer-submit-btn">
                        <button class="theme-btn">Answer</button>
                      </div>
                    </div>
                  </form>
                  <div class="q-answers mb-30">
                    <div class="q-single-answer">
                      <div class="author-name-time">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile10.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="name-post-time">
                          <h4 class="artist-name">
                            <a href="#">Kesory Jonathan</a>
                          </h4>
                          <div class="post-date-time">
                            <div class="post-date">06/20/2021</div>
                            <div class="post-time item-border-before">
                              9:58am
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="answer-text">
                        Hi, Daniyel. When we think of entrepreneurs today, they
                        tend to be in a rush to create things. When you were
                        thinking about building and growing your business.
                      </div>
                      <div class="ans-meta-content">
                        <div class="q-meta-item">
                          <div class="q-meta-icon">
                            <i class="fal fa-heart"></i>
                          </div>
                          <div class="q-meta-likes">50</div>
                          <div class="q-meta-type">Likes</div>
                        </div>
                        <div class="q-meta-item">
                          <button>
                            <span class="q-meta-icon"
                              ><i class="fal fa-share"></i
                            ></span>
                            <span class="q-meta-type">Reply</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="q-single-answer">
                      <div class="author-name-time">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile12.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="name-post-time">
                          <h4 class="artist-name">
                            <a href="#">Murray Johnson</a>
                          </h4>
                          <div class="post-date-time">
                            <div class="post-date">06/15/2021</div>
                            <div class="post-time item-border-before">
                              9:38am
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="answer-text">
                        Entrepreneurship is more all-in compared to a corporate
                        setting. Corporate culture tends to make people
                        objective, sort of neutral parts of the machine in a lot
                        of places. That’s pretty much the opposite of what is
                        needed in a startup,
                      </div>
                      <div class="ans-meta-content">
                        <div class="q-meta-item">
                          <div class="q-meta-icon">
                            <i class="fal fa-heart"></i>
                          </div>
                          <div class="q-meta-likes">87</div>
                          <div class="q-meta-type">Likes</div>
                        </div>
                        <div class="q-meta-item">
                          <button>
                            <span class="q-meta-icon"
                              ><i class="fal fa-share"></i
                            ></span>
                            <span class="q-meta-type">Reply</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="q-single-answer">
                      <div class="author-name-time">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile13.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="name-post-time">
                          <h4 class="artist-name">
                            <a href="#">Mary Callahan</a>
                          </h4>
                          <div class="post-date-time">
                            <div class="post-date">06/07/2021</div>
                            <div class="post-time item-border-before">
                              2:45am
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="answer-text">
                        Hi, Daniyel. When we think of entrepreneurs today, they
                        tend to be in a rush to create things. When you were
                        thinking about building and growing your business.
                      </div>
                      <div class="ans-meta-content">
                        <div class="q-meta-item">
                          <div class="q-meta-icon">
                            <i class="fal fa-heart"></i>
                          </div>
                          <div class="q-meta-likes">25</div>
                          <div class="q-meta-type">Likes</div>
                        </div>
                        <div class="q-meta-item">
                          <button>
                            <span class="q-meta-icon"
                              ><i class="fal fa-share"></i
                            ></span>
                            <span class="q-meta-type">Reply</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="q-answers-btn">
                    <button class="border-btn">
                      <i class="flaticon-reload"></i>View More Answers
                    </button>
                  </div>
                </div>
                <div class="q-single-wrapper mb-40 wow fadeInUp">
                  <div class="q-single-content">
                    <div class="author-name-time">
                      <div class="profile-img pos-rel">
                        <a href="#"
                          ><img
                            src="${page.tpath}/assets/img/profile/profile2.jpg"
                            alt="profile-img"
                        /></a>
                      </div>
                      <div class="name-post-time">
                        <h4 class="artist-name">
                          <a href="#">John Schreffler</a>
                        </h4>
                        <div class="post-date-time">
                          <div class="post-date">06/20/2021</div>
                          <div class="post-time item-border-before">9:58am</div>
                        </div>
                      </div>
                    </div>
                    <h4 class="post-question">
                      Change may hurt, but after the wounds have been licked
                    </h4>
                    <p>
                      Entrepreneurship is more all-in compared to a corporate
                      setting. Corporate culture tends to make people objective,
                      sort of neutral parts of the machine in a lot of places.
                      That’s pretty much the opposite of what is needed in a
                      startup,
                    </p>
                    <div class="tags-list post-inner-tags">
                      <a href="#" class="tag">#nft</a>
                      <a href="#" class="tag">#online</a>
                      <a href="#" class="tag">#trend</a>
                      <a href="#" class="tag">#bitcoins</a>
                      <a href="#" class="tag">#Transcation</a>
                    </div>
                  </div>
                  <div class="q-meta-content">
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-heart"></i>
                      </div>
                      <div class="q-meta-likes">875</div>
                      <div class="q-meta-type">Likes</div>
                    </div>
                    <div class="q-meta-item">
                      <a href="#">
                        <div class="q-meta-icon">
                          <i class="fal fa-comments"></i>
                        </div>
                        <div class="q-meta-comments">859</div>
                        <div class="q-meta-type">Comments</div>
                      </a>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-share"></i>
                      </div>
                      <div class="q-meta-shares">54</div>
                      <div class="q-meta-type">Shares</div>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-viewed-member">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile1.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile2.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile4.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile5.jpg"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="q-meta-views">+55</div>
                      <div class="q-meta-type">Views</div>
                    </div>
                  </div>
                </div>
                <div class="q-single-wrapper mb-40 wow fadeInUp">
                  <div class="q-single-content">
                    <div class="author-name-time">
                      <div class="profile-img pos-rel">
                        <a href="#"
                          ><img
                            src="${page.tpath}/assets/img/profile/profile3.jpg"
                            alt="profile-img"
                        /></a>
                      </div>
                      <div class="name-post-time">
                        <h4 class="artist-name"><a href="#">Kenny Chess</a></h4>
                        <div class="post-date-time">
                          <div class="post-date">06/20/2021</div>
                          <div class="post-time item-border-before">9:58am</div>
                        </div>
                      </div>
                    </div>
                    <h4 class="post-question">
                      Top learning trends and workplace predictions in 2020
                    </h4>
                    <p>
                      The key factor seems to be experience. It is much harder
                      to execute great ideas when you have limited experience.
                      It is more challenging to develop an enduring strategy
                      when you have limited experience.
                    </p>
                    <div class="tags-list post-inner-tags">
                      <a href="#" class="tag">#nft</a>
                      <a href="#" class="tag">#online</a>
                      <a href="#" class="tag">#trend</a>
                      <a href="#" class="tag">#bitcoins</a>
                      <a href="#" class="tag">#Transcation</a>
                    </div>
                  </div>
                  <div class="q-meta-content">
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-heart"></i>
                      </div>
                      <div class="q-meta-likes">875</div>
                      <div class="q-meta-type">Likes</div>
                    </div>
                    <div class="q-meta-item">
                      <a href="#">
                        <div class="q-meta-icon">
                          <i class="fal fa-comments"></i>
                        </div>
                        <div class="q-meta-comments">859</div>
                        <div class="q-meta-type">Comments</div>
                      </a>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-share"></i>
                      </div>
                      <div class="q-meta-shares">54</div>
                      <div class="q-meta-type">Shares</div>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-viewed-member">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile1.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile2.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile4.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile5.jpg"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="q-meta-views">+55</div>
                      <div class="q-meta-type">Views</div>
                    </div>
                  </div>
                </div>
                <div class="q-single-wrapper mb-40 wow fadeInUp">
                  <div class="q-single-content">
                    <div class="author-name-time">
                      <div class="profile-img pos-rel">
                        <a href="#"
                          ><img
                            src="${page.tpath}/assets/img/profile/profile4.jpg"
                            alt="profile-img"
                        /></a>
                      </div>
                      <div class="name-post-time">
                        <h4 class="artist-name">
                          <a href="#">Carol G. Johnson</a>
                        </h4>
                        <div class="post-date-time">
                          <div class="post-date">06/20/2021</div>
                          <div class="post-time item-border-before">9:58am</div>
                        </div>
                      </div>
                    </div>
                    <h4 class="post-question">
                      Can you see the future of bionic body?
                    </h4>
                    <p>
                      Entrepreneurship is more all-in compared to a corporate
                      setting. Corporate culture tends to make people objective,
                      sort of neutral parts of the machine in a lot of places.
                      That’s pretty much the opposite of what is needed in a
                      startup,......
                    </p>
                    <div class="tags-list post-inner-tags">
                      <a href="#" class="tag">#nft</a>
                      <a href="#" class="tag">#online</a>
                      <a href="#" class="tag">#trend</a>
                      <a href="#" class="tag">#bitcoins</a>
                      <a href="#" class="tag">#Transcation</a>
                    </div>
                  </div>
                  <div class="q-meta-content">
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-heart"></i>
                      </div>
                      <div class="q-meta-likes">875</div>
                      <div class="q-meta-type">Likes</div>
                    </div>
                    <div class="q-meta-item">
                      <a href="#">
                        <div class="q-meta-icon">
                          <i class="fal fa-comments"></i>
                        </div>
                        <div class="q-meta-comments">859</div>
                        <div class="q-meta-type">Comments</div>
                      </a>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-share"></i>
                      </div>
                      <div class="q-meta-shares">54</div>
                      <div class="q-meta-type">Shares</div>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-viewed-member">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile1.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile2.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile4.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile5.jpg"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="q-meta-views">+55</div>
                      <div class="q-meta-type">Views</div>
                    </div>
                  </div>
                </div>
                <div class="q-single-wrapper mb-40 wow fadeInUp">
                  <div class="q-single-content">
                    <div class="author-name-time">
                      <div class="profile-img pos-rel">
                        <a href="#"
                          ><img
                            src="${page.tpath}/assets/img/profile/profile5.jpg"
                            alt="profile-img"
                        /></a>
                      </div>
                      <div class="name-post-time">
                        <h4 class="artist-name">
                          <a href="#">Stive Machman</a>
                        </h4>
                        <div class="post-date-time">
                          <div class="post-date">06/20/2021</div>
                          <div class="post-time item-border-before">9:58am</div>
                        </div>
                      </div>
                    </div>
                    <h4 class="post-question">
                      How startups and corporations can work together?
                    </h4>
                    <p>
                      The Company may suspend or cancel the User’s account if it
                      considers that the User has breached these terms. accuracy
                      or whether they are fit for a specific purpose or
                      activity......
                    </p>
                    <div class="tags-list post-inner-tags">
                      <a href="#" class="tag">#nft</a>
                      <a href="#" class="tag">#online</a>
                      <a href="#" class="tag">#trend</a>
                      <a href="#" class="tag">#bitcoins</a>
                      <a href="#" class="tag">#Transcation</a>
                    </div>
                  </div>
                  <div class="q-meta-content">
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-heart"></i>
                      </div>
                      <div class="q-meta-likes">875</div>
                      <div class="q-meta-type">Likes</div>
                    </div>
                    <div class="q-meta-item">
                      <a href="#">
                        <div class="q-meta-icon">
                          <i class="fal fa-comments"></i>
                        </div>
                        <div class="q-meta-comments">859</div>
                        <div class="q-meta-type">Comments</div>
                      </a>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-icon">
                        <i class="fal fa-share"></i>
                      </div>
                      <div class="q-meta-shares">54</div>
                      <div class="q-meta-type">Shares</div>
                    </div>
                    <div class="q-meta-item">
                      <div class="q-meta-viewed-member">
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile1.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile2.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile3.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile4.jpg"
                              alt=""
                          /></a>
                        </div>
                        <div class="profile-img pos-rel">
                          <a href="#"
                            ><img
                              src="${page.tpath}/assets/img/profile/profile5.jpg"
                              alt=""
                          /></a>
                        </div>
                      </div>
                      <div class="q-meta-views">+55</div>
                      <div class="q-meta-type">Views</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row wow fadeInUp">
            <div class="col-12">
              <div class="basic-pagination pt-20 mb-40">
                <ul>
                  <li>
                    <a href="blog.html">
                      <i class="fal fa-long-arrow-left"></i>
                      <i class="fal fa-long-arrow-left"></i>
                    </a>
                  </li>
                  <li>
                    <span aria-current="page" class="page-numbers current"
                      >1</span
                    >
                  </li>
                  <li><a class="page-numbers" href="#">2</a></li>
                  <li>
                    <a class="next page-numbers" href="#"
                      ><i class="fal fa-long-arrow-right"></i
                      ><i class="fal fa-long-arrow-right"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about-info area end  -->
    </main>

    <!-- footer area start  -->
    <footer>
      <section class="footer__area p-relative">
        <div class="footer-top grey2-bg pt-100 pb-60">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-1 mb-40">
                  <div class="footer__widget-logo mb-30">
                    <a href="${page.domain}"
                      ><img
                        src="${page.tpath}/assets/img/logo/logo-black.png"
                        alt="footer-logo"
                    /></a>
                  </div>
                  <p>
                    Manage any project from start to finish with highly
                    customizable views that make project planning a breezed out
                    formal.
                  </p>
                  <ul class="footer__widget-social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-2 mb-40 ml-125">
                  <h4 class="footer__widget-title mb-25">Quick Links</h4>
                  <ul class="footer__widget-links">
                    <li><a href="#">Technical Support</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="documentation.html">Documentation</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-3 mb-40">
                  <h4 class="footer__widget-title mb-35">Newsletter</h4>
                  <form action="#" class="footer__widget-subscribe">
                    <div class="field field2 p-relative">
                      <input type="email" placeholder="Enter your email" />
                    </div>
                  </form>
                  <div class="free__trial">
                    <span class="free__trial-text"
                      >Try for free once
                      <img
                        src="${page.tpath}/assets/img/footer-shape/left-arrow.png"
                        alt="img"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright pt-20 pb-20">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="copyright-text text-center">
                  <p>© 2022 All Rights Reserved by BDevs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!-- footer area end  -->

    <!-- pre loader area start -->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div
            class="loading-icon text-center d-flex flex-column align-items-center justify-content-center"
          >
            <img
              src="${page.tpath}/assets/img/logo/logo-black.png"
              alt="logo-img"
            />
            <img
              class="loading-logo"
              src="${page.tpath}/assets/img/logo/preloader.svg"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- back to top end -->

    <!-- JS here -->
    <script
      data-cfasync="false"
      src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="${page.tpath}/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="${page.tpath}/assets/js/vendor/waypoints.min.js"></script>
    <script src="${page.tpath}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/meanmenu.js"></script>
    <script src="${page.tpath}/assets/js/metisMenu.min.js"></script>
    <script src="${page.tpath}/assets/js/swiper-bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/magnific-popup.min.js"></script>
    <script src="${page.tpath}/assets/js/progresscircle.js"></script>
    <script src="${page.tpath}/assets/js/backToTop.js"></script>
    <script src="${page.tpath}/assets/js/nice-select.min.js"></script>
    <script src="${page.tpath}/assets/js/jquery.countdown.min.js"></script>
    <script src="${page.tpath}/assets/js/skill.bars.jquery.js"></script>
    <script src="${page.tpath}/assets/js/typed.min.js"></script>
    <script src="${page.tpath}/assets/js/loader.js"></script>
    <script src="${page.tpath}/assets/js/ajax-form.js"></script>
    <script src="${page.tpath}/assets/js/codemirror.js"></script>
    <script src="${page.tpath}/assets/js/xml.js"></script>
    <script src="${page.tpath}/assets/js/wow.min.js"></script>
    <script src="${page.tpath}/assets/js/isotope.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/main.js"></script>
  </body>
</html>
