<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Documy - Online Documentation HTML5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="${page.tpath}/assets/img/favicon.png"
    />
    <!-- CSS here -->
    <link rel="stylesheet" href="${page.tpath}/assets/css/preloader.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/meanmenu.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/metismenu.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/animate.min.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/swiper-bundle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/backToTop.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/progresscircle.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/nice-select.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/fontAwesome5Pro.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/flaticon.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/default.css" />
    <link rel="stylesheet" href="${page.tpath}/assets/css/codemirror.css" />
    <link
      rel="stylesheet"
      href="${page.tpath}/assets/css/codemirror-theme.css"
    />
    <link rel="stylesheet" href="${page.tpath}/assets/css/style.css" />
  </head>

  <body>
    <!-- side toggle start -->
    <div class="fix">
      <div class="side-info">
        <div class="side-info-content">
          <div class="offset-widget offset-logo mb-40">
            <div class="row align-items-center">
              <div class="col-9">
                <a href="${page.domain}">
                  <img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="Logo"
                  />
                </a>
              </div>
              <div class="col-3 text-end">
                <button class="side-info-close">
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="mobile-menu d-xl-none fix"></div>
          <div class="offset-widget offset_searchbar mb-30">
            <div class="menu-search position-relative">
              <form action="#" class="filter-search-input">
                <input type="text" placeholder="Search keyword" />
                <button><i class="fal fa-search"></i></button>
              </form>
            </div>
          </div>
          <div class="offset-widget offset_menu-top mb-20">
            <div class="header-menu-top-icon mb-20">
              <a href="tel:(555)574790456"
                ><i class="fas fa-phone"></i>(555) 574 790 456</a
              >
              <a
                href="../../../cdn-cgi/l/email-protection.html#ed84838b82ad88958c809d8188c38e8280"
                ><i class="fal fa-envelope"></i
                ><span
                  class="__cf_email__"
                  data-cfemail="f990979f96b99c81989489959cd79a9694"
                  >[email&#160;protected]</span
                ></a
              >
              <i class="fal fa-map-marker-alt"></i
              ><span>Aprox jue Austalia</span>
            </div>
          </div>
          <div class="offset-widget button mb-20">
            <a class="theme-btn" href="contact.html">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-overlay-white"></div>
    <!-- side toggle end -->
    <!-- header area start  -->
    <header class="header2 header-transparent du-sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-2 col-lg-2 col-md-6 col-6">
            <div class="header-main-left">
              <div class="header-logo header1-logo">
                <a href="${page.domain}" class="logo-bl"
                  ><img
                    src="${page.tpath}/assets/img/logo/logo-black.png"
                    alt="logo-img"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 d-none d-lg-block">
            <div class="header-main-right ml-60">
              <div class="main-menu mr-30">
                <nav id="mobile-menu">
                  <ul>
                    <li class="menu-item-has-children">
                      <a href="${page.domain}">Home</a>
                      <ul class="sub-menu">
                        <li><a href="${page.domain}">Home</a></li>
                        <li><a href="index-2.html">Home 2</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="documentation.html">Documentation</a>
                      <ul class="sub-menu">
                        <li class="menu-item-has-children">
                          <a href="documy.html">Documy</a>
                          <ul class="sub-menu">
                            <li><a href="component.html">Component</a></li>
                            <li><a href="content.html">Content</a></li>
                            <li><a href="code-syntax.html">Code Syntax </a></li>
                            <li><a href="layout.html">Layout</a></li>
                            <li>
                              <a href="core-feature.html">Core feature</a>
                            </li>
                            <li><a href="faq.html">Faq</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="forum.html">Forum</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="#!">Pages</a>
                      <ul class="sub-menu">
                        <li><a href="team-members.html">Team Members</a></li>
                        <li>
                          <a href="team-member-details.html"
                            >Team Member Details</a
                          >
                        </li>
                        <li><a href="404-page.html">404 pages</a></li>
                        <li><a href="contact.html">contact</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="blog.html">Blog</a>
                      <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-3 col-md-6 col-6">
            <div
              class="header-main-right d-flex align-items-center justify-content-end"
            >
              <a href="contact.html" class="duheader-btn d-none d-sm-block"
                >Get Documy</a
              >
              <a class="side-toggle ml-30" href="javascript:void(0)">
                <div class="bar-icon bar2-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header area end -->

    <main>
      <!-- page title start here -->
      <div class="page-title__area pt-155 breadcrumb-bg p-relative">
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape1.png"
          alt="img not found"
          class="f-shape-1"
        />
        <img
          src="${page.tpath}/assets/img/banner/shape/h-shape2.png"
          alt="img not found"
          class="f-shape-2"
        />
        <div class="container">
          <div class="row">
            <div class="col-xxl-12">
              <div class="page__title-wrapper text-center">
                <h3 class="pb-125">Team Member Details</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcurms-area white-bg pt-15 pb-15">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <nav class="breadcrumb-trail breadcrumbs">
                  <ul class="trail-items">
                    <li class="trail-item">
                      <a href="${page.domain}"
                        ><i class="fas fa-home"></i><span>Home</span></a
                      >
                    </li>
                    <li class="trail-item">Team Member Details</li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- page title end here -->

      <!--  Developer Details area start here-->
      <section class="team-details-area pt-130 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-8">
              <div class="duteam_sidebar mb-50">
                <div
                  class="duteam__sidebar-widget duteam__sidebar-widget-single mb-30"
                >
                  <div class="duteam mb-20">
                    <div class="duteam-img mb-20 p-relative">
                      <img
                        src="${page.tpath}/assets/img/team/team-7.jpg"
                        alt="team img not found"
                      />
                      <div class="duteam-thumb-info text-center">
                        <div class="duteam-social">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="duteam-info">
                      <h4 class="duteam-info-author">
                        <a href="team-member-details.html">Narayan Kamora</a>
                      </h4>
                      <span>Designer</span>
                    </div>
                  </div>
                  <ul class="team__sidebar--widget__info">
                    <li>
                      <div class="team__sidebar--widget__info-text">
                        <h5><i class="fal fa-phone"></i>Phone</h5>
                        <span
                          ><a href="tel:02(205)5552255"
                            >02 (205) 555 2255</a
                          ></span
                        >
                      </div>
                    </li>
                    <li>
                      <div class="team__sidebar--widget__info-text">
                        <h5><i class="fal fa-envelope"></i>Email</h5>
                        <span
                          ><a
                            href="../../../cdn-cgi/l/email-protection.html#8ae3e4ece5cae7efedebe9efe4fef8efa4e9e5e7"
                            ><span
                              class="__cf_email__"
                              data-cfemail="563f383039163b3331373533382224337835393b"
                              >[email&#160;protected]</span
                            ></a
                          ></span
                        >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
              <div class="team-details-wrapper">
                <h4 class="team-details-subtitle mb-20">Personal Summery</h4>
                <p class="mb-30">
                  Interdum habitant gravida platea tin vestibu socise posuere
                  posuere bicoramoni gold end environmen cause telling biking
                  decking tempor eunce natoque proin malesuada convallis to
                  mattis blandit ridiculus vel eros sociis litora euismod
                  blandit aenean sed hymenaeos varius hacer arcu mattis placerat
                  dictum facilisi dignissim torquent vestibulum faucibus aenean
                  primisltent
                </p>
                <h4 class="team-details-subtitle mb-20">Qualification</h4>
                <div class="team__qualification mb-35">
                  <div class="team__qualification-single mb-20">
                    <span>2016 - 2018</span>
                    <h4 class="team__qualification-single-title">
                      Master Education Degree
                    </h4>
                    <p class="team__qualification-single-subtitle">
                      Risus habitasse senectus mauris facilisi auctor venenatis
                      aliquam vulputate iaculis curae bibendum fusce imperdiet
                      congue dapibus dignissim dolor eleifend orci fringilla
                      massa mollis.
                    </p>
                  </div>
                  <div class="team__qualification-single mb-20">
                    <span>2010 - 2014</span>
                    <h4 class="team__qualification-single-title">
                      Bachelor Education Degree
                    </h4>
                    <p class="team__qualification-single-subtitle">
                      Aliquam vulputate risus habitasse senectus mauris facilisi
                      auctor venenatis iaculis curae bibendum fusce imperdiet
                      congue dapibus dignissim dolor eleifend orci fringilla
                      massa mollis.
                    </p>
                  </div>
                  <div class="team__qualification-single mb-20">
                    <span>2018 - 2020</span>
                    <h4 class="team__qualification-single-title">
                      UX/UI Design Advance Course
                    </h4>
                    <p class="team__qualification-single-subtitle">
                      Facilisi auctor risus habitasse senectus mauris venenatis
                      aliquam vulputate iaculis curae bibendum fusce imperdiet
                      congue dapibus dignissim dolor eleifend orci fringilla
                      massa mollis.
                    </p>
                  </div>
                </div>
                <div class="team-single__recent-portfolio">
                  <h4 class="team-details-subtitle mb-25">Recent Portfolio</h4>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 mb-30">
                      <div class="team-single-portfolio-img">
                        <img
                          src="${page.tpath}/assets/img/team/portfolio-1.jpg"
                          alt="img not found"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-30">
                      <div class="team-single-portfolio-img">
                        <img
                          src="${page.tpath}/assets/img/team/portfolio-2.jpg"
                          alt="img not found"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-30">
                      <div class="team-single-portfolio-img">
                        <img
                          src="${page.tpath}/assets/img/team/portfolio-3.jpg"
                          alt="img not found"
                        />
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-30">
                      <div class="team-single-portfolio-img">
                        <img
                          src="${page.tpath}/assets/img/team/portfolio-4.jpg"
                          alt="img not found"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Developer Details area end here-->
    </main>

    <!-- footer area start  -->
    <footer>
      <section class="footer__area p-relative">
        <div class="footer-top grey2-bg pt-100 pb-60">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-1 mb-40">
                  <div class="footer__widget-logo mb-30">
                    <a href="${page.domain}"
                      ><img
                        src="${page.tpath}/assets/img/logo/logo-black.png"
                        alt="footer-logo"
                    /></a>
                  </div>
                  <p>
                    Manage any project from start to finish with highly
                    customizable views that make project planning a breezed out
                    formal.
                  </p>
                  <ul class="footer__widget-social">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-2 mb-40 ml-125">
                  <h4 class="footer__widget-title mb-25">Quick Links</h4>
                  <ul class="footer__widget-links">
                    <li><a href="#">Technical Support</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="documentation.html">Documentation</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer__widget footer-3 mb-40">
                  <h4 class="footer__widget-title mb-35">Newsletter</h4>
                  <form action="#" class="footer__widget-subscribe">
                    <div class="field field2 p-relative">
                      <input type="email" placeholder="Enter your email" />
                    </div>
                  </form>
                  <div class="free__trial">
                    <span class="free__trial-text"
                      >Try for free once
                      <img
                        src="${page.tpath}/assets/img/footer-shape/left-arrow.png"
                        alt="img"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright pt-20 pb-20">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="copyright-text text-center">
                  <p>© 2022 All Rights Reserved by BDevs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!-- footer area end  -->

    <!-- pre loader area start -->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div
            class="loading-icon text-center d-flex flex-column align-items-center justify-content-center"
          >
            <img
              src="${page.tpath}/assets/img/logo/logo-black.png"
              alt="logo-img"
            />
            <img
              class="loading-logo"
              src="${page.tpath}/assets/img/logo/preloader.svg"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- back to top end -->

    <!-- JS here -->
    <!-- JS here -->
    <script
      data-cfasync="false"
      src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="${page.tpath}/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="${page.tpath}/assets/js/vendor/waypoints.min.js"></script>
    <script src="${page.tpath}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/meanmenu.js"></script>
    <script src="${page.tpath}/assets/js/metisMenu.min.js"></script>
    <script src="${page.tpath}/assets/js/swiper-bundle.min.js"></script>
    <script src="${page.tpath}/assets/js/magnific-popup.min.js"></script>
    <script src="${page.tpath}/assets/js/progresscircle.js"></script>
    <script src="${page.tpath}/assets/js/backToTop.js"></script>
    <script src="${page.tpath}/assets/js/nice-select.min.js"></script>
    <script src="${page.tpath}/assets/js/jquery.countdown.min.js"></script>
    <script src="${page.tpath}/assets/js/skill.bars.jquery.js"></script>
    <script src="${page.tpath}/assets/js/typed.min.js"></script>
    <script src="${page.tpath}/assets/js/loader.js"></script>
    <script src="${page.tpath}/assets/js/ajax-form.js"></script>
    <script src="${page.tpath}/assets/js/codemirror.js"></script>
    <script src="${page.tpath}/assets/js/xml.js"></script>
    <script src="${page.tpath}/assets/js/wow.min.js"></script>
    <script src="${page.tpath}/assets/js/isotope.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="${page.tpath}/assets/js/main.js"></script>
  </body>
</html>
